<div class="card ui fluid">
    <div class="content">
        <div class="header" >Depósitos</div>
    </div>

    <div id="content-presencas" class="content">
        <div class="card-content">
            <div class="row">
                <ul>
                    <li>Acompanhe os comprovantes anexados e e defina a inscrição como paga</li>
                    <li>Ao definir como pago um e-mail de confirmação é enviado ao participante</li>
                </ul>
                <div class="col-md-4">
                    <i class="material-icons c-orange500">label_outline</i> Sem presença<br/>
                    <i class="material-icons c-green500">label</i> Com presença
                </div>
                <div class="col-md-4">
                    <i class="material-icons c-orange500">attach_file</i>Arquivo não anexado<br/>
                    <i class="material-icons c-green500">attach_file</i> Arquivo anexado
                </div>
                <div class="col-md-4">
                    <i class="material-icons c-orange500">attach_money</i>Não depositado<br/>
                    <i class="material-icons c-green500">attach_money</i>Depositado
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <div id="data-table-basic_wrapper" class="dataTables_wrapper">
                <table id="data-table-basic" class="table table-striped dataTable" role="grid"
                       aria-describedby="data-table-basic_info" style="width: 100%;">
                    <thead>
                    <td></td>
                    <td><strong>Presença</strong></td>
                    <td><strong>Inscrito em</strong></td>
                    <td><strong>Nome</strong></td>
                    <td><strong>Documento</strong></td>
                    <td><strong>E-mail</strong></td>
                    <td><strong>C</strong></td>
                    <td><strong>I</strong></td>
                    </thead>

                {% for inscricao in inscricoes %}
                    <tr>
                        <td>{{ inscricao.created|date('YmdHHii') }}</td>
                        <td>
                            {% if inscricao.presenca %}
                                <i class="material-icons c-green500">label</i>
                            {% else %}
                                <div id="admin_evento_atividade_presenca_ajax{{ inscricao.id }}" class="admin_evento_atividade_presenca_ajax"
                                        evento="{{ inscricao.eventoAtividade.evento.id }}"
                                        eventoAtividade="{{ inscricao.eventoAtividade.id }}"
                                        inscricao="{{ inscricao.id }}">
                                    <i class="material-icons c-orange500">label_outline</i>
                                </div>
                            {% endif %}
                        </td>
                        <td><a href="{{ path('evento_inscricao_edit', {
                                'evento' : inscricao.eventoAtividade.evento.id,
                                'eventoAtividade' : inscricao.eventoAtividade.id,
                                'id' : inscricao.id,
                                'back' : path('admin_evento_evento_atividade_deposito_index',{
                                    'evento' : inscricao.eventoAtividade.evento.id,
                                    'eventoAtividade' : inscricao.eventoAtividade.id,
                                })
                            })
                            }}">{{ inscricao.created|date('d M Y H:i') }}</a></td>
                        <td>{{ inscricao.participante.nome }}</td>
                        <td>{{ inscricao.participante.documento }}</td>
                        <td>{{ inscricao.participante.email }}</td>
                        <td>
                            {% if inscricao.getDeposito is not empty %}
                                <a target="_blank" href="{{ vich_uploader_asset(inscricao.getDeposito, 'deposito') }}">
                                    <i class="material-icons
                                     {% if inscricao.getDeposito.deposito is not empty %} c-green500 {% else %} c-orange500 {% endif %}"
                                    >attach_file</i>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('evento_inscricao_edit', {
                                'evento' : inscricao.eventoAtividade.evento.id,
                                'eventoAtividade' : inscricao.eventoAtividade.id,
                                'id' : inscricao.id,
                                'back' : path('admin_evento_evento_atividade_deposito_index',{
                                    'evento' : inscricao.eventoAtividade.evento.id,
                                    'eventoAtividade' : inscricao.eventoAtividade.id,
                                })
                            })
                            }}">
                                {# nao depositado #}
                                {% if inscricao.getDeposito is not empty and inscricao.getDeposito.pago %}
                                    <i class="material-icons c-green500">attach_money</i>
                                {% else %}
                                    <i class="material-icons c-orange500">attach_money</i>
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <div class="card-padding">
            {% if inscricoes is empty %}
                <label>Atividade ainda não possui inscritos</label>
            {% endif %}
        </div>


    </div>
</div>