{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block body %}
    {% include 'FCMQuestionBundle:Deposito:block.deposito.html.twig' %}

{% endblock %}

{% block jscustom %}
    {% javascripts
    '@FCMEventoBundle/Resources/public/js/jquery.dataTables.min.js'
    '@FCMBoletoFuncampBundle/Resources/public/js/notify.js'
    '@FCMEventoBundle/Resources/public/js/presenca.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $('#data-table-basic').DataTable(
                {
                    "columnDefs": [
                        { "orderData": [ 0 ],    "targets": 2 },
                        {
                            "targets": [ 0 ],
                            "visible": false,
                            "searchable": false
                        },
                    ],
                    "order": [[ 0, "desc" ]],
                }
            );
        });
    </script>
{% endblock %}