{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block title %}Gerenciador de eventos{% endblock %}

{% block body %}
    <h1>
        {% image '@FCMThemeBundle/Resources/public/images/Error-96.png' %}
        <img src="{{ asset_url }}">Oops! Um erro ocorreu</h1>
        {% endimage %}

    <h2>Tente novamente ou entre em contato com a informática</h2>
    <br />
    <p>
        <strong>Em caso de dúvidas</strong><br/>
        Diretoria Técnica de Informática<br/>
        Telefone: 19 3521-6571<br/>
        E-mail: dtiia@unicamp.br<br/>
    </p>
    <br />
    <h3>Mensagem do servidor "{{ status_code }} {{ status_text }}".</h3>
{% endblock %}