<head>
    <meta HTTP-EQUIV='Content-Type' CONTENT='text/html; charset=utf-8' />
</head>

<style>
    .container,
    .header,
    .assinatura {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        float: left;
    }

    .container > div {
        display: inline-block;
    }

    .header {
        height: 35%;
    }

    .container {
        height: 30%;
        {{ eventoAtividade.evento.cssCorpo|default('') }}
    }

    .assinatura {
        position: absolute;
        bottom: 120px;
        vertical-align: middle;
        margin-left: 45px;
        width: 970px;
    }

</style>

{% if fundo is not empty %}
    {% set fundopath = fundo %}
{% else %}
    {% set fundopath = asset('bundles/fcmevento/images/modelo_certificado.png') %}
{% endif %}

<body style="background: url('{{ fundopath }}') no-repeat left top ; background-image-resize: 6">

    <div class='header'>
        <!--Texto invisivel-->

    </div>

    <div class='container'>
        {{ corpo|raw }}
    </div>

    {% if assinatura is not empty %}
    <!-- DIV ASSINATURA -->
    <div class='assinatura'>
        <img src="{{ assinatura }}">
    </div>
    {% endif %}
</body>