<div class="card ui teal fluid">
    <div class="card-title ">
        <h2><a href="{{ back }}"><i class="material-icons">arrow_back</i></a>{{ eventoAtividade.nome }}</h2>
        <p><small>{{ eventoAtividade.evento.nome }}</small></p>
    </div>

    <div class="card-action">
        <a href="{{ path('admin_evento_atividade_edit', {'evento' : eventoAtividade.evento.id, 'id' : eventoAtividade.id}) }}">Editar atividade</a>
        {% if eventoAtividade is not empty and eventoAtividade.inscricoes|length > 0 %}

            <a href="{{ path('admin_evento_atividade_presenca_index', {'evento' : eventoAtividade.evento.id,
                'eventoAtividade' : eventoAtividade.id }) }}" />Presenças
            </a>

            <a href="{{ path('admin_evento_atividade_message', {'evento' : eventoAtividade.evento.id,
                'id' : eventoAtividade.id }) }}" />Enviar mensagem
            </a>


        {% endif %}
    </div>
</div>