{% import ':macros:base.html.twig' as macros %}
<div class="card ui teal fluid">
    <div class="content">
        <div class="header">Inscrições em {{ eventoAtividade.nome }}</div>
    </div>

    <div class="content">
        {% include ':default:button.html.twig' with {
            'text' : 'Inscrever participante',
            'href' : path('admin_evento_atividade_presenca_inscrever', {
                'evento' : evento.id,
                'eventoAtividade' : eventoAtividade.id })
        }%}

        {% if trabalhos is not empty %}
            {% include ':default:button.html.twig' with {'text' : 'Trabalhos', 'href' : trabalhos} %}
        {% endif %}

        {% include ':default:button.html.twig' with {
            'text' : 'Lista de presença',
            'href' : path('admin_evento_atividade_presenca_lista', {
                'evento' : evento.id,
                'eventoAtividade' : eventoAtividade.id })
        } %}

        {% include ':default:button.html.twig' with {
            'text' : 'Crachás de identificação',
            'href' : path('admin_eventoAtividade_etiqueta_edit', {
                'eventoAtividade' : eventoAtividade.id })
        } %}


        {% if eventoAtividade.questionarioInscricao is not empty %}
            {% include ':default:button.html.twig' with {
            'text' : 'Acompanhamento de vagas',
            'href' : path('admin_evento_atividade_presenca_ocupacao', {
                'evento' : eventoAtividade.evento.id,
            'eventoAtividade' : eventoAtividade.id, })
            } %}
        {% endif %}

    </div>
    <!-- Estatisticas -->
    {% if eventoAtividade.questionarioInscricao is not empty%}
    <div class="content">
        <div class="ui accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                Estatísticas
            </div>
            <div class="content">
                <div class="ui grid three column">
                    {% set hasGraph = false %}
                    {% for pergunta in eventoAtividade.questionarioInscricao.perguntas %}
                        {% if pergunta.isChoiceType %}
                            {% set hasGraph = true %}
                            <div class="wide column">
                                {{ macros.graphSingleChoice(pergunta) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if hasGraph == false %}
                    <p>Você não possui perguntas de alternativa</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="content">

        <div class="row">
            <div class="col-md-4">
                <i class="material-icons c-orange500">label_outline</i> Sem presença<br/>
                <i class="material-icons c-green500">label</i> Com presença
            </div>
            <div class="col-md-4">
                <i class="material-icons c-orange500">bookmark_border</i> Certificado não visualizado<br/>
                <i class="material-icons c-green500">bookmark_border</i> Certificado visualizado pelo participante
            </div>
            <div class="col-md-4">
                {% if eventoAtividade %}
                    <i class="material-icons c-grey500">local_offer</i> Imprimir crachá
                {% endif %}
                {% if isPago %}
                    <i class="material-icons c-red500">attach_money</i>Não gerado
                    <i class="material-icons c-orange500">attach_money</i>Não pago<br/>
                    <i class="material-icons c-green500">attach_money</i>Pago
                    <i class="material-icons c-cyan500">attach_money</i>Isento<br/>
                {% endif %}
            </div>
        </div>
        <div class="ui  statistics">
            <div class="ui statistic">
                <div class="value">
                    {{ inscricoes|length }}/{{ eventoAtividade.presentes }}
                </div>
                <div class="label">
                    Inscrito(s) / Presente(s)
                </div>
            </div>
            <div class="ui statistic">
                <div class="value">

                </div>
                <div class="label">

                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <div id="data-table-basic_wrapper" class="dataTables_wrapper">
            <table id="data-table-basic" class="table table-striped dataTable" role="grid"
                   aria-describedby="data-table-basic_info" style="width: 100%;">
                <thead>
                <td></td>
                <td><strong>Presença</strong></td>
                <td><strong>Inscrito em</strong></td>
                <td><strong>Nome</strong></td>
                <td><strong>Documento</strong></td>
                <td><strong>E-mail</strong></td>
                <td><strong>Ações</strong></td>
                </thead>

            {% for inscricao in inscricoes %}
                <tr>
                    <td>{{ inscricao.created|date('YmdHHii') }}</td>
                    <td>
                        <div id="admin_evento_atividade_presenca_ajax{{ inscricao.id }}" class="admin_evento_atividade_presenca_ajax"
                             evento="{{ inscricao.eventoAtividade.evento.id }}"
                             eventoAtividade="{{ inscricao.eventoAtividade.id }}"
                             inscricao="{{ inscricao.id }}">
                            {{ macros.toggle(inscricao.presenca) }}
                        </div>
                    </td>
                    <td><a href="{{ path('evento_inscricao_edit', {
                            'evento' : inscricao.eventoAtividade.evento.id,
                            'eventoAtividade' : inscricao.eventoAtividade.id,
                            'id' : inscricao.id,
                            'back' : path('admin_evento_atividade_presenca_index',{
                                'evento' : inscricao.eventoAtividade.evento.id,
                                'eventoAtividade' : inscricao.eventoAtividade.id,
                            })
                        })
                        }}">{{ inscricao.created|date('d/m/Y H:i') }}</a></td>
                    <td>{{ inscricao.participante.nome }}</td>
                    <td>{{ inscricao.participante.documento }}</td>
                    <td>{{ inscricao.participante.email }}</td>
                    <td>
                        {% if eventoAtividade.etiqueta %}
                            <div onclick="printEtiqueta({{ inscricao.id }})">
                                <i class="material-icons c-grey500">local_offer</i>
                            </div>
                        {% endif %}

                        {% if inscricao.presenca %}
                        <a href="{{ path('certificado_show', { 'token' : inscricao.token}) }}">
                            {% if inscricao.emitiu %}
                                <i class="material-icons c-green500">bookmark_border</i>
                            {% else %}
                                <i class="material-icons c-orange500">bookmark_border</i>
                            {% endif %}

                        </a>
                        {% endif %}

                        {% if isPago %}

                            {# Sem boleto #}
                            {% if not inscricao.boleto %}
                                <a href="{{ path('admin_inscricao_boleto_new', {'inscricao' : inscricao.id}) }}">
                                    <i class="material-icons c-red500">attach_money</i>
                                </a>

                                {# Com boleto #}
                            {% else %}
                                <a href="{{ path('admin_inscricao_boleto_edit', {'inscricao' : inscricao.id,'id' : inscricao.boleto.id}) }}">
                                {# Boleto nao enviado #}
                                {% if inscricao.boleto.status == 0 %}
                                    <i class="material-icons c-orange500">attach_money</i>
                                {% endif %}

                                {# Boleto nao pago #}
                                {% if inscricao.boleto.status == 1 %}
                                    <i class="material-icons c-orange500">attach_money</i>
                                {% endif %}

                                {% if inscricao.boleto.status == 2 %}
                                    <i class="material-icons c-green500">attach_money</i>
                                {% endif %}

                                {% if inscricao.boleto.status == 9 %}
                                    <i class="material-icons c-cyan500">attach_money</i>
                                {% endif %}
                                </a>

                            {% endif %}

                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <div class="content">
        {% if inscricoes is empty %}
            <label>Atividade ainda não possui inscritos</label>
        {% endif %}
    </div>
</div>

{% block jscustom %}]
    <script>
        function printEtiqueta(inscricao) {
            var pos = prompt("Posição da folha", "1");

            if (pos == null || pos == "") {
                alert('Impressão cancelada');
            } else {
                txt = "Hello " + pos + "! How are you today?";
            }
            url = Routing.generate('admin_eventoAtividade_etiqueta_print', {
                'eventoAtividade' : {{ eventoAtividade.id }},
                'inscricao' : inscricao,
                'pos' : pos});

            var win = window.open(url, '_blank');
            win.focus();

            alert(rota);

        }
    </script>
{% endblock %}