{% if inscricao.presenca %}
    {% include ':default:button.html.twig' with {
        'text' : 'Visualizar certificado',
        'href' : path('certificado_show', { 'token': inscricao.token }),
        'class' : 'basic'
    }%}
{% else %}
    {% include ':default:button.html.twig' with {
        'text' : 'Registrar presença',
        'href' : '#',
        'class' : 'basic'
    }%}

{% endif %}