    <div class="col-md-4">
    <div class="card card-atividade">
        <div class="card-title bgm-lightblue">
            <h2><a href="{{ back }}"><i class="material-icons">arrow_back</i></a><a href="{{ path('evento_show', {'id' : evento.id}) }}">{{ evento.nome }}</a></h2>
            <h3><a href="{{ path('admin_evento_atividade_edit', {'evento' : evento.id,
                    'id' : eventoAtividade.id }) }}">{{ eventoAtividade.nome }}</a></h3>
        </div>
        <div class="card-image">
            <img class="img-responsive" src="{{ vich_uploader_asset(evento, 'thumbnail') }}" >
        </div>
        {# Inscrices #}
        <div class="card-action">
            <label> Período de inscrição</label>
            {% if inscricoes|length > 0 %}<p><span class="badge ">{{ inscricoes|length }}</span> total de inscritos</p>{% endif %}
            {% if eventoAtividade.maxInscricao > 0 %}<p><span class="badge ">{{ eventoAtividade.maxInscricao }}</span> máximo de inscrições</p>{% endif %}
            {{ eventoAtividade.dataIniInscricao|date('d M Y') }} até {{ eventoAtividade.dataFimInscricao|date('d M Y') }}
        </div>

        {# Atividade #}
        <div class="card-action">
            <label> Data da atividade</label>
            {% if presentes is defined and presentes > 0 %}<p><span class="badge ">{{ presentes }}</span> total de presentes</p>{% endif %}
            <br />{{ eventoAtividade.dataIniAtividade|date('d M Y H:i') }} até {{ eventoAtividade.dataFimAtividade|date('d M Y H:i') }}
        </div>

        {# Descricao #}
        {% if eventoAtividade.descricao is not empty %}
        <div class="card-action">
            <label>Descrição</label>
            <br />{{ eventoAtividade.descricao|raw }}
        </div>
        {% endif %}

        {% if eventoAtividade.getQuestionarioAvaliador %}
        <div class="card-action">
            <label>Período de avaliação</label>
            <br />{{ eventoAtividade.getQuestionarioAvaliador.dataIniAvaliacao|date('d M Y') }} até {{ eventoAtividade.getQuestionarioAvaliador.dataFimAvaliacao|date('d M Y') }}
        </div>
        {% endif %}

        <div class="card-action">
            <a href="{{ path('admin_evento_atividade_edit', {'evento' : evento.id, 'id' : eventoAtividade.id}) }}">Editar atividade</a>
        </div>
        <div class="card-action">
            <a href="{{ path('admin_evento_atividade_presenca_inscrever', {'evento' : evento.id,
                'eventoAtividade' : eventoAtividade.id }) }}">Inscrever participante</a>
        </div>
        <div class="card-action">
            <a href="{{ path('admin_evento_atividade_presenca_lista', {
                'evento' : evento.id,
                'eventoAtividade' : eventoAtividade.id }) }}">Lista de presença (em planilha)</a>
            <br />
        </div>

        {% if questionarios is empty %}

        {% else %}
            <div class="card-action">


                <div class="panel-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ eventoAtividade.id }}" aria-expanded="false" aria-controls="collapse{{ eventoAtividade.id }}">
                    <div role="tab" id="heading{{ eventoAtividade.id }}">
                        <h5 class="">
                            <small><i class="collapse-icon fa fa-plus" aria-hidden="true"></i></small> {{ 'respostas de questionários'|upper }}
                        </h5>
                    </div>

                    <div id="collapse{{ eventoAtividade.id }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ eventoAtividade.id }}">
                        <div class="panel-body">

                            <p>Clique no questionário desejado para ver as respostas</p>

                            {% for questionario in questionarios %}
                                <p>
                                    {% set qtd_respostas = questionario.getRespostas().getValues()|length %}

                                    <a href="{{ path('questionario_respostas_render', { 
                                        'questionario' : questionario.getId() }) }}"> 
                                        {% if questionario.getNome() is not null %} 
                                            {{ questionario.getNome() }}
                                        {% else %}
                                            Questionário {{ loop.index }}
                                        {% endif %}
                                    
                                    {# Se ngm respondeu o questionario #}
                                    {% if qtd_respostas <= 0  %}
                                        <span data-toggle="tooltip" data-placement="top" title="Ninguém respondeu o questionário ainda" class="badge">{{ qtd_respostas }}</span>
                                    {# Se pelo menos uma pessoa respondeu o questionário #}
                                    {% else %}
                                        <span data-toggle="tooltip" data-placement="top" title="{{ questionario.getRespostas().getValues()|length }} pessoas responderam o questionário" class="badge info">{{ questionario.getRespostas().getValues()|length }}</span>
                                    {% endif %}
                                    </a>

                                </p>
                            {% endfor %}  

                        </div>
                    </div>
                    
                    <h4 class="more_details">
                        <small>Clique para ver todos os questionários</small>
                    </h4>

                </div>


            </div>
        {% endif %}


        {% if eventoAtividade.getQuestionarioAvaliador %}
            <div class="card-action">
                <a href="{{ path('questionario_avaliacao', {
                    'questionario' : eventoAtividade.getQuestionarioAvaliador.id,
                    'back' : path('admin_evento_atividade_presenca_index', {
                        'evento' : evento.id,
                        'eventoAtividade' : eventoAtividade.id
                    })
                }) }}">Trabalhos submetids</a>
                <p><small>Visualize os trabalhos e notas</small></p>
            </div>
        {% endif %}

        <div class="card-action">
            <a href="{{ path('evento_show', {'id' : evento.id}) }}">{{ 'voltar'|trans }}</a>
        </div>
    </div>
</div>