{% extends 'FCMEventoBundle:Default:base.html.twig' %}
{% import 'macros/base.html.twig' as macros %}

{% block content %}
    <p>Insira o nome e e-mail do participante, ele receberá um e-mail que foi cadastrado no gerenciador de eventos juntamente
    com uma senha para acessar a área do participante</p><br />
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.documento) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.nome) }}
        </div>
    </div>

    {{ form_row(form.email) }}
    {{ macros.button_submit('Cadastrar participante') }}
    {{ form_errors(form) }}

    {{ form_end(form) }}
{% endblock %}