{% extends 'FCMEventoBundle:Default:base.html.twig' %}
{% import 'macros/base.html.twig' as macros %}

{% block content %}
    <div class="alert ui message info">Informe o documento ou e-mail do participante</div>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    {{ macros.button_submit('Buscar participante') }}


    {{ form_errors(form) }}
    {{ form_end(form) }}
{% endblock %}