{% extends 'FCMEventoBundle:Default:base.html.twig' %}


{% block body %}
    {% include 'FCMEventoBundle:Default:base.pagetitle.html.twig' %}

    {% for pergunta in questionario.perguntas %}
        {% if pergunta.perguntaItens is iterable and pergunta.perguntaItens is not empty %}
            <div class="card ui fluid">
                <div class="content">
                    <div class="header">{{ pergunta.nome }}</div>
                </div>
                <table class="table">
                    <thead>
                    <th>Nome</th>
                    <th>Vagas</th>
                    <th>Inscritos</th>
                    <th>Pagantes</th>
                    </thead>
                {% set total = 0 %}
                {% for perguntaItem in pergunta.perguntaItens %}
                    {% if perguntaItem.respostaItens|length > 0 %}
                        {% set pagos = perguntaItem.getPagos %}
                        {% set total = total + pagos %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_evento_atividade_presenca_ocupacao_detail', {
                                'perguntaItem' : perguntaItem.id,
                                'evento' : pergunta.questionario.eventoAtividade.evento.id,
                                'eventoAtividade' : pergunta.questionario.eventoAtividade.id
                            }) }}">
                            {{ perguntaItem.textInscricao }}
                            </a>
                            {% if perguntaItem.limEscolha > 0 %}
                            {% if perguntaItem.limEscolha < perguntaItem.getPagos %}
                                <div class="ui red horizontal label">lotado</div>
                            {% else %}
                                <div class="ui green horizontal label">ok</div>
                            {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {{ perguntaItem.limEscolha }}
                        </td>
                        <td>{{ perguntaItem.respostaItens|length }}</td>
                        <th>{{ pagos }}</th>
                    </tr>
                    {% endif %}
                {% endfor %}
                    <tr>
                        <td><strong>Total de participantes</strong></td>
                        <td></td>
                        <td></td>
                        <td><strong>{{ total }}</strong></td>
                    </tr>
                </table>
            </div>
        {% endif %}

    {% endfor %}


    <div class="card ui fluid">
        <div class="ui one statistics">
            <div class=" statistic">
                <div class="value">
                    {{ pagantes }}
                </div>
                <div class="label">
                    Presentes
                </div>
            </div>
        </div>
    </div>

{% endblock %}