{% extends 'FCMEventoBundle:Default:base.html.twig' %}


{% block content %}

    <h3>{{ perguntaItem.pergunta.nome }}</h3>
    <div class="table-responsive">
        <div id="data-table-basic_wrapper" class="dataTables_wrapper">
            <table id="data-table-basic" class="table table-striped dataTable" role="grid"
                   aria-describedby="data-table-basic_info" style="width: 100%;">
                <thead>
                <th>Presença</th>

                <th>Nome</th>
                </thead>
                    {% for respostaItem in perguntaItem.respostaItens %}
                        <tr id="respsotaItem{{ respostaItem.id }}" role="row">
                        {% include 'FCMEventoBundle:Inscricao:ajax.presenca.html.twig' with {
                            'respostaItem' :respostaItem
                        } %}
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

{% block jscustom %}
    {% javascripts
        '@FCMEventoBundle/Resources/public/js/jquery.dataTables.min.js'

    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function() {
            $('#data-table-basic').DataTable(
                {
                    "pageLength": 1000,
                    "order": [[ 1, "asc" ]],
                }
            );
        });
    </script>

    <script>
        function saveAppCheck(respostaItemId) {

            $.ajax({
                type: "GET",
                dataType: 'json',
                url: Routing.generate('ajax_api_presenca_show', {
                    'id' : respostaItemId,
                }),
                async: false //you won't need that if nothing in your following code is dependend of the result
            })
                .done(function(response){
                    var result = '#respsotaItem' + respostaItemId;
                    $(result).html(response); //Change the html of the div with the id = "your_div"

                })
                .fail(function(jqXHR, textStatus, errorThrown){
                    alert('Error : ' + errorThrown);
                });


        }
    </script>

{% endblock %}