.carousel-caption {
  position: fixed;
  bottom: 0;
  z-index: 999;
}


/*************************
*******Typography******
**************************/

html body {
  font-size: 17px;
  color: #fff
}


a.btn, #event .btn{
  border-radius: 0;
  font-size: 20px;
  padding: 9px 23px;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}

h1, h2, h3, h4, h5, h6 {

  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 36px
}

.navbar-toggle {
  margin-top: 12px
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle, 
.navbar-toggle:focus {
  border:1px solid #fff;
  outline: none;
}

.block {
  margin-bottom: 20px;
}

/*************************
*******Header CSS******
**************************/

.header {
  padding-bottom: 3rem;
}



.header-top {
  display: block;
  overflow: hidden;
  padding: 25px;
}

.main-nav {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.main-nav 
.container {
  width: 100%
}


.navbar-brand {
  background-color: #1B7B98;
  height: 90px;
  margin-bottom: 20px;
  position: relative;
  width: 297px;
}

.navbar-brand img {
  position: absolute;
  top: -35px;
}

.navbar-right {
  background-color: #212121;
  padding:0 95px 0 0;
  opacity: .9
}

.navbar-right li a {
  padding: 35px 21px;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
}

.navbar-right li a:hover, 
.navbar-right li a:focus,  
.navbar-right .active a {
  background-color: #fff;
  color: #16728f
}


.fixed-menu {
  background-color: #1B7B98;
  position: fixed;
  top: 0;
}

.fixed-menu .navbar-right {
  padding: 0;
}


.fixed-menu .navbar-right li a {
  font-size: 18px;
  padding: 20px 25px;
  text-shadow:inherit;
}

.fixed-menu .navbar-brand {
  height: 60px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  width: 125px;
}

.fixed-menu .navbar-brand img {
  height:60px;
  top: 0;
}

.fixed-menu .header-top {
  display: none;
}



/*************************
*******Home CSS******
**************************/



.logo {
  padding-top: 50px;
  padding-bottom: 50px;
  display: inline !important;
}

#subtitle {
  background: none repeat scroll 0 0 #B71C1C;
  opacity: 0.8;
  padding: 3rem 2em;
  text-transform: uppercase;
  color: #fff;
}

#subtitle a{ color: #fff }

/*************************
*******Explore CSS******
**************************/

#historia {
  background-color: #212121;
  position: relative;
  overflow: hidden;
}

.watch {
  position: absolute;
  left: 0;
  top: 7%;
}

#historia h2 {
  text-transform: uppercase;
  text-align: center;
}

#countdown {
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 0
}

#countdown li {
  list-style: none;
  display:inline-block;
  margin-right: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
}

#countdown li:last-child {
  margin-right: 0
}

#countdown li span {
  display: block;
  font-size: 40px;
  font-weight: 700;
  height: 82px;
  line-height: 79px;
  width: 75px;
  border-radius: 10px;
  border-right: 1px solid #9e3e2e;
  border-bottom: 1px solid #9e3e2e;
}



 /*************************
*******Event CSS******
**************************/
#event {
  background-color: #b71c1c;
  background-position: 50% 0;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;

}

section { padding-bottom: 70px;}

section#home {padding-bottom: 0}

#event h2.heading, #event h3, #event p {
  color: #ffffff;
}

h2.heading {
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 70px;
  text-transform: uppercase;
}


/*************************
*******About CSS**********
**************************/

#about, .dark {
  background-color: #212121;
  position: relative;
  width: 100%;
  display: flex;
}

.guitar2 {
  top: 0;
  width: 50%;
}

.guitar2 img {
  padding-top: 3%;
}

.about-content {
  width: 50%;
  padding: 70px 70px 110px;
}


#about h2 {
  margin-bottom: 23px;
}

.about-content p {
  font-size: 17px;
  font-family: 'Dosis',sans-serif;
}

#about .btn-primary {

  color: #fff;
  text-transform: capitalize;
  border: none;
  margin-top: 28px;
}




/*************************
******Sponsor CSS****
**************************/

#sponsor, .bg-red {
  background-color: #b71c1c;
  background-position:50% 0;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
}

#sponsor a {
  color: #ffffff;
}

#sponsor .col-sm-10 {
  z-index: 10;
}

#sponsor h2 {
  margin-top: 90px;
  margin-bottom: 40px;
  color: #ffffff;
}

#sponsor .item ul {
  font-size: 0;
  padding: 0;
}


#sponsor .item ul li {
  display: inline-block;
  list-style: none;
  width: 33.33%;
  margin-bottom: 75px;
}

#sponsor .item ul li:last-child {
  margin-right: 0
}

.sponsor-control-left, 
.sponsor-control-right {
  color: #FFFFFF;
  font-size: 24px;
  position: absolute;
  top: 20%;
}

.sponsor-control-left {
  right: 12%
}

.sponsor-control-right {
  right: 10%
}


/*************************
******Map CSS****
**************************/
#map {
  position: relative;
}

#gmap {
  height:450px;  
}