{# 

	Detalhe, esse não é o método mais correto para se fazer isso
	mas como o eventos não tem os arquivos de app/config/parameters.yml
	foi definido esse arquivos de constants.

	Isso ira servir para diferenciar o logo da FENF/Fcm a partir da url
	em cada ambiente.

	Caso seja necessário fazer maiores modificações, talvez seja interessante
	pensar em algo melhor.

#}
{# Localhost #}
{% set local_fcm  = 'localhost.fcm.unicamp.br' %}
{% set local_fenf = 'localhost' %}

{# Homologacao #}
{% set hom_fcm    = 'homweb.fcm.unicamp.br' %}
{% set hom_fenf   = 'homweb.fenf.unicamp.br' %}

{# Produçao #}
{% set prod_fcm  = 'fcm.unicamp.br' %}
{% set prod_fenf = 'fenf.unicamp.br' %}

{% set prod_fcm2  = 'www.fcm.unicamp.br' %}
{% set prod_fenf2 = 'www.fenf.unicamp.br' %}

{% set host = app.request.getHost() %}

{# se for fenf #}
{% if host == local_fenf or host == hom_fenf or host == prod_fenf or host == prod_fenf2 %}
	{% set img = '/eventos/images/logo-fenf.png' %}
{% else %}
    {% set img = '/eventos/images/marcaFCM_branco.png' %}
{% endif %}

<img class="right img-responsive" alt="Home" src="{{ img }}">