{% block vich_file_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_file_widget %}
{% spaceless %}
    <div class="vich-file">
        {% if download_uri is defined and download_uri %}
            {% if form.vars.data.file.filename is defined %}
            <a class="download" href="{{ download_uri }}" target="_blank">
                <i class="material-icons">file_download</i>
                {{ form.vars.data.file.filename }}
            </a>
            {% endif %}
            <div class="delete">
                {% if form.delete is defined %}
                    {{ form_row(form.delete) }}
                {% endif %}
            </div>
        {% else %}
            {{ form_widget(form.file) }}
        {% endif %}

    </div>
{% endspaceless %}
{% endblock %}

{% block vich_image_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_image_widget %}
{% spaceless %}
    <div class="vich-image">
        {{ form_widget(form.file) }}
        {% if form.delete is defined %}
        {{ form_row(form.delete) }}
        {% endif %}

        {% if download_uri is defined and download_uri %}
         <a href="{{ download_uri }}"><img src="{{ download_uri }}" alt="" /></a>
        {% endif %}
        {% if show_download_link and download_uri is defined and download_uri%}
        <a href="{{ download_uri }}">{{ 'download'|trans({}, 'VichUploaderBundle') }}</a>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock %}
