<p>{{ eventoAtividade.evento.nome }} - {{ eventoAtividade.nome }}</p>
<p><strong>Participante: </strong>{{ inscricao.participante.nome }}</p>

{% for inscricaoToken in inscricao.inscricaoTokens %}
    <p><strong>{{ inscricaoToken.atividadeToken.token.nome }}: </strong>{{ inscricaoToken.val }}</p>
{% endfor %}
