<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h2 style="text-align: center">Sistema de eventos</h2>
<h3 style="text-align: center">Relatório de inscrições</h3>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h2 style="text-align: center">{{ eventoAtividade.evento.nome }}</h2>
<h3 style="text-align: center">{{ eventoAtividade.nome }}</h3>
<br/>
<br/>
<br/>
<br/><br/>
<br/>
<br/>
<br/>
<br/>
<p style="text-align: center">Total de inscrições {{ inscricoes|length }}</p>

<pagebreak>
{% for inscricao in inscricoes %}
    {% if inscricao.liberado %}
        <p><strong>Participante: </strong>{{ inscricao.participante.nome }}</p>

        {% for inscricaoToken in inscricao.inscricaoTokens %}
            <p><strong>{{ inscricaoToken.atividadeToken.token.nome }}: </strong>{{ inscricaoToken.val }}</p>
        {% endfor %}
        {% for resposta in inscricao.respostas %}

            {% if resposta.questionario.type == 0 %}
                {% for respostaItem in resposta.respostaItens %}
                    <p><strong>{{ respostaItem.pergunta.nome }}: </strong>{{ respostaItem.text|raw }}</p>
                {% endfor %}
            {% endif %}

        {% endfor %}

    {% endif %}
    <pagebreak>
{% endfor %}
<h2 style="text-align: center">Fim do relatório</h2>