{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block content %}

    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.nome) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.nomeExibicao) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.tamanho) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.tipo) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.obrigatorio) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.descricao) }}
        </div>
    </div>

    {{ form_widget(form) }}
    <a class="btn btn-default" href="{{ back }}">{{ 'main.back'|trans }}</a>
    <input class="btn btn-primary" type="submit" value="{{ 'main.save'|trans }}" />

    {% if delete is defined %}
        <a class="btn btn-danger" href="{{ delete }}">{{ 'main.delete'|trans }}</a>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}