html .btn {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    text-align: center;
    letter-spacing: .5px;
    margin: 0 5px 10px 0;

}

.btn:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    ;
}



.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn.btn-danger {
    background: #FF3D00;
}

.btn.btn-primary,
.btn.btn-primary:hover {
    color: #fff;
    background-color: #2196F3;
    border-color: #0d8aee;
}
