table.table>thead>tr>th {
    border-bottom: 2px solid #F5F5F5;
}

#wrapper {
    margin-bottom: 50px;
}

table.table>tbody>tr>td,
table.table>tbody>tr>th,
table.table>tfoot>tr>td,
table.table>tfoot>tr>th,
table.table>thead>tr>td,
table.table>thead>tr>th {
    padding: 15px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #E0E0E0;
}

.tab-nav {
    list-style: none;
    padding: 0;
    white-space: nowrap;
    margin: 0;
    overflow: auto;
    box-shadow: inset 0 -2px 0 0 #eee;
    width: 100%;
}

.tab-nav.tn-justified>li {
    display: table-cell;
    width: 1%;
    text-align: center;
}

.tab-nav li {
    display: inline-block;
    vertical-align: top;
}

.tab-nav li>a {
    display: inline-block;
    color: #7a7a7a;
    position: relative;
    width: 100%;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

.tab-nav li.active>a {
    border-bottom: 2px solid #2196F3;
}

.bgm-bluegray {
    background-color: #607D8B!important;
    color: #fff;
}

.btn:not(.btn-link) {
    box-shadow: 0 2px 5px rgba(0,0,0,.16),0 2px 10px rgba(0,0,0,.12);
}
.btn-icon {
    border-radius: 50%;
    width: 40px;
    line-height: 42px;
    height: 40px;
    padding: 0;
    text-align: center;
}
.btn {
    border: 0;
    text-transform: uppercase;
}

.btn-demo > .btn, .btn-group-demo > .btn-group {
    margin: 0 5px 10px 0;
}

footer a {
    color: #fff;
}

html .no-margin {
    margin: 0;
}