#header.navbar {
    background-color: var(--c-primary);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    user-select: none;
    z-index: 11;
    width: 100%;
    left: 0;
    top: 0;
}

.navbar-header {
    min-height: 70px;
}

#header .navbar-nav li a {
    color: #fff;
}

#header .navbar-nav li a:hover {
    background-color: #0091EA;
}

#header .navbar-right li a {
    padding: 15px;
}

.navbar-nav >.user-menu .user-image {
    background: #5cb85c;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -5px;
    text-align: center;
    padding-top: 5px;
}

.navbar-toggle span{
    border: 1px solid #ffffff;
}


