
html body {
    font-family: "Roboto", sans-serif;
}


body a:hover {
    text-decoration: none;
}

body h1 {
    font-size: 24px;
    margin-top: 10px;
}

body h2, body h3{
    margin-top: 10px;
}

body h2 { font-size: 20px}
body h3 { font-size: 16px}

html,html body {
    background: #f3f3f3;
}

html {
    height: 100%;
}

.body {

}

.footer {
    background-color: #4C5765;
    bottom: 0;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 10;
    width: 100%;
}

.footer .block { padding-bottom: 15px}

.footer hr {
    margin-top: 0;
    margin-bottom: 15px;
}

.footer {
    color: #fff;
    font-size: 0.9em;
}

.footer img {max-height: 42px}

@media screen and (max-width: 769px) {
    footer.footer {position: relative; }
}




#main {
    padding-bottom: 110px;
}

.material-icons {
    vertical-align: bottom;
}



.right {
    float: right;
    margin-left: 15px;
}

i { cursor: pointer;}



/** Colection */
.collection {
    width: 100%;
}

.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.collection .collection-item {
    font-weight: bold;
}

.form-inline .btn {margin: 0}

.tag {
    border: 1px solid #f0f0f0;
    color: #777;
    margin: 2px 2px 2px 0;
    padding: 2px 5px;
    font-size: 12px;
}

a.ui.button {
    font-size: 14px;
}

.form-btn {
    padding-top: 26px;
}

.inline {
    display: inline-block;
}