#brand {
    background: #607D8B;
    text-align: center;
    padding: 10px;
}

#brand{
    height: 65px;
}

#logo {
    color: #fff;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    overflow: hidden;
}

#logo a{
    color: #fff
}

#logo .logo-lg {
    display: block;
}


#sidebar ul{
    width: 100%;
    padding: 0;
}
#sidebar li {
    list-style: none;
}

#sidebar li a{
    color: #4C4C4C;
    display: block;
    padding: 14px 20px 14px 20px;
}

#sidebar .title a{ color: #fff; }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}



#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}

#sidebar .current_ancestor > a {
    background: #f7f7f7;
}

#sidebar .current > a {font-weight: bold;}

/* Profile */
.s-profile>a {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    background: url("/portaldoaluno/images/green_background.jpg") left top no-repeat;

}

.s-profile>a .sp-pic {
    padding: 12px;
}

.s-profile>a .sp-info {
    background: rgba(0,0,0,.37);
    padding: 7px 14px;
    color: #fff;
    margin-top: 20px;
    position: relative;
}

.s-profile>a .sp-pic>img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 3px solid rgba(0,0,0,.14);
    box-sizing: content-box;
}

#menu-toggle {
    color: #fff;
    font-size: 20px;
}

#wrapper.toggled #sidebar{
    width: 16.6666667%;
}

#sidebar {width: 0;}

@media (min-width: 1200px) {
    #wrapper #sidebar {
        width: 16.6666667%;
    }

    #wrapper.toggled #sidebar {
        width: 0;
    }
}

@media (max-width: 1200px) {
    #wrapper.toggled div#sidebar{
        width: 250px;
        padding: 0 5px;
        position: fixed;
    }

    #wrapper #sidebar {
        padding: 0;
        position: absolute;
    }
}

@media (max-width: 768px) {
    ul.nav, ul.nav li{
        display: inline-block;
    }

    ul.navbar-right {
        float: right;
    }
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #1E88E5 !important;
}

.help {
    border-top: 1px solid #e0e0e0;
    padding: 10px;

    z-index: 10;
    left: 0;
    bottom: 0;
}