<div class="card ui fluid">
    <div class="content">
        <div class="header">Boleto FUNCAMP</div>
    </div>

    <div id="content-pagamentos" class="content">
        <div class="card-content">
            <p><i class="material-icons c-red500">attach_money</i>Não gerado, clique para gerar o boleto</p>
            <i class="material-icons c-orange500">attach_money</i>Não pago, clique para reenviar boleto e notificar participante<br/>
            <i class="material-icons c-green500">attach_money</i>Pago
            <i class="material-icons c-cyan500">attach_money</i>Isento<br/>
            <i class="material-icons c-cyan500">receipt</i>Visualizar boleto<br/>

            </p>
        </div>

        <div class="table-responsive">
            <div id="data-table-basic_wrapper" class="dataTables_wrapper">
                <table id="data-table-basic2" class="table table-striped dataTable" role="grid"
                       aria-describedby="data-table-basic_info" style="width: 100%;">
                    <thead>
                        <td>Hidden</td>
                        <td><strong>Ações</strong></td>
                        <td><strong>Inscrito em</strong></td>
                        <td><strong>Nome</strong></td>
                        <td><strong>Vencimento</strong></td>
                        <td><strong>Valor (R$)</strong></td>
                        <td><strong>Baixa em</strong></td>
                    </thead>

                    {% for inscricao in eventoAtividade.inscricoes %}
                        <tr>
                                <td>{{ inscricao.created|date('YmdHHii') }}</td>
                            <td>
                                {# Sem boleto #}
                                {% if not inscricao.boleto %}
                                    <a href="{{ path('admin_inscricao_boleto_new', {'inscricao' : inscricao.id}) }}"
                                        data-toggle="tooltip" title="Gerar boleto">
                                        <i class="material-icons c-red500">attach_money</i>
                                    </a>

                                {# Com boleto #}
                                {% else %}

                                    {# Boleto nao enviado #}
                                    {% if inscricao.boleto.status == 0 %}
                                        <a href="{{ path('admin_inscricao_boleto_show', {
                                            'inscricao' : inscricao.id,
                                            'id' : inscricao.boleto.id,
                                            'back' : path('admin_evento_atividade_presenca_index', {
                                                'evento' : eventoAtividade.evento.id, 'eventoAtividade' : eventoAtividade.id
                                            })
                                        }) }}" data-toggle="tooltip" title="Enviar boleto e notificar participante">
                                            <i class="material-icons c-orange500">attach_money</i>
                                        </a>
                                    {% endif %}

                                    {# Boleto nao pago #}
                                    {% if inscricao.boleto.status == 1 %}
                                        <div id="ajax_boletofuncamp_notify{{ inscricao.boleto.id }}"
                                             class="ajax_boletofuncamp_notify ajax-wait" inscricao="{{ inscricao.id }}"
                                             boleto="{{ inscricao.boleto.id }}" data-toggle="tooltip" title="Renviar boleto e notificar participante">
                                            <i class="material-icons c-orange500">attach_money</i>
                                        </div>
                                    {% endif %}

                                    {% if inscricao.boleto.status == 2 %}
                                        <i data-toggle="tooltip" title="Boleto pago"
                                           class="material-icons c-green500">attach_money</i>
                                    {% endif %}

                                    {% if inscricao.boleto.status == 9 %}
                                        <i data-toggle="tooltip" title="Isento"
                                           class="material-icons c-cyan500">attach_money</i>
                                    {% endif %}
                                {% endif %}

                                {% if inscricao.boleto is not empty %}
                                    <a href="{{ inscricao.boleto.urlBoleto }}" target="_blank">
                                        <i class="material-icons c-cyan500">receipt</i>
                                    </a>
                                {% endif %}

                            </td>
                            <td>{{ inscricao.created|date('d M Y H:i') }}</td>
                            <td><a href="{{ path('evento_inscricao_edit', {
                                    'evento' : inscricao.eventoAtividade.evento.id,
                                    'eventoAtividade' : inscricao.eventoAtividade.id,
                                    'id' : inscricao.id,
                                    'back' : path('admin_evento_atividade_presenca_index',{
                                        'evento' : inscricao.eventoAtividade.evento.id,
                                        'eventoAtividade' : inscricao.eventoAtividade.id,
                                    })
                                })
                                }}">
                                {{ inscricao.participante.nome }}
                                </a>
                            </td>
                            <td>
                                {% if inscricao.boleto %}
                                {{ inscricao.boleto.dataVencimento|date('d/m/Y') }}
                                {% endif %}
                            </td>
                            <td>
                                {# Somente com boleto #}
                                {% if inscricao.boleto %}
                                    {{ inscricao.boleto.valor|number_format(2, ',', '.')}}
                                {% endif %}
                            </td>
                            <td>
                                {# Somente com boleto #}
                                {% if inscricao.boleto %}
                                    {% if inscricao.boleto.dataBaixa is not empty %}
                                        {{ inscricao.boleto.dataBaixa|date('d M Y H:i') }}
                                    {% else %}
                                        -
                                    {% endif %}
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        {% if inscricoes is empty %}
            <div class="card-content">
                <label>Atividade ainda não possui inscritos</label>
            </div>
        {% endif %}


    </div>
</div>