{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block content %}

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <a class="btn btn-default" href="{{ back }}">{{ 'main.back'|trans }}</a>
    <input class="btn btn-primary" type="submit" value="{{ 'main.save'|trans }}" />

    {% if delete is defined %}
        <a class="btn btn-danger" href="{{ delete }}">{{ 'main.delete'|trans }}</a>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}

