{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block content %}
    {% if eventoAtividadeBoleto is empty %}
        <div class="form-group">
            <p><i class="material-icons">help_outline</i> Utilize para emitir boletos FUNCAMP,
            você deve solicitar previamente á FUNCAMP a emissão de boletos. Procure a informática para maiores detalhes.</p>
        </div>
    {% else %}
        <div class="form-group">
            <label>Descrição</label>
            <div class="block">{{ eventoAtividadeBoleto.descricao }}</div>
        </div>

        <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label>Vencimento</label>
                <div class="block">{{ eventoAtividadeBoleto.vencimento|date('d M Y') }}</div>
            </div>
            <div class="col-md-4">
                <label>Valor padrão</label>
                <div class="block">R$ {{ eventoAtividadeBoleto.valorPadrao|number_format(2,',','.') }}</div>
            </div>
            <div class="col-md-4">
                <label>Envia boleto automaticamente no ato da inscrição</label>
                <div class="block">{% if eventoAtividadeBoleto.auto %}SIM{% else %}NÃO{% endif %} </div>
            </div>
        </div>
        </div>

        <div class="form-group">
        <label>Reimpressão</label>
        <div class="block"><a href="{{ eventoAtividadeBoleto.reimpressao }}">{{ eventoAtividadeBoleto.reimpressao }}</a></div>
        </div>

    {% endif %}

{% endblock %}