{% extends '@FCMEvento/Default/base.html.twig' %}

{% block body %}
    {# Pagamento #}
    {% if eventoAtividade.atividadeBoleto is not empty %}
        {% include 'FCMBoletoFuncampBundle:EventoAtividadeBoleto:block.pagamento.html.twig' %}
    {% endif %}
{% endblock %}

{% block jscustom %}
    {% javascripts
    '@FCMEventoBundle/Resources/public/js/jquery.dataTables.min.js'
    '@FCMBoletoFuncampBundle/Resources/public/js/notify.js'
    '@FCMEventoBundle/Resources/public/js/presenca.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $('#data-table-basic2').DataTable(
                {
                    "columnDefs": [
                        { "orderData": [ 0 ],    "targets": 2 },
                        {
                            "targets": [ 0 ],
                            "visible": false,
                            "searchable": false
                        },
                    ],
                    "order": [[ 0, "desc" ]],
                }
            );
        });
    </script>
{% endblock %}