{% spaceless %}
    <div class="ui bottom attached button">
        <a href="{{ href }}" class="{{ type|default('secondary') }} {{ class|default('') }}">
            {{ text|default('Salvar') }}
        </a>
    </div>
{% endspaceless %}