{% extends "emails/base.html.twig" %}

{% block content %}
    <p>Prezado(a) avaliador {{ user.nome }} está liberado seu acesso para avaliar os trabalhos do evento {{ evento.nome }}</p>

    <a href="{{ link }}"><p>Para avaliar clique aqui</a>

    <p>
        Em caso de dúvidas entre em contato com o administrador do evento através do e-mail
        <strong>{{ evento.email }}</strong>
    </p>

    <br/>

{% endblock %}