{% extends "emails/base.html.twig" %}

{% block content %}
    <p>Prezado(a) participante {{ inscricao.participante.nome }}, sua inscrição para a atividade foi CANCELADA</p>

    <h2>{{ inscricao.eventoAtividade.evento.nome }} - {{ inscricao.eventoAtividade.nome }}</h2>
    <h3>De {{ inscricao.eventoAtividade.DataIniAtividade|date('d M Y H:i') }} até {{ inscricao.eventoAtividade.DataFimAtividade|date('d M Y H:i') }}</h3>

    <p>Para quaisquer dúvidas você poderá entrar em contato com o administrador do evento através do e-mail
        <strong>{{ inscricao.eventoAtividade.evento.email }}</strong></p>

    <p></p>
{% endblock %}