{% extends "emails/base.html.twig" %}

{% block content %}
    <h1>{{ inscricao.eventoAtividade.evento.nome }} - {{ inscricao.eventoAtividade.nome }}</h1>
    <span>De {{ inscricao.eventoAtividade.DataIniAtividade|date('d M Y H:i') }} até {{ inscricao.eventoAtividade.DataFimAtividade|date('d M Y H:i') }}</span>
    <br/>

    <p>Prezado(a) participante {{ inscricao.participante.nome }}, sua inscrição para a atividade foi efetuada com sucesso.</p>


    {# Exibe orientacao para deposito #}
    {% if deposito is not empty and valores is not empty %}
        {% set total = 0 %}
        {% if valores is not empty %}
            <h2>Orientações para pagamento</h2>
            {{ deposito.orientacaoConfirmacao|raw }}
            <table style="width: 100%">
            {% for respostaItem in valores %}
                {% set total = total + respostaItem.valor %}
                <tr>
                    <td width="60%" >
                        <span>{{ respostaItem.pergunta.nome }}</span><br/>
                        <span>{{ respostaItem.text }}</span>
                    </td>
                    <td width="40%" style="text-align: right">
                        <strong>R$ {{ respostaItem.valor|number_format(2,',','.') }}</strong>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td width="60%">
                        <span>Valor total para pagamento</span>
                    </td>
                    <td width="40%" style="text-align: right">
                        <strong>R$ {{ total|number_format(2,',','.') }}</strong>
                    </td>
                </tr>
            </table>
        {% endif %}
    {% endif %}

    {# BOLETO FUNCAMP #}
    {% if inscricao.boleto is not empty %}
        <p>Pagamento realizado através de Boleto FUNCAMP, você receberá em seu e-mail link do boleto. Remissão
            e acompanhamento de pagamento realizado através do Gerenciador de Eventos</p>
    {% endif %}

    <p>
        Em caso de dúvidas entre em contato com o administrador do evento através do e-mail
        <strong>{{ inscricao.eventoAtividade.evento.email }}</strong>
    </p>

    <br/>

{% endblock %}