{% extends "emails/base.html.twig" %}

{% block content %}
    <p>Prezado(a) participante</p>
    <br/>
    <p>Seu depósito ainda não foi idetificado, caso&nbsp;tenha efetuado o depósito solicitamos o envio do
        comprovante para <a href="mailto:cpem.pagamento@fcm.unicamp.br">cpem.pagamento@fcm.unicamp.br</a>&nbsp;para efetivar sua inscrição.</p>
    <br/>
    <p>Informamos que o status da sua inscrição e o pagamento pode ser acompanhado através da área do participante no <a href="https://www.fcm.unicamp.br/eventos/">Gerenciador de Eventos</a></p>
    <br/>


{% endblock %}