{% extends "emails/base.html.twig" %}

{% block content %}
    <p>Prezado(a) participante,</p>

    <p>O evento <strong>{{ eventoAtividade.evento.nome }}</strong>, com a atividade de <strong>{{ eventoAtividade.nome }}</strong>
    ocorrerá no dia {{ eventoAtividade.DataIniAtividade|date('d/m H:i') }} até {{ eventoAtividade.DataFimAtividade|date('d/m H:i') }}
    no local <strong>{{ eventoAtividade.evento.local }}</strong>.</p>

    <p>Você pode:<br />
    - Consultar a página do evento para obter maiores informações <a href="{{ link }}">aqui</a><br />
    - Cancelar sua inscrição caso não tenha mais interesse através da área do participante<br />
    - Alterar informações da sua inscrição através da área do participante<br />
    </p>

    <p>Para quaisquer dúvidas você poderá entrar em contato com o administrador do evento através do e-mail
        <strong>{{ eventoAtividade.evento.email }}</strong>
    </p>
    <p></p>
{% endblock %}