{% extends "emails/base.html.twig" %}

{% block content %}
    <p>Um nova atividade foi criada para o evento <strong>{{ eventoAtividade.evento.nome }}</strong></p>

    <p>Nome da atividade: <strong>{{ eventoAtividade.nome }}</strong></p>

    <p>
        Link para o evento <br/>
        <a href="{{ absolute_url(path('evento_show', {'id' : eventoAtividade.evento.id})) }}">{{ absolute_url(path('evento_show', {'id' : eventoAtividade.evento.id})) }}</a>
    </p>

    <p>Período de inscrição: <br/>{{ eventoAtividade.dataIniInscricao|date('d M Y') }} até {{ eventoAtividade.dataFimInscricao|date('d M Y') }}</p>

    <p>Data da atividade: <br/>{{ eventoAtividade.dataIniAtividade|date('d M Y H:i') }} até {{ eventoAtividade.dataFimAtividade|date('d M Y H:i') }}</p>

    <p>Local do evento: <br/>{{ eventoAtividade.evento.local }}</p>

    {% if eventoAtividade.hide %}
        <p>Atenção a atividade é privada, somente quem possuir o link abaixo poderá se inscrever na atividade</p>
        <p>{{ absolute_url(path('evento_show',{'id' : eventoAtividade.evento.id, 'at' : eventoAtividade.id, 'token' : eventoAtividade.getTokenInscricao})) }}</p>
    {% endif %}

    <p>E-mail do administrador do evento: <strong>{{ eventoAtividade.evento.email }}</strong>

{% endblock %}