{% extends "emails/base.html.twig" %}

{% block content %}
    <h1>Confirmação de depósito</h1>

    <p>Prezado(a) participante {{ inscricao.participante.nome }}, seu depósito foi confirmado com sucesso.</p>

    <h2>{{ inscricao.eventoAtividade.evento.nome }} - {{ inscricao.eventoAtividade.nome }}</h2>
    <h3>De {{ inscricao.eventoAtividade.DataIniAtividade|date('d M Y H:i') }} até {{ inscricao.eventoAtividade.DataFimAtividade|date('d M Y H:i') }}</h3>

    {{ deposito.orientacaoPagamento|raw }}

    {# Exibe orientacao para deposito #}
    {% if deposito is not empty %}

        {% set total = 0 %}
        {% if valores is not empty %}

            <table style="width: 100%">
                {% for respostaItem in valores %}
                    {% set total = total + respostaItem.valor %}
                    <tr>
                        <td width="60%" >
                            <span>{{ respostaItem.pergunta.nome }}</span><br/>
                            <span>{{ respostaItem.text }}</span>
                        </td>
                        <td width="40%" style="text-align: right">
                            <strong>R$ {{ respostaItem.valor|number_format(2,',','.') }}</strong>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td width="60%">
                        <span>Valor total</span>
                    </td>
                    <td width="40%" style="text-align: right">
                        <strong>R$ {{ total|number_format(2,',','.') }}</strong>
                    </td>
                </tr>
            </table>
        {% endif %}
    {% endif %}

    <p>Para quaisquer dúvidas você poderá entrar em contato com o administrador do evento através do e-mail
        <strong>{{ inscricao.eventoAtividade.evento.email }}</strong></p>

    <p></p>
{% endblock %}