{% extends "emails/base.html.twig" %}

{% block content %}
    <h1>Liberação do certificado</h1>

    <p>Prezado(a) {{ inscricao.participante.nome }}, o certificado do evento
        <strong>{{ inscricao.eventoAtividade.evento.nome|upper }} - {{ inscricao.eventoAtividade.nome|upper }}</strong>
        está liberado, você pode visualizá-lo através do link abaixo ou acessando o site do gerenciador de eventos na área
        do participante.
    </p>
    <p>Seu certificado sempre ficará disponível, através do link ou pelo site</p>

    <p>Clique <a href="{{ link }}">aqui</a>  para visualizar seu certificado</p>

    <p></p>
{% endblock %}