{% extends "emails/base.html.twig" %}

{% block content %}
    <p>O administrador do evento <strong>{{ eventoAtividade.evento.nome }}</strong> efetuou seu cadastro no
        Gerenciador de Eventos</p>

    <p>Você poderá logar na área do participante com o login e senha fornecidos logo abaixo, e configurar sua inscrição para eventos,
        obter certificados, etc.</p>

    <p><strong>Usuário: {% if participante.documento is not empty %}{{ participante.documento }}{% else %}{{ participante.email }}{% endif %}</strong><br />
    <strong>Senha: {{ pass }}</strong></p>

    <p>Acesse o gerenciador de eventos <a href="{{ link }}">aqui</a> ou entre em contato com o administrador do evento para
        maiores informações através do email {{ eventoAtividade.evento.email }}</p>

{% endblock %}