{% extends "emails/base.html.twig" %}

{% block content %}
    <h1>Redefinição de senha do Gerenciador de Eventos</h1>

    <p>Prezado(a) {{ participante.nome }},</p>

    <p>Clique <a href="{{ link }}">aqui</a>  para redefinir sua senha</p>

    <p></p>
{% endblock %}