{% macro toggle(val, id, class) %}
    <div class="ui toggle checkbox">
        <input type="checkbox" name="plain-checkbox" id="{{ id|default('plain-checkbox') }}" value="1" class="{{ class|default('') }} hidden" data-toggle="collapse"
               data-trigger=".collapse-event-end-date" {% if val > 0 %}checked="checked"{% endif %} tabindex="0" data-validate="true">
        <label>{{ label|default('') }}</label>
    </div>
{% endmacro %}

{% macro periodo(ini, fim) %}
    {% set label = '' %}

    {# y #}
    {% if ini|date('Y') != fim|date('Y')%}
        {% set label =  ini|date('d/m/Y')  ~ ' até ' ~ fim|date('d/m/Y') %}
    {% endif %}

    {# y m #}
    {% if ini|date('Y') == fim|date('Y')  and ini|date('m') != fim|date('m') %}
        {% set label =  ini|date('d/m')  ~ ' até ' ~ fim|date('d/m/Y') %}
    {% endif %}

    {# y m #}
    {% if ini|date('Y') == fim|date('Y') and ini|date('m') == fim|date('m') and ini|date('d') != fim|date('d') %}
        {% set label =  ini|date('d')  ~ ' até ' ~ fim|date('d/m/Y') %}
    {% endif %}


    {% if ini|date('d/m/Y') == fim|date('d/m/Y') %}

        {% set label = '' %}

        {% if ini|date('Y') == fim|date('Y') and ini|date('m') == fim|date('m') and ini|date('d') != fim|date('d') %}
            {% set label =  ini|date('d')  ~ 'até' ~ fim|date('d/m/Y') %}
        {% endif %}

        {% if ini|date('H') != fim|date('H') %}
            {% set label =  ini|date('d/m/Y') ~ ' das ' ~ ini|date('H:i') ~ ' até ' ~ fim|date('H:i') %}
        {% endif %}
    {% endif %}

    {{ label }}

{% endmacro %}

{% macro printInscricao(inscricao) %}

    <div class="ui steps fluid attached">
        <div class="completed step">
            <i class="payment icon"></i>
            <div class="content">
                <div class="title">Inscrição realizada em {{ inscricao.created|date('d/m/Y H:i') }}</div>
                <div class="description">
                    {# Verifica se esta em período de inscricao #}
                    {% if inscricao.eventoAtividade.isInscricaoPossible %}
                        {# Editar inscricao #}
                        <a class="" href="{{ path('evento_inscricao_edit', {
                            'evento' : inscricao.eventoAtividade.evento.id,
                            'eventoAtividade' : inscricao.eventoAtividade.id,
                            'id' : inscricao.id }) }}">Editar inscrição</a>

                        {# Cancelar inscricao#}
                        <a class="right " href="{{ path('evento_inscricao_confirmdelete', {'evento' : inscricao.eventoAtividade.evento.id,
                            'eventoAtividade' : inscricao.eventoAtividade.id,
                            'id' : inscricao.id }) }}">Cancelar inscrição</a>

                    {% endif %}

                </div>
            </div>
        </div>

        {# step deposito #}

        {# Verifica se eh controlado por depositos #}
        {% if inscricao.eventoAtividade.questionarioInscricao
            and inscricao.eventoAtividade.questionarioInscricao.deposito %}

            {% set pago = false %}

            {% if inscricao.deposito and inscricao.deposito.pago %}
             {% set pago = true %}
            {% endif %}

            <div class="{% if pago %}completed{% else %}{% endif %} step">
                {% if pago %}
                    <i class="payment icon"></i>
                {% endif %}

                <div class="content">
                    <div class="title">Pagamento</div>
                    <div class="description">
                        {% if pago %}
                            <div class="c-green500">Depósito confirmado</div>
                        {% else %}
                            <div class="c-orange500">
                                <a href="{{ path('evento_inscricao_edit_deposito', {
                                    'evento' : inscricao.eventoAtividade.evento.id,
                                    'eventoAtividade' : inscricao.eventoAtividade.id,
                                    'id' : inscricao.id}) }}">
                                    Depósito NÃO confirmado, clique aqui para anexar comprovante
                                </a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endif %}

        {# AVALIACAO #}
        {% if inscricao.eventoAtividade.getQuestionarioAvaliador %}
            {% set aprovado = true %}

            {% set respostaInscricao = inscricao.getRespostaType(0).first %}

            {% if inscricao.eventoAtividade.getQuestionarioAvaliador.aproveRequired and not respostaInscricao.approved %}
                {% set aprovado = false %}
            {% endif %}

            <div class="{% if aprovado %}completed{% endif %} step">

                {# Aprovacao necessaria #}
                {% if inscricao.eventoAtividade.getQuestionarioAvaliador.aproveRequired %}
                    {% if aprovado %}
                        <i class="payment icon"></i>
                    {% endif %}

                    <div class="content">
                        <div class="title">Avaliação de trabalho</div>
                        <div class="description">

                            {% if aprovado %}
                                <div class="c-green500">Trabalho aprovado</div>
                            {% else %}

                                {% if inscricao.eventoAtividade.getQuestionarioAvaliador.dataFimAvaliacao|date('d/m/Y')  <= "now"|date('d/m/Y') %}
                                    <div class="c-orange500">Trabalho em avaliação</div>
                                {% else %}

                                    <div class="c-red500">Não aprovado</div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <i class="payment icon"></i>
                    <div class="content">
                        <div class="title">Avaliação de trabalho</div>
                    </div>
                {% endif %}

            </div>
        {% endif %}

        {# Boleto FUNCAMP #}
        {% if inscricao.eventoAtividade.atividadeBoleto %}

            <div class="{% if inscricao.boleto and inscricao.boleto.status == 2 %}completed{% endif %} step">

                {% if inscricao.boleto and inscricao.boleto.status == 2 %}
                    <i class="payment icon"></i>
                {% endif %}

                <div class="content">
                    <div class="title">Pagamento</div>
                    <div class="description">
                        {# Participante possui boleto#}
                        {% if inscricao.boleto %}
                            <a href="{{ path('admin_inscricao_boleto_show', {
                                'inscricao' : inscricao.id,
                                'id' : inscricao.boleto.id

                            }) }}" >
                                {% if inscricao.boleto.status == 0 %}
                                    <div class="c-orange500">Boleto em preparação</div>
                                {% endif %}
                                {% if inscricao.boleto.status == 1%}
                                    <div class="">Aguardando pagamento, clique aqui visualizar o boleto</div>
                                {% endif %}
                                {% if inscricao.boleto.status == 2%}
                                    <div class="c-green500">Boleto pago</div>
                                {% endif %}
                            </a>
                        {% else %}
                            <span>Boleto não emitido</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {# step presenca #}
        <div class="{% if inscricao.token is not empty %}completed {% endif %}step">
            {% if inscricao.token is not empty %}
                <i class="payment icon"></i>
            {% endif %}
            <div class="content">
                <div class="title">Presença</div>
                <div class="description">
                    {% if inscricao.token is empty %}
                        <span>Você ainda não possui presença na atividade</span>
                    {% else %}
                        <a href="{{ path('certificado_show', { 'token' : inscricao.token }) }}">{{ 'certificado.details'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endmacro %}


{% macro graphSingleChoice(pergunta) %}
    {% set total = pergunta.getPerguntaItens|length %}
    <div id="graph{{ pergunta.id }}" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    <script>
        Highcharts.chart('graph{{ pergunta.id }}', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '{{ pergunta.nome }}'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                colorByPoint: true,
                data: [
                    {% for perguntaItem in pergunta.getPerguntaItens %}
                    {
                        name : '{{ perguntaItem.textInscricao }}',
                        y: {{ perguntaItem.getRespostaItens.count / total }}
                    },
                    {% endfor %}
                ]
            }],
        });
    </script>
{% endmacro %}

{% macro button_submit(text, type, class, lefticon, righticon) %}
    <button type="submit" class="ui button {{ type|default('primary') }} {{ class|default('') }} {% if righticon is not empty %} right {% endif %} {% if lefticon is not empty or righticon is not empty %}labeled icon{% endif %}">
        {% if lefticon is not empty %}<i class="icon {{ lefticon }} {{ type|default('positive') }}"></i>{% endif %}
        {{ text|default("Salvar") }}
        {% if righticon is not empty %}<i class="right icon {{ righticon }} {{ type|default('positive') }}"></i>{% endif %}
    </button>
{% endmacro %}

{% macro button(path, text, type, class, lefticon, righticon, newTab) %}
    <a href="{{ path }}" class="ui button {{ type|default('') }} {{ class|default('') }}
        {% if righticon is not empty %} right {% endif %}
        {% if lefticon is not empty or righticon is not empty %}labeled icon{% endif %}"
            {% if newTab|default(0) %} target="_blank"{% endif %}
    >
        {% if lefticon is not empty %}<i class="icon {{ lefticon }} {{ type|default('positive') }}"></i>{% endif %}
        {{ text|default("Salvar") }}
        {% if righticon is not empty %}<i class="right icon {{ righticon }} {{ type|default('positive') }}"></i>{% endif %}
    </a>
{% endmacro %}