{% block header %}
    <nav id="header" class="navbar navbar-expand-lg mb-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('home') }}">
            <img alt="Home" src="{{ asset('bundles/fcmevento/images/logoeventos.png') }}" >
        </a>
        <a class="navbar-brand hidden-lg" href="https://www.iar.unicamp.br" >
            <img src="{{ asset('bundles/fcmevento/images/logoiabranco.png') }}">
        </a>


{#        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">#}
            {#            <li class="nav-item active">#}
            {#                <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>#}
            {#            </li>#}

{#        </ul>#}

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('help') }}">
                    <i class="question circle outline icon"></i> Ajuda
                </a>
            </li>
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}"><i class="user circle icon"></i> {{ nome }}</a>
                </li>
                {% if is_granted('ROLE_PARTICIPANTE') %}
                    <li class="nav_item">
                        <a class="nav-link" href="{{ path('dashboard') }}">
                            <i class="calendar alternate outline icon"></i> Meus eventos</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('participante_login') }}">
                        <i class="user circle icon"></i> {{ "espaco"|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login') }}">
                        <i class="cog icon"></i> {{ 'colaborador'|trans }}<br />
                    </a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}">
                        <i class="sign out icon"></i> {{ 'sair'|trans }}
                    </a>
                </li>
            {% endif %}
        </ul>

    </nav>

{% endblock %}
