{% import 'macros/base.html.twig' as macro %}

{% if evento.id is not empty %}
    <div class="ui card fluid card-evento">
        <div class="image">
            <img class="" src="{{ vich_uploader_asset(evento, 'thumbnail') }}" >
        </div>
        <div class="content">
            <div class="header">
                <h1>{{ evento.nome }}</h1>
            </div>
            {% if is_granted('ROLE_17_1') %}
                <div class="content">
                    <div class="ui vertical text menu fluid">
                        <a class="item" href="{{ path('evento_show', {'id' : evento.id}) }}">
                            <i class="globe icon"></i> Página do evento
                        </a>
                        <a class="item" href="{{ path('admin_evento_edit', {'id' : evento.id}) }}">
                            <i class="edit icon"></i> Editar evento
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if is_granted('ROLE_17_1') %}
            <div class="content">
                <div class="header">Atividades</div>
                {% for eventoAtividadeR in evento.eventoAtividades %}
                    <div class="ui accordion">
                        <div class="title pb-0 {% if eventoAtividade is defined and eventoAtividade.id == eventoAtividadeR.id %} active {% endif %}">
                            <i class="dropdown icon"></i>
                            <span>
                                {{ eventoAtividadeR.nome }}
                                {% if eventoAtividadeR.inscricoes.count > 0 %}
                                    ({{ eventoAtividadeR.inscricoes.count }} inscrito(s))
                                {% endif %}
                            </span>
                        </div>
                        <div class="content pt-0 {% if eventoAtividade is defined and eventoAtividade.id == eventoAtividadeR.id %} active {% endif %}">
                            <div class="ui vertical text menu ">
                                {% include 'FCMEventoBundle:Theme:menu.eventoAtividade.admin.html.twig' with {'eventoAtividade' : eventoAtividadeR }%}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endif %}