
            <a class="item" href="{{ path('admin_evento_atividade_presenca_index', {'evento' : evento.id, 'eventoAtividade' : eventoAtividade.id}) }}">Inscrições</a>

            <a class="item" href="{{ path('admin_evento_atividade_presenca_inscrever', {'evento' : evento.id,
                'eventoAtividade' : eventoAtividade.id }) }}">Inscrever participante</a>

            <a class="item" href="{{ path('admin_evento_atividade_edit', {'evento' : evento.id, 'id' : eventoAtividade.id}) }}">Editar atividade</a>

            <a class="item" href="{{ path('admin_evento_atividade_message', {'evento' : evento.id, 'id' : eventoAtividade.id}) }}">
                Enviar mensagem
            </a>


            {#
            <a class="item" href="{{ path('admin_eventoAtividade_etiqueta_edit', {'evento' : evento.id,
                'eventoAtividade' : eventoAtividade.id }) }}">Crachá identificação</a>
                #}

            {% if eventoAtividade.questionarioAvaliador is not empty %}
                <a class="item" href="{{ path('questionario_avaliacao', {
                    'questionario' : eventoAtividade.questionarioAvaliador.id
                }) }}">Trabalhos submetidos</a>
            {% endif %}


            {% if eventoAtividade.atividadeBoleto is not empty %}
                <a class="item" href="{{ path('admin_evento_atividade_boletofuncamp_pagamentos', {
                    'evento' : eventoAtividade.evento.id, 'eventoAtividade' : eventoAtividade.id }) }}">Boleto FUNCAMP</a>
            {% endif %}

            {% if eventoAtividade.questionarioInscricao and eventoAtividade.questionarioInscricao.deposito %}
                <a class="item" href="{{ path('admin_evento_evento_atividade_deposito_index', {'evento' : eventoAtividade.evento.id,
                    'eventoAtividade' : eventoAtividade.id }) }}">Depósitos</a>
            {% endif %}

    {% if eventoAtividade.hide %}
        <div class="content">
            <label>Url para inscrição</label>
            <br/>{{ absolute_url(path('evento_show',{'id' : eventoAtividade.evento.id})) }}?at={{ eventoAtividade.id }}&token={{ eventoAtividade.getTokenInscricao }}
        </div>
    {% endif %}

