{# Participante E NAO ADMIN #}
{% if not is_granted('ROLE_17_1') and evento is defined %}
    {% include 'FCMEventoBundle:Theme:menu.evento.admin.html.twig' %}
{% endif %}

{# Particpiante #}
{% if is_granted('ROLE_PARTICIPANTE') %}
    {% include 'FCMEventoBundle:Home:card.profile.html.twig' %}
{% endif %}

{# anom. #}
{% if not app.user %}
    {% include 'FCMEventoBundle:Auth:card.participante.html.twig' %}
{% endif %}

{# Evento e admin #}
{% if evento is defined and is_granted('ROLE_17_1') %}
    {% include 'FCMEventoBundle:Theme:menu.evento.admin.html.twig' %}
{% endif %}


{# Admin #}
{% if is_granted('ROLE_17_1') %}
    <div class="ui vertical menu fluid">
        <div class="item">
            <div class="header">Administração</div>
            <div class="menu">
                <a href="{{ path('home') }}" class="item">Home</a>
                <a href="{{ path('admin') }}" class="item">Eventos</a>
                <a href="{{ path('admin_evento_new') }}" class="item">Criar evento</a>
                <a href="{{ path('admin_participante_index') }}" class="item">Usuários do sistema</a>
            </div>
        </div>
    </div>
{% endif %}


{# Masquerade #}
{% if is_granted('ROLE_17_0') or is_granted('ROLE_PREVIOUS_ADMIN')%}
    {% include 'FCMEventoBundle:Auth:block.masquerade.html.twig' %}
{% endif %}

