{% if evento.local is not empty %}
    <div class="p-1 ">
        <i class="fas fa-map-marker c-orange500"></i> {{ evento.local }}
    </div>

{% endif %}

<div class="col-xs-12">
    <i class="envelope icon c-red500"></i> {{ 'emailadmin'|trans }} <a href="mailto::{{ evento.email }}">{{ evento.email }}</a>
</div>