{% import 'macros/base.html.twig' as macro %}

{% set inscricoes = false %}

<div class="ui card fluid">
    {% if evento.thumbnail is not empty %}
        <div class="blurring dimmable image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <a href="{{ path('evento_show', { 'id' : evento.id }) }}" class="ui inverted button">{{ 'card.details'|trans }}</a>
                    </div>
                </div>
            </div>
            <img src="{{ vich_uploader_asset(evento, 'thumbnail') }}">
        </div>
{#            <img src="{{ vich_uploader_asset(evento, 'thumbnail') }}">#}
{#        </div>#}
    {% endif %}

    <div class="content">
        <div class="header">
            <a href="{{ path('evento_show', {'id' : evento.id}) }}">{{ evento.nome }}</a>
        </div>
    </div>

    {% for eventoAtividade in evento.eventoAtividades %}
        <div class="content">
            <p><strong>{{ eventoAtividade.nome }}</strong></p>
            {{ macro.periodo(eventoAtividade.dataIniAtividade,eventoAtividade.dataFimAtividade) }}

            {# Se a pessoa ter permissao de ver e elimina cards desnecessarios (fora do tempo) #}
            {% if is_granted('ROLE_PARTICIPANTE') and eventoAtividade.showActivity(app.user.participante) %}
            {% else %} {# Nao Participante #}

                {# Em periodo de inscricao #}
                {% if eventoAtividade.isInscricaoPossible %}
                        <span class="ui label green">{{ 'msglabelInfo.details'|trans }}</span>
                        {% set inscricoes = true %}
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}


    {% if inscricoes %}
        <div class="extra content">
            {{ macro.button(path('evento_show', { 'id' : evento.id }),'card.details'|trans) }}
        </div>
    {% else %}
        {# caso seja participante exibe botao de detalhes #}
        {% if is_granted('ROLE_PARTICIPANTE') %}
            <div class="extra content">
                {% include 'default/button.html.twig' with {'href' : path('evento_atividade_index', {'evento': evento.id} ),
                    'text' : 'yourcard.details'|trans, 'class' : '', 'type' : '' } %}
            </div>
        {% endif %}
    {% endif %}
</div>