


{# Possui inscricao mas sem presenca #}
{% if eventoAtividade.isInscrito(app.user.participante) and not eventoAtividade.isInscrito(app.user.participante).presenca %}
    <p>
        <i class="material-icons text-success">event</i>
        <span class="text-success">{{ 'vcesta.details'|trans }} <strong>{{ 'inscrito.details'|trans }}</strong></span>
    </p>
    <p>
        <i class="material-icons text-warning">event_busy</i>
        <span class="text-warning">{{ 'vc.details'|trans }} <strong>{{ 'naopresenca.details'|trans }}</strong></span>
    </p>
{% endif %}

{# Se inscrito #}
{% if eventoAtividade.isInscrito(app.user.participante).token is defined
    and eventoAtividade.isInscrito(app.user.participante).token is not empty
    and eventoAtividade.isInscrito(app.user.participante).presenca %}

    {# Se o usuario nao respondeu a questão e ela é obrigatoria #}
    {% if ( not eventoAtividade.userAnsweredQuestionario(app.user.participante)
        and eventoAtividade.isQuestionarioObrigatorio() ) %}
        <p id="paragraph{{ eventoAtividade.getid() }}">
            {{ 'faltaquestionario.details'|trans }}
        </p>

    {% endif %}

    <p>
        <i class="material-icons text-success">event</i>
        <span class="text-success">{{ 'vcesta.details'|trans }} <strong>{{ 'inscrito.details'|trans }}</strong></span>
    </p>
    <p>
        <i class="material-icons text-success">event_available</i>
        <span class="text-success">{{ 'vcpossui.details'|trans }} <strong>{{ 'presenca.details'|trans }}</strong></span>
    </p>

    {# @to-do Criar o questionario pos evento #}


{% endif %}

{# Nao inscrito #}
{% if not eventoAtividade.isInscrito(app.user.participante) %}
    <p>
        <i class="material-icons text-danger">info</i>
        <span class="text-danger">{{ 'vc.details'|trans }}
            <strong>{{ 'naoinscrito.details'|trans }}</strong> {{ 'atividade.details'|trans }}</span>
    </p>
{% endif %}


{# Verifica se está em periodo de inscricao #}
{% if eventoAtividade.isInscricaoPossible %}
    {% set inscricoes = true %}

    {% if eventoAtividade.isInscrito(app.user.participante) %}

    {% else %}
        <span class="">{{ 'msglabelInfo.details'|trans }}</span>
    {% endif %}
{% else %}

    {# Se inscrito #}
    {% if eventoAtividade.isInscrito(app.user.participante).token is defined
        and eventoAtividade.isInscrito(app.user.participante).token is not empty
        and eventoAtividade.isInscrito(app.user.participante).presenca %}

        {# Se o questinario nao for obrigatorio ou o usuario respondeu o questionario caso seja necessario, libera o download do certificado #}
        {% if not eventoAtividade.isQuestionarioObrigatorio()
            or ( eventoAtividade.userAnsweredQuestionario(app.user.participante)
            and eventoAtividade.isQuestionarioObrigatorio()
            ) %}

            {% if eventoAtividade.getInscricoesByParticipante(app.user.participante).count > 1 %}
                <small>{{ 'cert.details'|trans }}</small>
                {% for inscricao in eventoAtividade.getInscricoesByParticipante(app.user.participante) %}
                    <p>{{ inscricao.created|date('d M Y H:i') }}
                        {% include 'default/button.html.twig' with {'href' : path('certificado_show', { 'token' : inscricao.token }),
                        'text' : 'certificado.details'|trans } %}
                    </p>
                {% endfor %}
            {% else %}
                {% for inscricao in eventoAtividade.getInscricoesByParticipante(app.user.participante) %}
                    {% include 'default/button.html.twig' with {'href' : path('certificado_show', { 'token' : inscricao.token }),
                        'text' : 'certificado.details'|trans } %}
                {% endfor %}
            {% endif %}

        {% else %}
            <a href="{{ path('questionario_user_resposta', {
                'questionario' : eventoAtividade.getQuestionario().id,
                'inscricao' : eventoAtividade.isInscrito(app.user.participante).id
            }) }}">Responder questionário</a>
        {% endif %}
    {% endif %}

    {# Possui inscricao mas sem presenca #}
    {% if eventoAtividade.isInscrito(app.user.participante) and not eventoAtividade.isInscrito(app.user.participante).presenca %}
        <p>
            <i class="material-icons text-success">done</i>
            {{ 'vcesta.details'|trans }}<strong class="text-success"> {{ 'inscrito.details'|trans }}</strong>
        </p>
    {% endif %}

{% endif %}

