
<div class="card ui fluid">
    <div class="content">
        <div class="header">
            <a href="{{ path('evento_show', { 'id' : eventoAtividade.evento.id }) }}">{{ eventoAtividade.evento.nome }}</a>
        </div>
    </div>


    {% if eventoAtividade.evento.thumbnail is not empty %}
        <div class="card-image">
            <img class="img-responsive" src="{{ vich_uploader_asset(eventoAtividade.evento, 'thumbnail') }}">
        </div>
    {% endif %}

    <div class="content">
        <div class="header">
        <a href="{{ path('admin_evento_atividade_presenca_index', { 'evento' : eventoAtividade.evento.id, 'eventoAtividade' : eventoAtividade.id }) }}">
            {{ eventoAtividade.nome }}
        </a>
        </div>
    </div>

    <div class="card-action">
        <p><label>Período de inscrição: </label> {{ eventoAtividade.dataIniInscricao|date('d M Y') }} - {{ eventoAtividade.dataFimInscricao|date('d M Y') }}</p>
        <p><label>Data da atividade: </label> {{ eventoAtividade.dataIniAtividade|date('d M Y H:i') }} - {{ eventoAtividade.dataFimAtividade|date('d M Y H:i') }}</p>
        {% if eventoAtividade.getQuestionarioAvaliador %}
            <p><label>Período de avaliação: </label> {{ eventoAtividade.getQuestionarioAvaliador.dataIniAvaliacao|date('d M Y') }} - {{ eventoAtividade.getQuestionarioAvaliador.dataFimAvaliacao|date('d M Y') }}</p>
        {% endif %}

        <p>
            <label>Inscritos: </label> {{ eventoAtividade.inscricoes|length }}
            <label>Presentes: </label> {{ eventoAtividade.getPresentes }}
        </p>

        {% if eventoAtividade.hide %}
            <label>Atividade privada, divulgue esse link para inscrição: </label>
            <p>{{ absolute_url(path('evento_show',{'id' : eventoAtividade.evento.id, 'at' : eventoAtividade.id, 'token' : eventoAtividade.getTokenInscricao})) }}</p>
        {% endif %}

        <a href="{{ path('admin_evento_atividade_presenca_index', { 'evento' : eventoAtividade.evento.id,
            'eventoAtividade' : eventoAtividade.id }) }}">Participantes</a>
        <a href="{{ path('admin_evento_atividade_edit', { 'evento' : eventoAtividade.evento.id, 'id' : eventoAtividade.id }) }}">Editar Atividade</a>

        {# Adminsitrar trabalhos #}
        {% if eventoAtividade.getQuestionarioAvaliador %}
            <a href="{{ path('questionario_avaliacao', { 'questionario' : eventoAtividade.getQuestionarioAvaliador.id }) }}">Administrar trabahos</a>
        {% endif %}


    </div>

    <div class="card-action">
        <i class="material-icons">attach_file</i> {{ absolute_url(path('evento_show',{'id' : eventoAtividade.evento.id})) }}
        {% if eventoAtividade.evento.alias is not empty %}
            <br/><i class="material-icons">attach_file</i>{{ absolute_url(path('evento_alias',{'alias' : eventoAtividade.evento.alias})) }}
        {% endif %}
    </div>

    <div class="card-action">
        <a href="{{ path('admin_evento_atividade_wifi', { 'evento' : eventoAtividade.evento.id }) }}">Liberar acesso Wifi</a>
    </div>
</div>

