
<div class="card ui fluid">
    <div class="image">
        <img class="img-responsive" src="{{ vich_uploader_asset(evento, 'thumbnail') }}" >
    </div>
    <div class="content">
        <div class="header">
            {{ evento.nome }}
        </div>

    </div>

        {% for eventoAtividade in evento.eventoAtividades %}
            {% if eventoAtividade.getQuestionarioAvaliador %}
                <div class="content">
                    <div class="header">
                    <a href="{{ path('questionario_avaliacao', {
                        'questionario' : eventoAtividade.getQuestionarioAvaliador.id }) }}">Avaliar {{ eventoAtividade.nome }}</a>
                    </div>
                    <p>De {{ eventoAtividade.getQuestionarioAvaliador.dataIniAvaliacao|date('d M Y') }} até {{ eventoAtividade.getQuestionarioAvaliador.dataFimAvaliacao|date('d M Y') }}</p>

                </div>

            {% endif %}
        {% endfor %}


</div>

