<div class="ui card blue fluid">
    <div class="content">
        <div class="header">{{ evento.nome }}</div>

    </div>
    <div class="image">
        <img class="img-responsive" src="{{ vich_uploader_asset(evento, 'thumbnail') }}" >
    </div>
    <div class="content">
        <h4 class="ui sub header">{{ 'local'|trans }}</h4>
        {{ evento.local }}

        <h4 class="ui sub header">{{ 'emailadmin'|trans }}</h4>
        <a href="mailto::{{ evento.email }}">{{ evento.email }}</a>

    </div>
    <div class="content">
        <a class="ui button secondary basic" href="{{ path('evento_show', {'id' : evento.id}) }}">{{ 'voltar'|trans }}</a>
    </div>
</div>