{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block content %}

    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-6 form-group">
            {{ form_row(form.nome) }}
        </div>
        <div class="col-md-6 form-group">
            {{ form_row(form.local) }}
        </div>

        <div class="col-md-6 form-group">
            {{ form_label(form.alias) }}
            <p>Crie um endereço para seu evento. Exemplo: xxi-congressso-medico</p>
            {{ form_widget(form.alias) }}
            {{ form_errors(form.alias) }}
        </div>

        <div class="col-md-6 form-group">
            {{ form_label(form.email) }}
            <p>E-mail que exibido na página do evento ao qual os participantes entrarão em contato</p>
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group" id="endereco">
            <label>Endereço final do seu evento</label>
            <div id="alias-endereco"></div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.descricao) }}
                <p>Insira todas informações sobre seu evento, como horários, programação e outras orientações</p>
                {{ form_widget(form.descricao) }}
                {{ form_errors(form.descricao) }}
            </div>
        </div>
    </div>
    <div style="margin-bottom: 20px">
        <i class="material-icons">help_outline</i> Em caso de dúvidas quanto ao preenchimento entre em contato com a Informática através do ramal 19552<br />
    </div>
    <!-- Assinatura -->
    <div class="row" style="margin-bottom: 40px">
        <div class="col-md-2">
            <a href="{{ asset('bundles/fcmevento/images/modelo_assinatura.docx') }}">
                <img class="ui small image" src="{{ asset('bundles/fcmevento/images/modelo_assinatura.png') }}">
            </a>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.assinatura) }}
                <p>Siga os procedimentos contidos no <a href="{{ asset('bundles/fcmevento/images/modelo_assinatura.docx') }}">modelo</a> para enviar sua assinatura digitalizada</p>
                {{ form_widget(form.assinatura) }}
                {{ form_errors(form.assinatura) }}
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 40px; margin-top: 10px">
        <div class="col-md-2">
            <img class="ui small image" src="{{ asset('bundles/fcmevento/images/modelo_capa.png') }}">
        </div>
        <div class="col-md-6">
            <div class="form-group">
            {{ form_label(form.thumbnail) }}
            <p>Insira uma imagem de capa do seu evento que será exibida na página inicial, como pôsters e logos</p>
            {{ form_widget(form.thumbnail) }}
            {{ form_errors(form.thumbnail) }}
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 40px">
        <div class="col-md-2">
            <a target="_blank" href="{{ asset('bundles/fcmevento/images/modelo_certificado.png') }}">
                <img class="ui small image" src="{{ asset('bundles/fcmevento/images/modelo_certificado.png') }}">
            </a>
        </div>
        <div class="col-md-6">
            <div class="form-group">

                {{ form_label(form.template) }}
                <p>Caso você possua um modelo personalizado do certificado utilize o campo abaixo para enviar,
                    caso contrário será utilizado o <a target="_blank" href="{{ asset('bundles/fcmevento/images/modelo_certificado.png') }}">certificado padrão</a></p>
                {{ form_widget(form.template) }}
                {{ form_errors(form.template) }}

            </div>
            {{ form_row(form.cssCorpo) }}
        </div>
    </div>

    <br/>

    {{ form_row(form._token) }}

    <input class="btn btn-primary" type="submit" value="{{ 'main.save'|trans }}" />

    {% if delete is defined %}
        <a class="btn btn-danger" href="{{ delete }}">{{ 'main.delete'|trans }}</a>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}

{% block jscustom %}
    <script>
        jQuery('#fcm_eventobundle_evento_alias').on('input', function() {
            $val = $('#fcm_eventobundle_evento_alias').val();
            $val = $val.trim();
            $val = $val.replace(' ', '');
            $val = $val.toLowerCase();
            $('#alias-endereco').html('{{ absolute_url(path('home')) }}' + $val);
        });
    </script>
{% endblock %}