{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block custom_head %}
<meta property="og:url"           content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{ page_title }}" />
<meta property="og:description"   content="Acompanhe e realize sua inscrição" />
<meta property="og:image"         content="{% if entity.thumbnail is not empty %}{{ app.request.getSchemeAndHttpHost() }}{{ vich_uploader_asset(entity, 'thumbnail') }}{% else %}http://www.fcm.unicamp.br/fcm/sites/default/files/images/user1/eventos.jpg{% endif %}" />
    <style type="text/css">
        body {scrolling:no;
        }
        iframe {position:absolute;
            z-index:1;
            top:0px;
            left:0px;
        }
        footer.footer {
            background-color: #03A9F4; color: #fff;
        }
    </style>
{% endblock %}

{% block sidebar %}
{% endblock %}


{% block main_container %}
<iframe src="https://newtondasilva.wixsite.com/meusite" height="100%" width="100%" frameborder="0" style=""></iframe>

{% endblock %}

{% block footer %}
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    {% if is_granted('ROLE_17_1') %}
                        <a class="btn btn-default" href="{{ path('admin_evento_edit', { 'id' : entity.id }) }}">{{ 'editar'|trans }}</a>
                        <a class="btn btn-default" href="{{ path('admin_evento_atividade_new', { 'evento' : entity.id }) }}">{{ 'incluirativ'|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="">

            {% if not is_granted('ROLE_PARTICIPANTE') and not is_granted('ROLE_17_1') %}
                <form name="form" class="form-inscricao" action="{{ path('evento_show', {'id' : entity.id}) }}" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <label>{{ 'cpfPassaporte'|trans }}</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div id="form_tipo">
                                    <div class="radio">
                                        <label class="required"><input type="radio" id="form_tipo_0" name="form[tipo]" required="required" value="cpf" checked="checked"> CPF</label>
                                    </div>
                                    <div class="radio">
                                        <label class="required"><input type="radio" id="form_tipo_1" name="form[tipo]" required="required" value="passaporte"> {{ 'passaporte'|trans }}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="text" id="form_documento" name="form[documento]" required="required" class="form-control" placeholder="CPF ou passaporte">
                            </div>
                            {{ form_row(form.submit) }}
                        </div>
                    </div>
                </form>
            {% endif %}

            {% if is_granted('ROLE_17_1') %}
                <label><a href="{{ path('participante_login') }}">{{ 'login'|trans }}</a></label>
            {% endif %}

            {% if is_granted('ROLE_PARTICIPANTE') %}
                <div class="">
                    <div class="col-md-6">
                        <a class="btn btn-default" href="{{ path('evento_atividade_index', {'evento' : entity.id}) }}">{{ 'inscricoes'|trans }}</a>
                    </div>

                    <div class="col-md-6">
                        {% include 'FCMEventoBundle:Evento:block.infoevento.html.twig' with {'evento' : entity } %}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}