{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block custom_head %}
<meta property="og:url"           content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{ page_title }}" />
<meta property="og:description"   content="Acompanhe e realize sua inscrição" />
<meta property="og:image"         content="{% if entity.thumbnail is not empty %}{{ app.request.getSchemeAndHttpHost() }}{{ vich_uploader_asset(entity, 'thumbnail') }}{% else %}http://www.fcm.unicamp.br/fcm/sites/default/files/images/user1/eventos.jpg{% endif %}" />
{% endblock %}

{% block body %}
    {% include '@FCMTheme/Default/block.facebook.html.twig' %}
    <div class="ui fluid card mt-0">
        <div class="content">
            <div class="header">
            <h2>{% if back is defined %}<a href="{{ back }}"><i class="material-icons">arrow_back</i></a>{% endif %}
                {{ page_title }}
            </h2>
            </div>
        </div>

        {% if is_granted('ROLE_17_1') %}
            <div class="content">
                {% include ':default:button.html.twig' with {'href' : path('admin_evento_edit', { 'id' : entity.id }), 'text' : 'Editar'} %}
                {% include ':default:button.html.twig' with {'href' : path('admin_evento_atividade_new', { 'evento' : entity.id }), 'text' : 'incluirativ'|trans } %}
            </div>
        {% endif %}

        <div class="content">
            {% if not is_granted('ROLE_PARTICIPANTE') and not is_granted('ROLE_17_1') %}
                <form name="form" class="form-inscricao" action="{{ path('evento_show', {'id' : entity.id}) }}" method="post">
                    {{ form_row(form.cpf) }}
                    {{ form_row(form.passport) }}
                    <div class="form-group form-btn">
                        {% include ':default:button.submit.html.twig' with {'text' : 'realizarinscric'|trans, 'type' : 'primary' } %}
                    </div>
                </form>
            {% endif %}

            {% if is_granted('ROLE_17_1') %}
                <label>
                    {% include ':default:button.html.twig' with {'href' : path('participante_login'),
                        'text' : 'login'|trans, 'type' : 'primary' } %}
                </label>
            {% endif %}

            {% if is_granted('ROLE_PARTICIPANTE') %}
                <div class="">
                    <div class="col-md-6">
                        {% include ':default:button.html.twig' with {'href' : path('evento_atividade_index', {'evento' : entity.id}),
                        'text' : 'inscricoes'|trans, 'type' : 'primary' } %}
                    </div>

                    <div class="col-md-6">
                        {% include 'FCMEventoBundle:Evento:block.infoevento.html.twig' with {'evento' : entity } %}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    {% include 'FCMEventoBundle:Evento:block.infoevento.html.twig' with {'evento' : entity } %}
                </div>
                <div class="col-md-6 text-right">
                    <div style="vertical-align: top;" class="fb-share-button" data-href="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}"
                         data-layout="button_count" data-size="large" data-mobile-iframe="true">
                        <a class="fb-xfbml-parse-ignore" target="_blank"
                           href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.fcm.unicamp.br%2Feventos%2F{{ entity.id }}&amp;src=sdkpreparse">{{ 'compartilhar'|trans }}</a>
                    </div>

                    <a href="whatsapp://send?text={{ app.request.schemeAndHttpHost ~ app.request.requestUri }} {{ entity.nome }}" data-action="share/whatsapp/share" data-text="Evento" data-href="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
                        {% image '@FCMEventoBundle/Resources/public/images/whatsapp.png' %}
                            <img width="28px" height="28px"  src="{{ asset_url }}" style="vertical-align: top; border-radius: 3px">
                        {% endimage %}
                    </a>
                </div>
            </div>
        </div>

        <div class="content">
            {{ entity.descricao | raw }}
        </div>
    </div>
{% endblock %}
