{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block body %}

    {{ parent() }}
{% endblock %}

{% block content %}
    {% if isnew %}
        <div class="form-group">
            <p><i class="material-icons">help_outline</i> Seu evento pode conter várias atividades, como participação, envio de trabalhos ou workshops.</p>
        </div>
    {% else %}

    {% endif %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-6">{{ form_row(form.nome) }}</div>
        <div class="col-md-6">{{ form_row(form.maxInscricao) }}</div>
    </div>
    <div class="row">
        <div class="col-md-3">{{ form_row(form.dataIniInscricao) }}</div>
        <div class="col-md-3">{{ form_row(form.dataFimInscricao) }}</div>
        <div class="col-md-3">{{ form_row(form.dataIniAtividade) }}</div>
        <div class="col-md-3">{{ form_row(form.dataFimAtividade) }}</div>

        <div class="col-md-12">{{ form_row(form.hide) }}</div>

    </div>
    {% if not isnew %}
        <p><strong>Funcionalidades</strong></p>
        <div class="row">
            <table class="table">
                <tr>
                    <td>
                        {% image '@FCMEventoBundle/Resources/public/images/icons8-typewriter.png' %}
                        <img class="img-responsive centered" src="{{ asset_url }}" >
                        {% endimage %}
                    </td>
                    <td>Coletar dados/depósito na inscrição</td>
                    <td>Colete informações quando o participante se inscreve na atividade e insira no certifcado.
                        Ex. Instituição, título do trabalho, co-autores.</td>
                    <td><a href="{{ func[0] }}">acessar</a></td>
                </tr>
                <tr>
                    <td>
                        {% image '@FCMEventoBundle/Resources/public/images/badge-40.png' %}
                            <img class="img-responsive centered" src="{{ asset_url }}" >
                        {% endimage %}
                    </td>
                    <td>Crachá de identificação</td>
                    <td>Imprima o crachá para identificar seus participantes e contabilizar a presença</td>
                    <td><a href="{{ func[5] }}">acessar</a></td>
                </tr>
                <tr>
                    <td>
                        {% image '@FCMEventoBundle/Resources/public/images/icons8-check.png' %}
                        <img class="img-responsive centered" src="{{ asset_url }}" >
                        {% endimage %}
                    </td>
                    <td>Pagamento por boleto FUNCAMP</td>
                    <td>Integração para pagamento FUNCAMP</td>
                    <td><a href="{{ func[1] }}">acessar</a></td>
                </tr>
                <tr>
                    <td>
                        {% image '@FCMEventoBundle/Resources/public/images/icons8-comments.png' %}
                        <img class="img-responsive centered" src="{{ asset_url }}" >
                        {% endimage %}
                    </td>
                    <td>Feedback sobre a atividade</td>
                    <td>Feedback do evento. Ex. Você gostou do evento?</td>
                    <td><a href="{{ func[3] }}">acessar</a></td>
                </tr>
                <tr>
                    <td>
                        {% image '@FCMEventoBundle/Resources/public/images/icons8-presentation.png' %}
                        <img class="img-responsive centered" src="{{ asset_url }}" >
                        {% endimage %}
                    </td>
                    <td>Avaliação de trabalhos</td>
                    <td>Utilize para para postagem e avaliação de trabalhos</td>
                    <td><a href="{{ func[4] }}">acessar</a></td>
                </tr>

            </table>
        </div>
    {% endif %}


{% endblock %}

{% block after_content %}
    {% if not isnew %}
    <div class="card ui teal fluid">
        <div class="card-title ">Modelo do certificado</div>
        <div class="card-content">
            {% if not isnew %}
                <div class="col-md-12 form-group">
                    {{ form_label(form.modelo) }}<br/>
                    <p>Informe o texto do certificado, utilize os campos abaixo para montar, caso necessite maiores informações você pode coletar do participante no momento da inscrição.
                        Para coletar, utilize os questionários</p>
                    {{ form_widget(form.modelo) }}
                    {{ form_errors(form.modelo) }}

                </div>

                {# Perguntas #}
                <table class="table">
                    <thead>
                    <td><strong>Pergunta</strong><br /> <small>utilizar esse campo no modelo</small></td>
                    <td><strong>Descrição</strong> <br /> <small>descrição do valor que será substituído</small></td>
                    </thead>
                {% for pergunta in perguntas %}
                    <tr>
                        <td>[{{ pergunta.pergunta }}]</td>
                        <td>{{ pergunta.nome }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="card ui teal fluid">
        <div class="content">Observações sobre a atividade que serão exibidas no momento da inscrição</div>

        {{ form_widget(form.descricao) }}
        {{ form_errors(form.descricao) }}
    </div>

    <br/>
    {{ form_row(form._token) }}
    <a class="btn btn-default" href="{{ back }}">{{ 'main.back'|trans }}</a>
    <input class="btn btn-primary" type="submit" value="{{ 'main.save'|trans }}" />

    {% if delete is defined %}
        <a class="btn btn-danger" href="{{ delete }}">{{ 'main.delete'|trans }}</a>
    {% endif %}

    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}