{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block content %}


    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.assunto) }}
        {{ form_widget(form.assunto) }}
    </div>
    {{ form_errors(form.assunto) }}
    {% if form.approve is defined %}
        {{ form_row(form.approve) }}
    {% endif %}
    {{ form_row(form.message) }}

    <a class="btn btn-default" href="{{ back }}">{{ 'main.back'|trans }}</a>
    <input class="btn btn-primary" type="submit" value="{{ 'main.save'|trans }}" />

    {{ form_end(form) }}

{% endblock %}

