{% extends "@FCMEvento/Default/base.html.twig" %}

{% block content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.nome) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.email) }}
        </div>
    </div>
    {% include ':default:button.submit.html.twig' %}
    {{ form_end(form) }}
{% endblock %}
