{% extends "@FCMEvento/Default/base.html.twig" %}


{% block content %}
<div class="table-responsive">
    <div id="data-table-basic_wrapper" class="dataTables_wrapper">
        <table id="data-table-basic" class="table table-striped dataTable" role="grid"
               aria-describedby="data-table-basic_info" style="width: 100%;">
            <thead>
                <td>Nome</td>
                <th>E-mail</th>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.nome }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block jscustom %}
    {% javascripts
        '@FCMEventoBundle/Resources/public/js/jquery.dataTables.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $('#data-table-basic').DataTable();
        });
    </script>
{% endblock %}