<td>
    <a onclick="saveAppCheck({{ respostaItem.id }})">
        {% if respostaItem.appCheck %}

            <i class="material-icons c-green500">bookmark</i>

        {% else %}
            <i class="material-icons c-orange500">bookmark_border</i>
        {% endif %}
    </a>
</td>

<td>
    {{ respostaItem.resposta.inscricao.participante.nome }}
</td>