{% import 'macros/base.html.twig' as macros %}
<div class="content">
    <div class="header ">{{ eventoAtividade.nome }}</div>
</div>
<div class="content">
    <div class="ui two statistics mini">
        <div class="statistic">
            <div class="value">
                {{ macros.periodo(eventoAtividade.dataIniInscricao, eventoAtividade.dataFimInscricao) }}
            </div>
            <div class="violet label">
                <i class="pencil alternate icon"></i> Período de inscrição
            </div>
        </div>

        <div class=" statistic">
            <div class="value">
                {{ macros.periodo(eventoAtividade.dataIniAtividade, eventoAtividade.dataFimAtividade) }}
            </div>
            <div class="violet label">
                <i class="calendar alternate outline icon"></i> Período da atividade
            </div>
        </div>
    </div>

    {# AVALIACAO #}
    {% if eventoAtividade.getQuestionarioAvaliador %}
        <br/>
        <div class="ui two statistics small">
            <div class=" statistic">
                <div class="value">
                    {{ eventoAtividade.getQuestionarioAvaliador.dataIniAvaliacao|date('d/m/Y') }}
                </div>
                <div class="label">
                    Início do período de avaliação
                </div>
            </div>

            <div class=" statistic">
                <div class="value">
                    {{ eventoAtividade.getQuestionarioAvaliador.dataFimAvaliacao|date('d/m/Y') }}
                </div>
                <div class="label">
                    Fim do período de avaliação
                </div>
            </div>
        </div>
    {% endif %}

    {# Evento privado #}
    {% if eventoAtividade.hide %}
        <h2>Evento privado</h2>
    {% endif %}

    {# Boleto FUNCAMP #}
    {% if eventoAtividade.atividadeBoleto %}
        <h4 class="ui sub header"><i class="fas fa-barcode"></i> {{ 'funcamp'|trans }}</h4>
    {% endif %}

</div>



{# Descricao #}
{% if eventoAtividade.descricao is not empty %}
    <div class="content">
    {{ eventoAtividade.descricao|raw }}
    </div>
{% endif %}