<div class="card">
    <div class="card-title bgm-lightblue">
        <h2>Inscrição</h2>
    </div>
    <div class="card-content">
        <h2>Participante</h2>
        <div class="row">
            <div class="col-md-4">
                <label>Nome:</label>
                {{ inscricao.participante.nome }}
            </div>
            <div class="col-md-4">
                <label>Documento:</label>
                {{ inscricao.participante.documento }}
            </div>
            <div class="col-md-4">
                <label>E-mail:</label>
                {{ inscricao.participante.email }}
            </div>
        </div>
        <h2>Inscrição: <i>{{ inscricao.eventoAtividade.nome }}</i></h2>

        <div class="row">
            {% for resposta in inscricao.respostas %}
                {% for item in resposta.respostaItens %}
                    <div class="col-md-12">
                    <label>{{ item.pergunta.nome }}:</label>
                    {{ item.text }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

