{% import 'macros/base.html.twig' as macro %}

{#
    Bloco para exibir inscricoes e suas opcoes
#}

{# Participante E inscricao possivel E inscrito #}
{% if is_granted('ROLE_PARTICIPANTE') %}

    {# Periodo de inscricao #}
    {%  if eventoAtividade.isInscricaoPossible(session) %}

        {# NÃO possui inscricoes OU POSSUI inscricoes e eh multiplo #}
        {% if inscricoes is empty or eventoAtividade.isInscricaoMultiple %}
            <div class="content">
                {# Inscrever/submeter #}
                <a class="ui primary button" href="{{ path('evento_inscricao_new', {'evento' : evento.id,
                    'eventoAtividade' : eventoAtividade.id }) }}">Inscrever</a>
            </div>
        {% endif %}

    {# NAO eh mais possivel se inscrever #}
    {% else %}

        {# Vagas esgotadas #}
        {% if not eventoAtividade.isVagasDisponiveis %}
            <div class="ui message bottom attached red">
                <div class="header">
                    {{ 'esgotado'|trans }}
                </div>
            </div>
        {% else %}
            <div class="ui message bottom attached yellow">
                <div class="header">
                    Fora do período de inscrição
                </div>
            </div>
        {% endif %}



    {% endif %}
{% endif %}

{# Exibe inscricoes #}
{% for inscricao in inscricoes %}
    {{ macro.printInscricao(inscricao) }}
{% endfor %}


{# Nao logado #}
{% if not is_granted('ROLE_USER') %}
    <a class="ui primary basic button" href="{{ path('evento_inscricao_new', {'evento' : evento.id,
        'eventoAtividade' : eventoAtividade.id }) }}">Efetue login para se inscrever</a>
{% endif %}

