{% if valores is defined and valores is iterable %}
    {% set total = 0 %}

    {% for respostaItem in valores %}
        {% set total = total + respostaItem.valor %}
    {% endfor %}

    {% if total > 0 %}
    <div class="card ui fluid teal">
        <div class="content">
            <div class="header">Demonstrativo</div>
        </div>
        <div class="">

            {% if valores is not empty %}

                <table class="table">
                    {% for respostaItem in valores %}

                        <tr>
                            <td>
                                <span>{{ respostaItem.pergunta.nome }}</span><br/>
                                <span>{{ respostaItem.text }}</span>
                            </td>
                            <td style="text-align: right">
                                R$ {{ respostaItem.valor|number_format(2,',','.') }}
                            </td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td>
                            <strong>Valor total para pagamento</strong>
                        </td>
                        <td style="text-align: right">
                            <strong>R$ {{ total|number_format(2,',','.') }}</strong>
                        </td>
                    </tr>
                </table>
            {% endif %}
        </div>
    </div>
        {% endif %}
{% endif %}