<div class="card ui fluid teal">
    <div class="content">
        <div class="header">Boleto Funcamp</div>
    </div>
    <div class="content">
        <p>
        <label>Última verificação: </label>
        {{ inscricao.boleto.lastUpdate|date('d/m/Y H:i') }}
        </p>

        <p>
        <label>Criado em: </label>
        {{ inscricao.boleto.created|date('d/m/Y H:i') }}
        </p>

        <p>
            <label>Vencimento:</label>
            {{ inscricao.boleto.dataVencimento|date('d/m/Y') }}
        </p>

        <p>
            <label>Valor:</label>
            R$ {{ inscricao.boleto.valor|number_format(2,',','.') }}
        </p>
    </div>
    <div class="extra content">
        <a href="{{ path('admin_inscricao_boleto_edit', {
            'inscricao' : inscricao.id,
            'id' : inscricao.boleto.id,
            'back' : app.request.requestUri
        }) }}" class="ui button basic secondary">Editar boleto</a>
    </div>
</div>





