{% extends '@FCMEvento/Default/base.html.twig' %}

{% block body %}
    <div class="card ui fluid">
        <div class="content">
            <div class="header">
                {% if back is defined %}<a href="{{ back }}"><i class="material-icons">arrow_back</i></a>{% endif %}
                {{ page_title }}
            </div>
        </div>

        <div class="content">
            <h1>{{ 'evento'|trans }}: {{ inscricao.eventoAtividade.evento.nome }}</h1>
            <h2>{{ 'atividade'|trans }}: {{ inscricao.eventoAtividade.nome }}</h2>

            <p>{{ inscricao.eventoAtividade.DataIniAtividade|date('d M Y H:i') }} {{ 'ate'|trans }} {{ inscricao.eventoAtividade.DataFimAtividade|date('d M Y H:i') }}</p>

            <div class="row">
                <div class="col-md-4">
                    <label>{{ 'documento'|trans }} </label><br/>
                    {{ inscricao.participante.documento }}
                </div>

                <div class="col-md-4">
                    <label>{{ 'nome'|trans }}</label><br/>
                    {{ inscricao.participante.nome }}
                </div>

                <div class="col-md-4">
                    <label>E-mail</label><br/>
                    {{ inscricao.participante.email }}
                </div>
            </div>
        </div>
    </div>

    {% include 'FCMEventoBundle:Inscricao:block.valores.html.twig' %}

    {% if inscricao.respostas is not empty %}
    <div class="card ui fluid">
        <div class="content">
            <div class="header">{{ 'info'|trans }}</div>
        </div>
        <div class="content">
            {% include 'FCMEventoBundle:Inscricao:show.html.twig' %}
        </div>
    </div>
    {% endif %}

    <br/>
    {% include ':default:button.html.twig' with {
        'text' : 'voltar'|trans,
        'href' : back
    } %}


{% endblock %}