{% extends "FCMEventoBundle:Default:base.html.twig" %}



{% block content %}

    {{ form_start(form) }}
        <br/>
        <h2>Confirma o cancelamento da inscrição em <i>{{ title }}</i>?</h2>
        <br/>
        <div style="display: none;">
            {{ form_row(form) }}
        </div>


        <a class="btn btn-default" href="{{ cancel_route }}">{{ 'main.back'|trans }}</a>
        <input class="btn btn-danger" type="submit" value="{{ 'main.delete'|trans }}" />
    {{ form_end(form) }}


{% endblock %}
