{% extends 'FCMEventoBundle:Default:base.html.twig' %}




{% block body %}


    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="card ui fluid">
        <div class="content">
            {% block page_title %}
                {% if page_title is defined %}
                    <div class="header">
                        {% if back is defined %}<a href="{{ back }}"><i class="material-icons">arrow_back</i></a>{% endif %}
                        {{ page_title }}
                    </div>
                    {% if page_title_desc is defined %}<small>{{ page_title_desc }}</small>{% endif %}
                {% endif %}
            {% endblock %}
        </div>

        {# Opcoes do administrador #}
        {% if inscricao.eventoAtividade.evento.isAdmin(app.user) or is_granted('ROLE_17_0') and delete is defined %}

            <div class="content">
                {% include 'default/button.html.twig' with {
                    'href' : path('participante_edit', {'id' : inscricao.participante.id, 'back' : app.request.requestUri }),
                    'text' : 'Editar participante',
                    'class' : 'primary basic'
                } %}

                {# Registrar presenca #}
                {% if inscricao.id is not empty %}
                <div id="admin_evento_atividade_presenca_ajax_button{{ inscricao.id }}"
                     class="admin_evento_atividade_presenca_ajax_button inline"
                     evento="{{ inscricao.eventoAtividade.evento.id }}"
                     eventoAtividade="{{ inscricao.eventoAtividade.id }}"
                     inscricao="{{ inscricao.id }}">
                    {% include '@FCMEvento/Presenca/button.certificado.html.twig' with {'inscricao' : inscricao } %}

                    {% if inscricao.boleto is not empty %}
                        {% include 'default/button.html.twig' with {'href' : inscricao.boleto.urlBoleto, 'text' : 'Visualizar boleto' } %}
                    {% endif %}
                </div>
                {% endif %}

                {% if delete is defined %}
                    {% include ':default:button.html.twig' with {'href' : path('evento_inscricao_confirmdelete', {
                        'evento' : inscricao.eventoAtividade.evento.id,
                        'eventoAtividade' : inscricao.eventoAtividade.id,
                        'id' : inscricao.id
                    }), 'text' : 'Cancelar inscrição', 'class' : 'primary negative basic' } %}
                {% endif %}
            </div>


        {% endif %}

        <div class="content">
            <h1>{{ 'confirmarinscr'|trans }} <i>{{ inscricao.eventoAtividade.nome }}</i>?</h1>

            <div class="form-group">{{ 'alterarinfo'|trans }}</div>

            <div class="row">
                <div class="col-md-4 form-group">
                    <label>{{ 'documento'|trans }} </label><br/>
                    {{ inscricao.participante.documento }}
                </div>

                <div class="col-md-4 form-group">
                    <label>{{ 'nome'|trans }}</label><br/>

                    {{ inscricao.participante.nome }}

                </div>

                <div class="col-md-4 form-group">
                    <label>E-mail</label><br/>
                    {{ inscricao.participante.email }}
                </div>
            </div>

            {% if inscricao.eventoAtividade.questionarioInscricao is not empty %}
                <div class="form-group">
                    <h2>{{ 'orientacoes'|trans }}</h2>
                {{ inscricao.eventoAtividade.questionarioInscricao.descricao|raw }}
                </div>
            {% endif %}
        </div>
    </div>

    {% include 'FCMEventoBundle:Inscricao:block.valores.html.twig' %}

    {% if inscricao.boleto is not empty %}
        {% include 'FCMEventoBundle:Inscricao:block.boletofuncamp.html.twig' %}
    {% endif %}

    {% if form.respostaItens is not empty %}
    <div class="card ui fluid teal">
        <div class="content">
            <div class="header">{{ 'info'|trans }}</div>
        </div>
        <div class="content">
            {# Insere questionario #}
                {% for respostaItem in form.respostaItens %}
                    {{ form_widget(respostaItem) }}
                {% endfor %}
                {{ form_row(form._token) }}
        </div>
    </div>
    {% endif %}


    {# Campo de deposito deve estar habilitado no questionario #}
    {% if inscricao.eventoAtividade.questionarioInscricao
        and form.deposito is defined and inscricao.eventoAtividade.questionarioInscricao.deposito %}
        {% set pago = false %}

        {% if inscricao.deposito and inscricao.deposito.pago %}
            {% set pago = true %}
        {% endif %}

        <div class="card ui teal fluid">
            <div class="content">
                <div class="header">Depósito</div>
            </div>


            <div class="card-content">
                <div class="form-group">
                    {{ deposito.descricao|raw }}
                </div>

                <div class="form-group">
                    {{ form_row(form.deposito) }}
                </div>

                {% if form.pago is defined %}
                    {{ form_row(form.pago) }}
                {% endif %}

                {% if pago %}
                    <h2 class="c-green500">Seu depósito está confirmado</h2>
                {% else %}
                    <h2 class="c-orange500">Depósito não confirmado</h2>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <br/>

    {% include ':default:button.submit.html.twig' with {'class' : 'primary'} %}

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}

{% block jscustom %}
    {% javascripts
        '@FCMEventoBundle/Resources/public/js/presenca.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}