{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block body %}


    <div class="ui cards">
        {% for eventoAtividade in eventoAtividades %}
            {% set inscricoes = eventoAtividade.isInscrito(participante) %}

            <div class="ui card fluid">
                {% include 'FCMEventoBundle:Inscricao:block.info.html.twig' %}

                {% include 'FCMEventoBundle:Inscricao:block.inscricoes.html.twig' %}

            </div>
        {% endfor %}
    </div>

{% endblock %}