{# Renders inscricao #}
{% for inscricaoToken in inscricao.inscricaoTokens %}
    <div class="form-group">
        <label>{{ inscricaoToken.atividadeToken.token.nomeExibicao }}</label>
        <p>{{ inscricaoToken.val }}</p>
    </div>
{% endfor %}

{% for resposta in inscricao.respostas %}
    {% if resposta.questionario.type != 1 %}
        {% for item in resposta.respostaItens %}

            {# Exibe somente se for avaliacao e habilitado para exibir #}
            {% if questionario.type == 1 and item.pergunta.showAvaliacao or questionario.type != 1 or questionario.eventoAtividade.evento.isAdmin(app.user) %}
            <div class="form-group">
                <label>{{ item.pergunta.nome }}</label>
                <p>
                    {% if item.valor is not empty %}
                        R$ {{ item.valor|number_format(2,',','.') }}
                    {% endif %}

                    {% if item.fileName is not empty %}
                        <a href="{{ vich_uploader_asset(item, 'file') }}" target="_blank">
                            <i class="material-icons">attachment</i> visualizar
                        </a>
                    {% else %}
                        {{ item.text|raw }}
                    {% endif %}

                </p>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

