{% block page_title %}
    {% if page_title is defined %}
        <h1>
            {% if back is defined %}
                <a href="{{ back }}"><i class="material-icons">arrow_back</i></a>
            {% endif %}
            {{ page_title }}
        </h1>
        {% if page_title_desc is defined %}<small>{{ page_title_desc }}</small>{% endif %}
    {% endif %}
{% endblock %}