
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Gerenciador de eventos{% endblock %}</title>

    <!-- Stylesheet -->
    {% stylesheets
        '@FCMThemeBundle/Resources/public/css/colors.css'
        '@FCMThemeBundle/Resources/public/css/*'

        '@FCMThemeBundle/Resources/public/css/semantic-ui/transition.min.css'
        '@FCMEventoBundle/Resources/public/css/*'
        'bundles/mopabootstrap/components/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css'
        filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="{{ asset('bundles/fcmtheme/js/jquery-3.2.1.min.js') }}"></script>



    {% image '@FCMThemeBundle/Resources/public/images/favicon.ico' %}
        <link rel="shortcut icon" href="{{ asset_url }}" type="image/vnd.microsoft.icon" />
    {% endimage %}

    {% block stylesheets_cutom %}{% endblock %}
    {% block css_custom %}{% endblock %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>


    {% block custom_head %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="{% if body_class is defined %}{{ body_class }}{% endif %}">
<!-- Sidebar -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5ebde942967ae56c5219ee51/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-43442078-10', 'auto');
    ga('send', 'pageview');
</script>

<div id="wrapper">
    <!-- Header -->
    {% block header %}{{ render(controller('FCMEventoBundle:Theme:header')) }}{% endblock %}

    <div class="container-fluid">
        <div class="row">
            {% block sidebar %}
                <div class="col-lg-3">
                    {% block sidebar_inner %}
                        {% include 'FCMEventoBundle:Theme:sidebar.html.twig' %}
                    {% endblock %}
                </div>
            {% endblock %}

            <!-- Content -->
            {% block main_container %}
                <!-- body -->
                <div class="main-container col-lg-9">
                    <div class="body">
                        {% block body %}
                            <div class="card ui fluid">
                                <div class="content">
                                    {% include 'FCMEventoBundle:Default:base.pagetitle.html.twig' %}
                                </div>
                                <!-- Content-inner -->
                                <div class="content">
                                    <!-- Action Links -->
                                    {% block action_links %}
                                        {% if action_links is defined %}
                                            <div class="action-links">
                                                {% for action_link in action_links %}

                                                    {% if action_link.role is defined and is_granted(action_link.role) %}
                                                        {% include ':default:button.html.twig' with {'href' : action_link.url, 'text' : action_link.label, 'class' : action_link.class|default('') } %}
                                                    {% endif %}

                                                    {% if action_link.role is not defined %}
                                                        {% include ':default:button.html.twig' with {'href' : action_link.url, 'text' : action_link.label, 'class' : action_link.class|default('') } %}
                                                    {% endif %}

                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endblock %}

                                    <!-- Content -->
                                    {% block content %}{% endblock %}
                                </div>
                            </div>
                            {% block after_content %}{% endblock %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>

</div>

{% block jsfooter %}
    {% javascripts

        '@FCMThemeBundle/Resources/public/js/semantic-ui/semantic.min.js'
        '@FCMThemeBundle/Resources/public/js/semantic-ui/accordion.min.js'
        '@FCMThemeBundle/Resources/public/js/semantic-ui/transition.min.js'
        '@FCMThemeBundle/Resources/public/js/semantic.js'
        '@FCMThemeBundle/Resources/public/js/bootstrap.min.js'
        'bundles/fcmevento/js/components/bootstrap-datetimepicker.min.js'
        'bundles/fcmevento/js/functions.js'
        '@FCMEventoBundle/Resources/public/js/notify.js'
        '@FCMThemeBundle/Resources/public/js/preventDoubleSubmisssion.js'
        '@TetranzSelect2EntityBundle/Resources/public/js/select2entity.js'
        '@FCMThemeBundle/Resources/public/js/select2.full.min.js'
    %}    
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dimmer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/tab.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js"></script>


{% endblock %}

{% block jscustom %}{% endblock %}

<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
{% include 'FCMEventoBundle:Default:notification.html.twig' %}

</body>

</html>