{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block page_header %}
    <h1>Confirma exclusão de <i>{{ title }}</i>?</h1>
{% endblock %}

{% block content %}

    {{ form_start(form) }}
        <br/>
        <h2>Confirma a exclusão de <i>{{ title }}</i></h2>
        <br/>
        <div style="display: none;">
            {{ form_row(form) }}
        </div>


        <a class="btn btn-default" href="{{ cancel_route }}">{{ 'main.back'|trans }}</a>
        <input class="btn btn-danger" type="submit" value="{{ 'main.delete'|trans }}" />
    {{ form_end(form) }}


{% endblock %}
