{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                {% for th in table_header %}
                    <th>{{ th }}</th>
                {% endfor %}
            </tr>
        </thead>
        {% if table_rows is defined %}
            <tbody>
                {% for tr in table_rows %}
                    <tr>
                        {% for td in tr %}

                            <!-- Action links -->
                            {% if td is iterable %}
                                <td>
                                    {% for action_link in td %}
                                        {% if action_link.role is defined and is_granted(action_link.role) %}
                                            <a class="btn btn-xs btn-default" href="{{ action_link.url }}">{{ action_link.label| raw }}</a>
                                        {% endif %}

                                        {% if action_link.role is not defined %}
                                            <a class="btn btn-xs btn-default" href="{{ action_link.url }}">{{ action_link.label | raw }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td>{{ td }}</td>
                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
{% endblock %}