{% import _self as notification %}

{% for flash_message in app.session.flashBag.get('success') %}{{ notification.message('positive', flash_message) }}{% endfor %}
{% for flash_message in app.session.flashBag.get('error') %}{{ notification.message('negative', flash_message) }}{% endfor %}
{% for flash_message in app.session.flashBag.get('info') %}{{ notification.message('blue', flash_message) }}{% endfor %}
{% for flash_message in app.session.flashBag.get('warning') %}{{ notification.message('orange', flash_message) }}{% endfor %}

{% macro message(type, flash_message) %}
<script>
    $.notify({
        message: '<div class="ui message {{ type }} ">{{ flash_message }}</div>',
    },{
        type: "{{ type }}",
        timer: 5000,
        mouse_over: "pause",
        placement: {
            from: "top",
            align: "center"
        },
        animate:{
            enter: "animated fadeInUp",
            exit: "animated fadeOutDown"
        }
    });
</script>
{% endmacro %}