{% extends "FCMEventoBundle:Default:base.html.twig" %}



{% block content %}

    {{ form_start(form) }}
    <br/>
    <h2>Confirma a exclusão da pergunta : <i>{{ pergunta.nome }}</i>?</h2>
    <br/>


    <a class="btn btn-default" href="{{ cancel_route }}">{{ 'main.back'|trans }}</a>
    <input class="btn btn-danger" type="submit" value="{{ 'main.delete'|trans }}" />
    {{ form_end(form) }}


{% endblock %}
