{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% form_theme form _self %}

{% block body %}
    {% include 'FCMEventoBundle:Default:base.pagetitle.html.twig' %}

    {{ form_start(form) }}
    <div class="card ui fluid">
        {% form_theme form
            'jquery.collection.html.twig'
            'FCMQuestionBundle:Questionario:block.perguntas.html.twig'
        %}
        {{ form(form) }}

        {{ form_end(form) }}
    </div>
    {#
    <div class="notice notice-info instructions">
        <strong>
            <h2>
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                Tem Dúvidas sobre como montar perguntas?
            </h2>
        </strong> Clique aqui para ver diferentes exemplos de como montar suas perguntas
    </div>
    #}
{% endblock %}

{% block jscustom %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script>
        $(document).ready(function() {
            $('.help').on('click', function(event) {
                event.preventDefault();

                $('.instructions').toggle('slow');
                $('.question-form').toggle('slow');

                $('html,body').animate({ scrollTop: 0 }, 'slow');
            });

            $('.help-question').on('click', function(event) {
                event.preventDefault();

                $('.instructions').toggle('slow');
                $('.question-form').toggle('slow');

                $('html,body').animate({scrollTop: $('html,body').height()}, 'slow');
            });
        });
    </script>

    <script type="text/javascript">
        $('.perguntaitem-collection').collection({
            up: '<a href="#" class=""><i class="material-icons">keyboard_arrow_up</i></a>',
            down: '<a href="#" class=""><i class="material-icons">keyboard_arrow_down</i></a>',
            add: '<a href="#" class=""><i class="material-icons">add</i> incluir opção</a>',
            remove: '<a href="#" class=""><i class="material-icons">clear</i> excluir opção</a>',
            prefix: 'parent',
            allow_duplicate: false,

        });
    </script>
    <script>
        $(document).ready(function() {
            $(".select-tipo").each(function () {controlPergunta(this)});
            $('body').on('click', '.select-tipo', function() {
                controlPergunta(this)
            })
        });

        {# Oculta/Exibe  a lista se necessario inserir opcoes #}
        function controlPergunta($obj){
            $('#PerguntaType').addClass('hidden');

            switch ($obj.value){
                case "Symfony\\Component\\Form\\Extension\\Core\\Type\\CheckBoxType":
                case "Symfony\\Component\\Form\\Extension\\Core\\Type\\ChoiceType":
                    $('#PerguntaType').removeClass('hidden');
                    break;
            }
        }
    </script>


    {# Chart #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.11/highcharts.js" integrity="sha256-kdXa+87js6pBxdWeNwFj0+gBFdNW8fbk0jWIHL9jWl8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highchartTable/2.0.0/jquery.highchartTable.min.js" integrity="sha256-j4pXcjEAHApZeVWq1JhNVg7a8wWj1vKNNF0ZzTszRJk=" crossorigin="anonymous"></script>

    {# Slick #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js" integrity="sha256-4Cr335oZDYg4Di3OwgUOyqSTri0jUm2+7Gf2kH3zp1I=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $('.text-carousel').slick({
            dots: true,
            infinite: false,
            speed: 300,
            slidesToShow: 1,
            slidesToScroll: 1,
            customPaging : function(slider, i) {
                var thumb = $(slider.$slides[i]).data();
                return i;
                // return '<span class="btn btn-default btn-icon waves-effect waves-circle waves-float">'+ i +'</span>'
            },
        });
        $('.slick-dots').slick({
            slidesToShow: 30,
            slidesToScroll: 30,
            arrows: true,
            responsive: [
                {
                    breakpoint: 900,
                    settings: {
                        arrows: true,
                        slidesToScroll: 15,
                        slidesToShow: 15,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: true,
                        slidesToScroll: 10,
                        slidesToShow: 10,
                    }
                }
            ]
        });

        $(document).ready(function() {
            $('table.highchart').highchartTable();
        });
    </script>
{% endblock %}