{# Status de trabalho aprovado #}
{% if resposta.approved %}
<div class="ui big label horizontal basic green">
    <span class="">aprovado</span>
</div>
{% else %}
<div class="ui big label horizontal basic orange">
    <span class="">não aprovado</span>
{% endif %}
</div>