{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block content %}

 	{{ form_start(form) }}

    {# Insere questionario #}
    {% for respostaItem in form.respostaItens %}
        {{ form_widget(respostaItem) }}
    {% endfor %}

    {{ form_row(form._token) }}

    {{ form_end(form) }}


{% endblock %}