{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block content %}

    {% if eventoAtividade.evento.isAdmin(app.user) or is_granted('ROLE_17_0') %}

    <div class="form-group">
        {% include ':default:button.html.twig' with {
            'text' : 'Exportar trabalhos para aprovação',
            'href' : path('admin_evento_atividade_presenca_lista_aprovacao', {
                'evento' : eventoAtividade.evento.id,
                'eventoAtividade' : eventoAtividade.id })
        } %}
        {% include ':default:button.html.twig' with {
            'text' : 'Enviar mensagem',
            'href' : path('admin_evento_atividade_message', {
                'evento' : eventoAtividade.evento.id,
                'id' : eventoAtividade.id })
        } %}
        {% include ':default:button.html.twig' with {
            'text' : 'Exportar inscrições',
            'href' : path('admin_evento_atividade_presenca_export_index', {
                'evento' : eventoAtividade.evento.id,
                'eventoAtividade' : eventoAtividade.id })
        } %}


    </div>
    {% endif %}

    <p>Limite de avaliações por trabalho: {{ questionario.max }}</p>
    {% if questionario.aproveRequired %}
        <p>Seus trabalhos requerem aprovação clique no <i class="material-icons c-orange500">hourglass_empty</i>
            para aprovar e enviar o e-mail para atrabalhos aprovados. Trabalhos aprovados possuem<i class="material-icons c-green500">check</i></p>
    {% endif %}




    <div class="table-responsive">
    <div id="data-table-basic_wrapper" class="dataTables_wrapper">
        <table id="data-table-basic" class="table table-striped dataTable" role="grid"
               aria-describedby="data-table-basic_info" style="width: 100%;">
            <thead>

                <th>Status</th>
                {% if questionario.aproveRequired and admin %}
                    <th>Aprovados</th>
                {% endif %}

                {% for pergunta in submissoes.perguntas %}
                    {% if pergunta.showAvaliacaoLista %}
                        <th>{{pergunta.nome}}</th>
                    {% endif %}
                {% endfor %}
            </thead>



        {% for resposta in submissoes.respostas %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>
                    {# ADMIN DO EVENTO #}
                    {% if admin %}
                        {# a partir do status define a cor #}
                        {% if resposta.getNumAvaliacao >= resposta.inscricao.eventoAtividade.questionarioAvaliador.max %}
                            {% set color = 'green' %}
                        {% else %}
                            {% set color = 'orange' %}
                        {% endif %}

                        <a href="{{ path('questionario_inscricao_resposta_show', {
                            'questionario' : questionario.id,
                            'inscricao' : resposta.inscricao.id,
                        }) }}" class="ui label horizontal big mini {{ color }} basic">
                            {{ resposta.getNumAvaliacao }} avaliações
                        </a>

                        {% if questionario.aproveRequired %}
                        <td id="ajax_question_resposta_approve{{ resposta.id }}" respostaId="{{ resposta.id }}"
                            class="ajax_question_resposta_approve">
                            {% include 'FCMQuestionBundle:Resposta:ajax.approve.html.twig' with {
                                'resposta' : resposta
                            } %}
                        </td>
                        {% endif %}
                    {# NAO ADMIN DO EVENTO #}
                    {% else %}

                        {% if resposta.getAvaliacaoStatus(app.user) == 2 %}
                            <div class="ui label horizontal big mini green basic" disabled="disabled" >já avaliado</div>
                        {% else  %}
                            <a class="ui label horizontal big mini blue basic" href="{{ path('questionario_inscricao_resposta_new',{
                                'questionario' : questionario.id,
                                'inscricao' : resposta.inscricao.id,
                            }) }}">avaliar</a>
                        {% endif %}
                    {% endif %}

                </td>

                {# Exibe somente respostas habilitadas #}
                {% for item in resposta.respostaItens %}
                  {% if item.pergunta.showAvaliacaoLista %}
                    <td>{{item.text|raw }}</td>
                  {% endif %}
                {% endfor %}


            </tr>
        {% endfor %}
    </table>
    </div>
    </div>


{% endblock %}

{% block jscustom %}

    {% javascripts
        '@FCMEventoBundle/Resources/public/js/jquery.dataTables.min.js'
        '@FCMBoletoFuncampBundle/Resources/public/js/notify.js'
        '@FCMEventoBundle/Resources/public/js/presenca.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).on("click", ".ajax_question_resposta_approve", function (e) {
            var $element = $(this);

            $.ajax({
                type: "POST",
                dataType: 'json',
                url: Routing.generate('ajax_question_resposta_approve', {
                    'resposta' : $($element).attr('respostaId'),
                    'questionario' : {{ questionario.id }},
                }),
                async: false //you won't need that if nothing in your following code is dependend of the result
            })
                .done(function(response){
                    var result = '#ajax_question_resposta_approve'+$element.attr('respostaId');
                    $(result).html(response);
                })
                .fail(function(jqXHR, textStatus, errorThrown){
                    alert('Error : ' + errorThrown);
                });
        });

        $(document).ready(function() {
            $('#data-table-basic').DataTable(
                {
                    "pageLength": 1000,
                    "columnDefs": [
                        { "orderData": [ 0 ],    "targets": 2 },

                    ],
                    "order": [[ 1, "asc" ]],
                }
            );
        });
    </script>
{% endblock %}