{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block content %}

    {{ form_start(form) }}


    <div class="card-content">
        <div class="form-group">
            {% if deposito.descricao is not empty %}
                <h2>Observações</h2>
            {{ deposito.descricao|raw }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_row(form.deposito) }}
        </div>

        {% if form.pago is defined %}
            {{ form_row(form.pago) }}
        {% endif %}


    </div>
    {{ form_end(form) }}


{% endblock %}