{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block content %}
    {# Para avaliadores exibe inscricao #}
    {% if questionario.type == 1 %}
        {% include 'FCMEventoBundle:Inscricao:show.html.twig' with {'inscricao': inscricao,'questionario' : questionario} only %}
    {% endif %}

    {% if questionario.type == 1 %}
        <h2>Avaliação</h2>
    {% endif %}

    {{ form_start(form) }}
    {% include 'FCMQuestionBundle:Resposta:fill.html.twig' with {'form': form,'questionario' : questionario} only %}
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

    <a class="btn btn-default" href="{{ back }}">{{ 'main.back'|trans }}</a>

{% endblock %}