{{ questionario.descricao|raw }}
<br />
{% if submit is defined %}{{ form_start(form) }}{% endif %}

    {% for respostaItem in form.respostaItens %}
        {{ form_widget(respostaItem) }}
    {% endfor %}

    {% if form.submit is defined %}{{ form_row(form.submit) }}{% endif %}

{% if submit is defined %}{{ form_row(form._token) }}{% endif %}
{% if submit is defined %}{{ form_end(form, {'render_rest': false}) }}{% endif %}
