{% extends "FCMQuestionBundle:Resposta:show.html.twig" %}

{% block avaliacao %}
    {# Aprovacao necessaria #}
    {% if questionario.aproveRequired %}

        {% if resposta.approved %}
            <div class="ui message bottom attached green">
                <div id="ajax_question_resposta_approve{{ resposta.id }}" respostaId="{{ resposta.id }}"
                     class="ajax_question_resposta_approve header">
                    Trabalho aprovado
                </div>
            </div>
        {% else %}
            <div class="ui message bottom attached yellow">
                <div id="ajax_question_resposta_approve{{ resposta.id }}" respostaId="{{ resposta.id }}"
                     class="ajax_question_resposta_approve">
                    Trabalho não aprovado. Clique para aprovar

                </div>
            </div>


        {% endif %}

    {% endif %}

{% endblock %}

{% block jscustom %}

    <script>
        $(document).on("click", ".ajax_question_resposta_approve", function (e) {
            var $element = $(this);
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: Routing.generate('ajax_question_resposta_approve', {
                    'resposta' : $($element).attr('respostaId'),
                    'questionario' : {{ questionario.id }},
                    'showLabel' : true,
                }),
                async: false //you won't need that if nothing in your following code is dependend of the result
            })
                .done(function(response){
                    var result = '#ajax_question_resposta_approve'+$element.attr('respostaId');
                    console.log(result);
                    $(result).html(response);
                })
                .fail(function(jqXHR, textStatus, errorThrown){
                    alert('Error : ' + errorThrown);
                });
        });


    </script>
{% endblock %}