{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block content %}
    {# Para avaliadores exibe inscricao #}
    {% if questionario.type == 1 %}
        {% block avaliacao %}{% endblock %}

        {% include 'FCMEventoBundle:Inscricao:show.html.twig' with {'inscricao': inscricao,'questionario' : questionario} only %}


        <h2>Avaliações</h2>
        {% if inscricao.respostas is empty %} Trabalho não possui avaliações <br />{% endif %}
    {% endif %}

    {# Exibe respostas #}
    {% for resposta in inscricao.respostas %}

        {# Tipo avaliacao #}
        {% if resposta.questionario.type == 1 %}
            {# Exibie avaliacoes somente a logados#}
            {% if is_granted('ROLE_USER') %}

                <h3>{{ resposta.created|date('d M Y H:i') }}: {{ resposta.createdBy.usuario.nome|default(resposta.createdBy.username) }}</h3>



                {% for respostaItem in resposta.respostaItens %}
                    <label>{{ respostaItem.pergunta.nome }}</label>
                    <p>{{ respostaItem.text }}</p>
                {% endfor %}
            {% endif %}

        {% endif %}
    {% endfor %}


{% endblock %}