{% extends "emails/base.html.twig" %}

{% block content %}
    <h1>Envio de boleto</h1>

    <h2>{{ eventoAtividade.evento.nome }} - {{ eventoAtividade.nome }}</h2>
    <p>Prezado(a) participante {{ inscricaoBoleto.inscricao.participante.nome }}, segue o link para
        o boleto.</p>

    <h3><a href="{{ inscricaoBoleto.urlBoleto }}">{{ inscricaoBoleto.urlBoleto }}</a></h3>
    <p><strong>Data de vencimento: {{ inscricaoBoleto.dataVencimento|date('d M Y') }}</strong></p>

    <p>Você pode acompanhar a confirmação do pagamento através da área do participante</p>

    <p>
        Em caso de dúvidas entre em contato com o administrador do evento através do e-mail
        <strong>{{ eventoAtividade.evento.email }}</strong>
    </p>

    <p></p>
{% endblock %}