{% extends "emails/base.html.twig" %}

{% block content %}
    <h1>Lembrente de pagamento</h1>

    <h2>{{ eventoAtividade.evento.nome }} - {{ eventoAtividade.nome }}</h2>
    <p>Prezado(a) participante {{ inscricaoBoleto.inscricao.participante.nome }}, ainda não detectamos o pagamento
        da sua inscrição para a atividade segue o link para o pagamento.</p>

    <h3><a href="{{ inscricaoBoleto.urlBoleto }}">{{ inscricaoBoleto.urlBoleto }}</a></h3>
    <p><strong>Data de vencimento: {{ inscricaoBoleto.eventoAtividadeBoleto.vencimento|date('d M Y') }}</strong></p>

    <p>Você pode acompanhar a confirmação do pagamento através da área do participante</p>
    <p>Para quaisquer dúvidas você poderá entrar em contato com o administrador do evento através do e-mail
        <strong>{{ eventoAtividade.evento.email }}</strong></p>

    <p></p>
{% endblock %}