{% extends "FCMEventoBundle:Default:base.html.twig" %}
{% import 'macros/base.html.twig' as macros %}

{% block sidebar_inner %}
    {{ parent() }}
    <div class="ui card fluid">
        <div class="content">
            <div class="header">Buscar Eventos</div>
        </div>
        <div class="content">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.eventos) }}
                </div>
                <div class="col-md-12">
                    {{ macros.button_submit('Ir para o evento') }}
                </div>
            </div>



            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-4">
            {% for evento in eventosAvaliacao %}
                {{ render(controller('FCMEventoBundle:Evento:cardAvaliador', { 'evento': evento} )) }}
            {% endfor %}

            {% for evento in col1 %}
                {% include 'FCMEventoBundle:Theme:menu.evento.admin.html.twig' with {'evento' : evento } %}
            {% endfor %}
        </div>
        <div class="col-lg-4">
            {% for evento in col2 %}
            {% include 'FCMEventoBundle:Theme:menu.evento.admin.html.twig' with {'evento' : evento } %}
            {% endfor %}
        </div>

        <div class="col-lg-4">
            {% for evento in col3 %}
                {% include 'FCMEventoBundle:Theme:menu.evento.admin.html.twig' with {'evento' : evento } %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
