{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block content %}

    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.nome) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">{{ form_row(form.active) }}</div>
        <div class="col-md-3">{{ form_row(form.avaliacao) }}</div>
        <div class="col-md-3">{{ form_row(form.multiple) }}</div>
    </div>
        {{ form_row(form.modelo) }}


    {{ form_widget(form) }}
    <a class="btn btn-default" href="{{ back }}">{{ 'main.back'|trans }}</a>
    <input class="btn btn-primary" type="submit" value="{{ 'main.save'|trans }}" />

    {% if delete is defined %}
        <a class="btn btn-danger" href="{{ delete }}">{{ 'main.delete'|trans }}</a>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}