{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block content %}
    <div class="row">
        <a class="btn btn-default" href="{{ path('admin_token_index') }}">{{ 'voltar'|trans }}</a>
        <a class="btn btn-primary" href="{{ path('admin_token_edit', {'id' : entity.id}) }}">{{ 'editar'|trans }}</a>
    </div>

    <div class="row">
        <p><label>ID:</label> {{ entity.id }}</p>
        <p><label>Nome:</label> {{ entity.nome }}</p>
        <p><label>Nome exibição:</label> {{ entity.nomeExibicao }}</p>
        <p><label>Tipo:</label> {{ entity.tipo }}</p>
        <p><label>Tamanho:</label> {{ entity.tamanho }}</p>
        <p><label>Obrigatorio:</label> {{ entity.obrigatorio }}</p>
    </div>


{% endblock %}