<div class="card">
    <div class="card-header">
        <h2> Pergunta tipo <strong>"Caixa de seleção (unico)"</strong> <br><small>As perguntas do tipo <strong>"Caixa de seleção (unico)"</strong> são boas para coletar alguma escolha do usuário (apenas uma opção)</small></h2>
    </div>

    <div class="card-body">
        <div class="card-padding">
            <h3>Alguns exemplos:</h3>
            <ul>
                <li>Como você classificaria o evento em que participou?</li>
                <li>Qual o seu sexo?</li>
                <li>Qual a sua faixa etária?</li>
                <li>Qual a sua faixa salarial?</li>
            </ul>
            <br>
            <div class="first">
                {% image '@FCMQuestionBundle/Resources/public/gifs/choiceunique.gif' %}
                    <img src="{{ asset_url }}" alt="Example" />
                {% endimage %}
            </div>
            <blockquote class="notice notice-info">
                <h3>
                    Todas as respostas da <strong>"Caixa de seleção (unico)"</strong> são transformadas em um gráfico interativo na hora do administrador visualizar os questionários
                </h3>
            </blockquote>        
        </div>
    </div>
</div>