<div class="card">
    <div class="card-header">
        <h2> Pergunta tipo <strong>"Caixa de seleção (muitos)"</strong> <br><small>As perguntas do tipo <strong>"Caixa de seleção (muitos)"</strong> servem para coletar informações onde os usuários podem escolher mais de uma opção de resposta</small></h2>
    </div>

    <div class="card-body">
        <div class="card-padding">

            <h3>Alguns exemplos:</h3>
            <ul>
                <li>Quais os assuntos que mais te interessou?</li>
                <li>Quais areas do evento você acha que necessita de melhor organização?</li>
            </ul>
            <br>
            <div class="first">
                {% image '@FCMQuestionBundle/Resources/public/gifs/choicemultiple.gif' %}
                    <img src="{{ asset_url }}" alt="Example" />
                {% endimage %}
            </div>
            <blockquote class="notice notice-info">
                <h3>
                    Todas as respostas da <strong>"Caixa de seleção (muitos)"</strong> são transformadas em um gráfico interativo na hora do administrador visualizar os questionários
                </h3>
            </blockquote>        
        </div>
    </div>
</div>