<div class="card">
    <div class="card-header">
        <h2> Pergunta tipo <strong>"Caixa de texto"</strong> <br><small>As perguntas do tipo <strong>"Caixa de texto"</strong> são excelentes para colher <strong>grandes</strong> textos do participante</small></h2>
    </div>

    <div class="card-body">
        <div class="card-padding">
            <h3>Alguns exemplos:</h3>
            <ul>
                <li>Coleta de resumos</li>
                <li>Coleta de trabalhos</li>
                <li>Coleta de textos</li>
            </ul>
            <div class="first">
                {% image '@FCMQuestionBundle/Resources/public/gifs/textarea.gif' %}
                    <img src="{{ asset_url }}" alt="Example" />
                {% endimage %}
            </div>
        </div>
        <br>
    </div>
</div>
