<div class="card">
    <div class="card-header">
        <h2> Pergunta tipo <strong>texto</strong> <br><small>As perguntas do tipo <strong>texto</strong> são boas para colher textos curtos do participante</small></h2>
    </div>

    <div class="card-body">
        <div class="card-padding">

            <h3>Alguns exemplos:</h3>
            <ul>
                <li>Coleta de depoimentos dos usuários</li>
                <li>Perguntas simples e pessoais</li>
            </ul>
            <br>
            <div class="first">
                {% image '@FCMQuestionBundle/Resources/public/gifs/text.gif' %}
                    <img src="{{ asset_url }}" alt="Example" />
                {% endimage %}
            </div>
        </div>
        <br>
    </div>
</div>
    