{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    <div class="">
        <div class="card ui  fluid">
            <div class="content">
                <div class="header">
                    {% include 'FCMEventoBundle:Default:base.pagetitle.html.twig' %}
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.nome) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.documento) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.estrangeiro) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.pass) }}
                    </div>
                </div>

            </div>

            {#
            {% if participante is defined %}
            <div class="content">
                <div class="header">Inscrições</div>
                {% if participante.inscricoes is not empty %}
                    <table class="table">
                        <thead>
                        <th>Inscrito em</th>
                        <th>Evento</th>
                        <th>Atividade</th>
                        <th>Presença</th>
                        </thead>
                    {% for inscricao in participante.inscricoes %}
                        <tr>
                            <td>{{ inscricao.created|date('d/m/Y H:i') }}</td>
                            <td>{{ inscricao.eventoAtividade.evento.nome }}</td>
                            <td>{{ inscricao.eventoAtividade.nome }}</td>
                            <td>{% if inscricao.presenca %}<i class="material-icons c-green500">turned_in</i>{% else %}<i class="material-icons c-red500">turned_in_not</i>{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    <p>Participante não possui inscrições</p>
                {% endif %}
            </div>
            {% endif %}
            #}

            <div class="content">
                {{ form_widget(form) }}
                {% include ':default:button.submit.html.twig' %}

                {% include 'default/button.html.twig' with {'href' : path('resetpass_request'), 'text' : 'Enviar e-mail de recuperação de senha'} %}


            {% if delete is defined and not is_granted('ROLE_PARTICIPANTE') %}
                {% include 'default/button.html.twig' with {
                    'href' : delete,
                    'text' : 'main.delete'|trans,
                    'type' : 'negative'
                } %}

            {% endif %}

            
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}