{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block body %}
    <h2>Eventos inscritos</h2>
    <div class="row">

        {% for evento in eventos %}
            <div class="col-lg-6">
                {{ render(controller('FCMEventoBundle:Evento:cardHome', { 'evento': evento} )) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
