{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block content %}
    <div class="table-responsive">
        <div id="data-table-basic_wrapper" class="dataTables_wrapper">
            <table id="data-table-basic" class="table table-striped dataTable" role="grid" aria-describedby="data-table-basic_info">
                <thead>
                <th>Documento</th>
                <th>Nome</th>
                <th>E-mail</th>
                </thead>

            </table>
        </div>
    </div>

{% endblock %}

{% block jscustom %}
    {% javascripts
    '@FCMEventoBundle/Resources/public/js/jquery.dataTables.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $('#data-table-basic').DataTable({
                "ajax": Routing.generate('ajax_participante'),
                });
        });
    </script>
{% endblock %}