<!DOCTYPE HTML>
<!--
	Hyperspace by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
<head>
    <title>CoMAU</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% stylesheets
    '@FCMEventoBundle/Resources/public/css/custompage/comau/*'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" href="http://www.fcm.unicamp.br/config/bootstrap/3.3.6/css/bootstrap.min.css" />
    <meta property="og:title" content="XXIV CoMAU">
    <meta property="og:url" content="www.fcm.unicamp.br/eventos/comau">
    <meta property="og:image" content="http://www.fcm.unicamp.br/fcm/sites/default/files/images/user1/comaulogo.jpg">

</head>
<body>
<header id="header" role="banner">
    <div class="main-nav">
        <div class="">

            <div class="">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="scroll active"><a href="#home">Home</a></li>
                        <li class="scroll"><a href="#historia">About us</a></li>
                        <li class="scroll"><a href="#event">Programme</a></li>
                        <li class="scroll"><a href="#about">Submission</a></li>
                        <li><a class="scroll" href="http://www.fcm.unicamp.br/eventos/evento/95" target="_blank">Register</a></li>
                        <li class="scroll"><a href="#contact">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!--/#header-->

<section id="home">
    <div id="logo" >
        {% image '@FCMEventoBundle/Resources/public/images/custompage/comau/logocomau-800.png' %}
        <img class="img-responsive centered" src="{{ asset_url }}" >
        {% endimage %}
    </div>
    <div id="main-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="item active">
                {% image '@FCMEventoBundle/Resources/public/images/custompage/comau/comaubackground.jpg' %}
                <img src="{{ asset_url }}" class="">
                {% endimage %}

                <div class="carousel-caption hidden-sm hidden-xs">
                    <h2>XXVI COMAU</h2>
                    <h4>20 - 21 - 22 October</h4>
                    <a href="http://www.fcm.unicamp.br/eventos/evento/95" target="_blank">Register</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!--/#home-->

<section id="historia">
    <div class="container">
        <div class="row">
            <h2 class="heading">About us</h2>
            <div class="col-md-4 col-md-offset-4 ">
                <p>
                    The Academic Medical Congress of Campinas
                    (CoMAU) is an annual scientific event, on its 26th
                    eddition, organized by medical, nursing and
                    fonoaudiology students from University of Campinas,
                    Brazil. In 1992, the conference came up with a
                    proposal to organize a scientific environment for
                    students.
                </p>
                <br>
            </div>

            <div class="col-md-4 col-md-offset-4 ">
                <p>
                    Over time, CoMAU has achieved relevance among
                    undergraduates from health area. The conference aim
                    is to focus on health updates and trend themes in
                    Brazil, through lectures given by high academic level
                    researchers
                </p>
            </div>

        </div>

    </div>
</section><!--/#explore-->

<section id="event">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="event-carousel" class="carousel slide" data-interval="false">
                    <h2 class="heading text-center">Programme</h2>

                        <div class="row">
                            <div class="col-md-4 text-center">
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                        data-target="#sexta">Friday, 20th October</button>
                            </div>
                            <div class="col-md-4 text-center">
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                        data-target="#sabado">Saturday, 21th October</button>

                            </div>
                            <div class="col-md-4 text-center">
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                        data-target="#domingo">Sunday, 22th October</button>

                            </div>
                        </div>

                        <!-- Sexta -->
                        <div class="modal fade" id="sexta" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close btn-info" data-dismiss="modal">&times;</button>
                                        <h2 class="modal-title">Friday, 20 de October</h2>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <table class="table">
                                                <tr>
                                                    <td><strong>15h00</strong></td>
                                                    <td>
                                                        <p><strong>Abertura Solene</strong></p>
                                                        <strong>Dra. Silvia Brandalise</strong><br/>
                                                        Fundadora do Centro Infantil Boldrini<br/>
                                                        Hospital especializado no tratamento de crianças e adolescentes com câncer ou doenças no sangue<br/>
                                                        <br/>
                                                        <strong>Apresentação da Companhia de Ballet de Cegos</strong><br />
                                                        Única companhia de Ballet de Cegos do Mundo<br/>
                                                        A principal missão da entidade é a  integração social de deficientes visuais por meio da dança.<br/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>18h00</strong></td>
                                                    <td><strong>Apresentação de trabalhos</strong></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-info" data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Sabado -->
                        <div class="modal fade" id="sabado" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close btn-info" data-dismiss="modal">&times;</button>
                                        <h2 class="modal-title">Saturday, 21 de October</h2>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3>Módulo Futuro da medicina</h3>
                                                <table class="table">
                                                    <tr>
                                                        <td><strong>8h00</strong></td>
                                                        <td>Imunoengenharia <br/>
                                                            Dr. Pedro Lima
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td><strong>9h15</strong></td>
                                                        <td>Células Tronco <br/>
                                                            Dra. Ângela Buzo
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>10h45</strong></td>
                                                        <td>
                                                            Superbactérias<br/>
                                                            Dr. Plínio Trabasso
                                                        </td>
                                                    </tr>
                                                </table>

                                                <h3>Módulo Neurologia</h3>
                                                <table class="table">
                                                    <tr>
                                                        <td><strong>8h00</strong></td>
                                                        <td>Neurolinguagem<br/>Maria Irma Hadler Coudry</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>9h15</strong></td>
                                                        <td>Inteligência Artificial<br/>Prof. Fernando Von Zuben</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>10h45</strong></td>
                                                        <td>Memória<br/>Dr. Balthazar</td>
                                                    </tr>
                                                </table>

                                                <h3>Módulo Tabus da Medicina</h3>
                                                <table class="table">
                                                    <tr>
                                                        <td><strong>8h00</strong></td>
                                                        <td>Maconha<br/>Dr. Luís Fernando Tófoli</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>9h15</strong></td>
                                                        <td>Aborto</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>10h45</strong></td>
                                                        <td>Genética/Reprodução assistida<br/>Dra. Lucia Paiva</td>
                                                    </tr>
                                                </table>

                                                <h3>Módulo Saúde do Estudante</h3>
                                                <table class="table">
                                                    <tr>
                                                        <td><strong>8h00</strong></td>
                                                        <td>Uso de drogas<br/>Dr. Amilton dos Santos Júnior</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>9h15</strong></td>
                                                        <td>Ansiedade<br/>Carlos Cais</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>10h45</strong></td>
                                                        <td>Saúde Mental<br/>Maria Cristina Pereira Lima</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="col-md-12">
                                                <h3>Workshops</h3>
                                                <table class="table">
                                                    <tr>
                                                        <td><strong>12h - 14h</strong></td>
                                                        <td>Teatro</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>9h - 11h <br/>12h - 14h</strong></td>
                                                        <td>Ultrassom</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>12h - 14h</strong></td>
                                                        <td>Voz</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>12h - 14h<br/>15h - 17h</strong></td>
                                                        <td>Emergência</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-info" data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Sunday -->
                        <div class="modal fade" id="domingo" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close btn-info" data-dismiss="modal">&times;</button>
                                        <h2 class="modal-title">Sunday, 22 de October</h2>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <table class="table">
                                                <tr>
                                                    <td><strong>9h00</strong></td>
                                                    <td><div>Premiação de trabalhos científicos</div></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-info" data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</section><!--/#event-->

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="heading">Submission</h2>
            </div>

            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        {% image '@FCMEventoBundle/Resources/public/images/custompage/comau/icons8-Person-502.png' %}
                        <img class="media-object" src="{{ asset_url }}" >
                        {% endimage %}

                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Author</h3>
                        <p>Undergraduate students in the health sciences</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        {% image '@FCMEventoBundle/Resources/public/images/custompage/comau/icons8-Literature-50.png' %}
                        <img class="media-object" src="{{ asset_url }}" >
                        {% endimage %}
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">RESEARCH</h3>
                        <p>Areas</p>
                        <p>
                            - Basic research<br/>
                            - Clinica research<br/>
                            - Surgery<br/>
                            - Gynaecology and Obstetrics<br/>
                            - Pediatry<br/>
                            - Public Health<br/>
                        </p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        {% image '@FCMEventoBundle/Resources/public/images/custompage/comau/icons8-Send-50.png' %}
                        <img class="media-object" src="{{ asset_url }}" >
                        {% endimage %}

                    </div>

                    <div class="media-body">
                        <h3 class="media-heading">Registration</h3>
                        <p>Submission period: July 15th – August 31th<br/>
                            Fill out the form and papers should be submitted by e-mail (comau@fcm.unicamp.br)<br/>
                            Registration fees: R$40,00<br/>
                            Download guideline for aditional information.<br/>
                        </p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        {% image '@FCMEventoBundle/Resources/public/images/custompage/comau/icons8-person-50.png' %}
                        <img class="media-object" src="{{ asset_url }}" >
                        {% endimage %}

                    </div>

                    <div class="media-body">
                        <h3 class="media-heading">Evaluation</h3>
                        <p>20th October<br/>Research paper and oral presentation</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        {% image '@FCMEventoBundle/Resources/public/images/custompage/comau/icons8-Prize-50.png' %}
                        <img class="media-object" src="{{ asset_url }}" >
                        {% endimage %}

                    </div>

                    <div class="media-body">
                        <h3 class="media-heading">Awards</h3>
                        <p>22th October<br/>
                            XXVII Adolfo Lutz Prize – Cash award of R$500,00 (each area)<br/>
                            XXIII Lopes de Faria Prize – Cash award of R$4000,00<br/>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-center">
                {% image '@FCMEventoBundle/Resources/public/images/custompage/comau/ijms.jpg' %}
                <img style="max-width: 200px; margin-bottom: 20px" src="{{ asset_url }}" >
                {% endimage %}

                <h3 class="media-heading">International Journal of Medical Students</h3>
                <p>The summaries of the papers presented in XXVI CoMAU will have their summaries
                    published in the International Journal of Medical Students (IJMS)
                </p>
            </div>


            <div class="col-sm-12">
                <div class="col-md-6 text-center">
                    <a href="http://www.fcm.unicamp.br/eventos/evento/95" target="_blank" class="btn btn-info">Research register</a>

                </div>
                <div class="col-md-6 text-center">
                    <a href="http://www.fcm.unicamp.br/fcm/sites/default/files/images/user1/regulamento-coma.pdf" target="_blank" class="btn btn-info">Guideline</a>

                </div>
            </div>
        </div>

    </div>
</section><!--/#about-->

<section id="sponsor">
    <div id="sponsor-carousel" class="carousel slide" data-interval="false">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>Sponsors</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="http://anatomygps.com">
                                <img style="max-height: 100px" src="http://anatomygps.com/wp-content/uploads/2016/11/Logo_IAA_aberta_NOVO.png">
                                <h3>Anatomy GPS</h3>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="">
                                <img src="http://www.medcel.com.br/wp-content/uploads/2017/01/LogoSite_sem_assinatura.png">
                                <h3>Medcel - Residência Médica - Cursos preparatórios</h3>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="http://frrb.com.br">
                                <img src="http://frrb.com.br/wp-content/themes/frrb/images/logo.jpg">
                                <h3>Fundação Roberto Rocha Brito</h3>
                            </a>
                        </div>

                        <div class="col-md-6">
                            <a href="http://www2.prpg.gr.unicamp.br/prpg/">
                                <img style="max-height: 100px" class="img-responsive" src="http://www.prg.unicamp.br/files/logo.png">
                                <h3>Pró-reitoria de Graduação</h3>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <a href="https://www.portaldomedico.com">
                                {% image '@FCMEventoBundle/Resources/public/images/custompage/comau/pmedico.png' %}
                                <img style="max-height: 100px" class="centered2" src="{{ asset_url }}" >
                                {% endimage %}
                                <h3>Portal do Médico</h3>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section><!--/#sponsor-->

<section id="contact">
    <div class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2600.2121348746573!2d-47.06203182758482!3d-22.830043520969053!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6769fe296187dcad!2sAudit%C3%B3rio+5+FCM!5e0!3m2!1spt-BR!2sbr!4v1470662107767"
                            width="100%" height="300px"  frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
                <div class="col-sm-6 ">
                    <div class="contact-text">
                        <h3>Contact us</h3>
                        <address>
                            Email: comau@fcm.unicamp.br<br>
                            Phone number: +55 11 97517-2270 <br>
                        </address>
                    </div>
                    <div class="contact-text">
                        <h3>Congress Venue</h3>
                        <address>
                            Auditório da Faculdade de Ciências Médicas - Unicamp<br/>
                            Rua Albert Sabin. Cidade Universitária<br>
                            Campinas - SP<br/>
                        </address>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--/#contact-->

{% javascripts
'@FCMThemeBundle/Resources/public/js/*'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>