<!DOCTYPE HTML>
<!--
	Hyperspace by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
<head>
    <title>CoMAU</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% stylesheets
    '@FCMEventoBundle/Resources/public/css/custompage/comau/*'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style>
        .parallax {
            background-image: url({{ asset('bundles/fcmevento/images/custompage/comau/comaubackground.jpg') }});


            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .p1 {
            background-color: #E64A19;
        }
    </style>

    <link rel="stylesheet" href="https://www.fcm.unicamp.br/config/bootstrap/3.3.6/css/bootstrap.min.css" />
    <meta property="og:title" content="XXIV CoMAU">
    <meta property="og:url" content="www.fcm.unicamp.br/eventos/comau">
    <meta property="og:image" content="http://www.fcm.unicamp.br/fcm/sites/default/files/images/user1/comaulogo.jpg">

</head>
<body>
<header id="header" role="banner" class="">


    <div class="navbar-fixed">
        <ul class="nav navbar-nav navbar-right">
            <li class="scroll active"><a href="#home">Home</a></li>
            <li class="scroll"><a href="#historia">História</a></li>
            <li class="scroll"><a href="#event">Programação</a></li>
            <li class="scroll"><a href="#investimento">Investimento</a></li>
            <li class="scroll"><a href="#about">Submissão de trabalhos</a></li>
            <li><a class="scroll" href="https://doity.com.br/comau" target="_blank">Inscreva-se</a></li>
            <li class="scroll"><a href="#contact">Contato</a></li>
        </ul>
    </div>

</header>
<!--/#header-->

<section id="home" class="parallax">
    <div  class="text-center" style="background-color: rgba(0, 0, 0, 0.7);">

        <img class="logo img-responsive" class="" src="{{ asset('bundles/fcmevento/images/custompage/comau/logocomau.png') }}" >

        <div id="subtitle" class="text-center">
            <h2>XXVII COMAU</h2>
            <h4>26 e 27 de Outubro</h4>
            <a href="https://doity.com.br/comau" target="_blank">Inscreva-se</a>
        </div>
    </div>



</section>
<!--/#home-->

<section id="historia">
    <div class="container">
        <div class="row">
            <h2 class="heading">História</h2>
            <div class="col-md-4 col-md-offset-4 ">
                <p>O Congresso Médico Acadêmico da UNICAMP é um evento científico anual organizado por estudantes
                    de Enfermagem, Fonoaudiologia e Medicina dessa instituição. O congresso surgiu, em 1992, com a proposta de
                    organizar um ambiente científico dos alunos para os alunos.
                </p>
                <br>
            </div>

            <div class="col-md-4 col-md-offset-4 ">
                <p>Ao longo do tempo, o congresso conquistou grande relevância na graduação. Sempre focando na atualização e visão global da
                    saúde no Brasil, o congresso atrai alunos de diversas regiões e palestrantes de alto nível acadêmico.
                </p>
            </div>

        </div>

    </div>
</section><!--/#explore-->

<section id="event">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="event-carousel" class="carousel slide" data-interval="false">
                    <h2 class="header text-center">Programação</h2>

                    <div class="    ">
                        <div class="">
                            <h3>Sexta, 26 de Outubro</h3>


                        </div>

                    </div>
                    <h3>Manhã de Sábado, 27 de Outubro</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Curso de Obesidade</h4>
                            <p>08h10 ás 09h: Obesidade com Lúcio Veloso</p>
                            <p>09h ás 09h50: Cirurgia Bariátrica</p>
                            <p>10h10 ás 11h: Paulo Muzy</p>
                        </div>
                        <div class="col-md-6">
                            <h4>Doenças temidas na atualidade</h4>
                            <p>08h10 ás 09h: Sífilis com Plínio</p>
                            <p>09h ás 09h50: Febre Amarela com Mariângela Ribeiro Resende</p>
                            <p>10h10 ás 11h: Zika Vírus com Maria Luiza Moretti</p>
                        </div>
                    </div>
                    <h3>Tarde de Sábado, 27 de Outubro</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Dor crônica e morte</h4>
                            <p>14h10 ás 15h10: A morte e o morrer com Leonardo Consolim</p>
                            <p>15h10 ás 16h: Dor crônica com Natalia Oliveira</p>
                            <p>16h ás 16h50: Diego Lima Ribeiro</p>
                        </div>
                        <div class="col-md-6">
                            <h4>Saúde da criança</h4>
                            <p>16h10 ás 17h</p>
                            <p>17h ás 17h50</p>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
    </div>
</section><!--/#event-->

<section id="investimento" class="dark">
    <div class="container">
        <h2 class="header text-center">Investimento</h2>
        <table class="ui table">
            <thead>
            <th></th>
            <th colspan="2" class="text-center p1">Até 26/08</th>
            <th colspan="2" class="text-center p2">Até 26/09</th>
            <th colspan="2" class="text-center p3">Até 26/10</th>
            <th colspan="2" class="text-center p4">No Evento</th>
            </thead>
            <tbody>
            <tr style="">
                <td rowspan="4" >
                    <p><strong>Graduação</strong></p>

                    <p><strong>Unicamp</strong></p>

                    <p><strong>USP</strong></p>
                </td>
                <td class="p1">Abertura</td>
                <td class="p1">
                    <p>R$30</p>
                </td>
                <td class="p2">
                    <p>Abertura</p>
                </td>
                <td class="p2">
                    <p>R$35</p>
                </td>
                <td class="p3">
                    <p>Abertura</p>
                </td>
                <td class="p3">
                    <p>R$40</p>
                </td>
                <td class="p4">
                    <p>Abertura</p>
                </td>
                <td class="p4">
                    <p>R$45</p>
                </td>
            </tr>
            <tr>
                <td class="p1">
                    <p>1 Módulo</p>
                </td>
                <td class="p1">
                    <p>R$25</p>
                </td>
                <td class="p2">
                    <p>1 Módulo</p>
                </td>
                <td class="p2">
                    <p>R$30</p>
                </td>
                <td class="p3">
                    <p>1 Módulo</p>
                </td>
                <td class="p3">
                    <p>R$35</p>
                </td>
                <td class="p4">
                    <p>1 Módulo</p>
                </td>
                <td class="p4">
                    <p>R$40</p>
                </td>
            </tr>
            <tr>
                <td class="p1">
                    <p>2 Módulos</p>
                </td>
                <td class="p1">
                    <p>R$45</p>
                </td>
                <td class="p2">
                    <p>2 Módulos</p>
                </td>
                <td class="p2">
                    <p>R$50</p>
                </td>
                <td class="p3">
                    <p>2 Módulos</p>
                </td>
                <td class="p3">
                    <p>R$55</p>
                </td>
                <td class="p4">
                    <p>2 Módulos</p>
                </td>
                <td class="p4">
                    <p>R$60</p>
                </td>
            </tr>
            <tr>
                <td class="p1">
                    <p>Workshops</p>
                </td>
                <td class="p1">
                    <p>R$20</p>
                </td>
                <td class="p2">
                    <p>Workshops</p>
                </td>
                <td class="p2">
                    <p>R$20</p>
                </td>
                <td class="p3">
                    <p>Workshops</p>
                </td>
                <td class="p3">
                    <p>R$20</p>
                </td>
                <td class="p4">
                    <p>Workshops</p>
                </td>
                <td class="p4">
                    <p>R$25</p>
                </td>
            </tr>
            <tr>
                <td rowspan="4" >
                    <p><strong>Graduação</strong></p>

                    <p><strong>Outros</strong></p>
                </td>
                <td class="p1">
                    <p>Abertura</p>
                </td>
                <td class="p1">
                    <p>R$35</p>
                </td>
                <td class="p2">
                    <p>Abertura</p>
                </td>
                <td class="p2">
                    <p>R$40</p>
                </td>
                <td class="p3">
                    <p>Abertura</p>
                </td>
                <td class="p3">
                    <p>R$45</p>
                </td>
                <td class="p4">
                    <p>Abertura</p>
                </td>
                <td class="p4">
                    <p>R$50</p>
                </td>
            </tr>
            <tr>
                <td class="p1">
                    <p>1 Módulo</p>
                </td>
                <td class="p1">
                    <p>R$30</p>
                </td>
                <td class="p2">
                    <p>1 Módulo</p>
                </td>
                <td class="p2">
                    <p>R$35</p>
                </td>
                <td class="p3">
                    <p>1 Módulo</p>
                </td>
                <td class="p3">
                    <p>R$40</p>
                </td>
                <td class="p4">
                    <p>1 Módulo</p>
                </td>
                <td class="p4">
                    <p>R$45</p>
                </td>
            </tr>
            <tr>
                <td class="p1">
                    <p>2 Módulos</p>
                </td>
                <td class="p1">
                    <p>R$55</p>
                </td>
                <td class="p2">
                    <p>2 Módulos</p>
                </td>
                <td class="p2">
                    <p>R$60</p>
                </td>
                <td class="p3">
                    <p>2 Módulos</p>
                </td>
                <td class="p3">
                    <p>R$65</p>
                </td>
                <td class="p4">
                    <p>2 Módulos</p>
                </td>
                <td class="p4">
                    <p>R$70</p>
                </td>
            </tr>
            <tr>
                <td class="p1">
                    <p>Workshops</p>
                </td>
                <td class="p1">
                    <p>R$25</p>
                </td>
                <td class="p2">
                    <p>Workshops</p>
                </td>
                <td class="p2">
                    <p>R$25</p>
                </td>
                <td class="p3">
                    <p>Workshops</p>
                </td>
                <td class="p3">
                    <p>R$25</p>
                </td>
                <td class="p4">
                    <p>Workshops</p>
                </td>
                <td class="p4">
                    <p>R$30</p>
                </td>
            </tr>
            <tr>
                <td rowspan="4" >
                    <p><strong>Profissionais</strong></p>
                </td>
                <td class="p1">
                    <p>Abertura</p>
                </td>
                <td class="p1">
                    <p>R$40</p>
                </td>
                <td class="p2">
                    <p>Abertura</p>
                </td>
                <td class="p2">
                    <p>R$45</p>
                </td>
                <td class="p3">
                    <p>Abertura</p>
                </td>
                <td class="p3">
                    <p>R$50</p>
                </td>
                <td class="p4">
                    <p>Abertura</p>
                </td>
                <td class="p4">
                    <p>R$55</p>
                </td>
            </tr>
            <tr>
                <td class="p1">
                    <p>1 Módulo</p>
                </td>
                <td class="p1">
                    <p>R$35</p>
                </td>
                <td class="p2">
                    <p>1 Módulo</p>
                </td>
                <td class="p2">
                    <p>R$40</p>
                </td>
                <td class="p3">
                    <p>1 Módulo</p>
                </td>
                <td class="p3">
                    <p>R$45</p>
                </td>
                <td class="p4">
                    <p>1 Módulo</p>
                </td>
                <td class="p4">
                    <p>R$50</p>
                </td>
            </tr>
            <tr>
                <td class="p1">
                    <p>2 Módulos</p>
                </td>
                <td class="p1">
                    <p>R$55</p>
                </td>
                <td class="p2">
                    <p>2 Módulos</p>
                </td>
                <td class="p2">
                    <p>R$60</p>
                </td>
                <td class="p3">
                    <p>2 Módulos</p>
                </td>
                <td class="p3">
                    <p>R$65</p>
                </td>
                <td class="p4">
                    <p>2 Módulos</p>
                </td>
                <td class="p4">
                    <p>R$70</p>
                </td>
            </tr>
            <tr>
                <td class="p1">
                    <p>Workshops</p>
                </td>
                <td class="p1">
                    <p>R$30</p>
                </td>
                <td class="p2">
                    <p>Workshops</p>
                </td>
                <td class="p2">
                    <p>R$30</p>
                </td>
                <td class="p3">
                    <p>Workshops</p>
                </td>
                <td class="p3">
                    <p>R$30</p>
                </td>
                <td class="p4">
                    <p>Workshops</p>
                </td>
                <td class="p4">
                    <p>R$35</p>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</section>

<section id="sponsor">
    <div id="sponsor-carousel" class="carousel slide" data-interval="false">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="header">Patrocinadores</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ asset('bundles/fcmevento/images/custompage/comau/elsevier.jpg') }}">
                            <h3>Elsevier</h3>
                        </div>
                        <div class="col-md-6">
                            <img src="{{ asset('bundles/fcmevento/images/custompage/comau/manole.jpg') }}">
                            <h3>Manole conteúdo</h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>


<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="header">Submissão de trabalhos</h2>
            </div>

            <div class="col-md-6 block">
                <div class="media">
                    <div class="media-left">
                        {% image '@FCMEventoBundle/Resources/public/images/custompage/comau/icons8-Person-502.png' %}
                        <img class="media-object" src="{{ asset_url }}" >
                        {% endimage %}

                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Autor</h3>
                        <p>Alunos de graduação da Área da Saúde</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        {% image '@FCMEventoBundle/Resources/public/images/custompage/comau/icons8-Literature-50.png' %}
                        <img class="media-object" src="{{ asset_url }}" >
                        {% endimage %}
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Trabalho</h3>
                        <p>Nas áreas de:</p>
                        <p>
                            - Básica<br/>
                            - Clínica<br/>
                            - Cirúrgica<br/>
                            - GO<br/>
                            - Pediatria<br/>
                            - Saúde Coletiva<br/>
                        </p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        {% image '@FCMEventoBundle/Resources/public/images/custompage/comau/icons8-Send-50.png' %}
                        <img class="media-object" src="{{ asset_url }}" >
                        {% endimage %}

                    </div>

                    <div class="media-body">
                        <h3 class="media-heading">Inscrições</h3>
                        <p><strong>01/07 a 01/09: </strong>Prazo para submissão<br/>
                            Preencher os dados solicitados no site e enviar trabalho em PDF por E-MAIL (comau.cientifico2018@gmail.com)<br/>
                            Taxa: 50,00<br/>
                            Para mais informações, veja o regulamento<br/>
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        {% image '@FCMEventoBundle/Resources/public/images/custompage/comau/icons8-person-50.png' %}
                        <img class="media-object" src="{{ asset_url }}" >
                        {% endimage %}

                    </div>

                    <div class="media-body">
                        <h3 class="media-heading">Avaliação</h3>
                        <p><strong>02/09: </strong> Divulgação dos trabalhos liberados</p>
                        <p><strong>26/10: </strong> Trabalho escrito e Apresentação Oral </p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        {% image '@FCMEventoBundle/Resources/public/images/custompage/comau/icons8-Prize-50.png' %}
                        <img class="media-object" src="{{ asset_url }}" >
                        {% endimage %}

                    </div>

                    <div class="media-body">
                        <h3 class="media-heading">Premiação</h3>
                        <p><strong>27/10: </strong> XXVII Prêmio Adolfo Lutz – no valor de R$500,00 (para cada área) e XXIII Prêmio Lopes de Faria – no valor de R$4000,00<br/>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-md-6 text-center">
                    <a href="http://www.fcm.unicamp.br/eventos/evento/95" target="_blank" class="btn btn-danger">Submeter trabalho</a>

                </div>
                <div class="col-md-6 text-center">
                    <a href="http://www.fcm.unicamp.br/fcm/sites/default/files/images/user1/regulamento-coma.pdf" target="_blank" class="btn btn-danger">Regulamento</a>

                </div>
            </div>
        </div>

    </div>
</section>


<section id="contact" class="bg-red">
    <div class="contact-section">
        <div class="container">
            <h2 class="header text-center">Localização</h2>
            <div class="row">
                <div class="col-sm-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2600.2121348746573!2d-47.06203182758482!3d-22.830043520969053!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6769fe296187dcad!2sAudit%C3%B3rio+5+FCM!5e0!3m2!1spt-BR!2sbr!4v1470662107767"
                            width="100%" height="300px"  frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
                <div class="col-sm-6 ">
                    <div class="contact-text">
                        <h3>Contato</h3>
                        <address>
                            E-mail: comau@fcm.unicamp.br<br>
                        </address>
                    </div>
                    <div class="contact-text">
                        <h3>Endereço</h3>
                        <address>
                            Auditório da Faculdade de Ciências Médicas - Unicamp<br/>
                            Rua Albert Sabin. Cidade Universitária<br>
                            Campinas - SP<br/>
                        </address>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--/#contact-->

{% javascripts
'@FCMThemeBundle/Resources/public/js/jquery-3.2.1.min.js'
'@FCMThemeBundle/Resources/public/js/*'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>
