{% extends "emails/base.html.twig" %}

{% block content %}
    <h1>{{ resposta.inscricao.eventoAtividade.evento.nome }}</h1>
    <h2>{{ resposta.inscricao.eventoAtividade.nome }}</h2>

    <p>Prezado(a) {{ resposta.inscricao.participante.nome }}, seu trabalho foi aprovado.</p>

    {% if questionarioAvaliacao.orientacaoAprovado is not empty %}
        {{ questionarioAvaliacao.orientacaoAprovado|raw }}
    {% endif %}

    <h2>Informações do trabalho</h2>
    {% include 'FCMEventoBundle:Inscricao:show.html.twig' with {'inscricao': resposta.inscricao,
        'questionario' : resposta.questionario} only %}



{% endblock %}