/* ===================
    HEADER
 ===================== */

.navbar img { max-height: 40px}

.navbar-toggle{
    background: #fff;
    color: #fff;
}

#header .dropdown-menu a {
    color: #333;
}

.presenca-form .checkbox{
    margin: 0;
}

.brand {
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-inscricao .form-group {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
}

.form-inscricao .radio {
    margin-top: 0;
    margin-bottom: 0;
}

.card-atividade .card-title a{
    color: #fff;
}©

.card-atividade .card-image {
    max-height: 200px;
}

/* ============
  CEPEM
 ============== */

#inscricao-cpem {
    background: #448AFF;
    color: #fff;
    padding: 30px 0;
    height: 400px;
}

#inscricao-cpem a {
    color: #fff;
    font-size: 2em;
}

#inscricao-cpem .text {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#inscricao-cpem i { font-size: 2em}