{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block content %}

    {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-9"><h2>Título: <i>{{ titulo }}</i></h2></div>
            <div class="col-lg-3">{{ form_row(form.nota) }}</div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{ trabalho }}

            </div>
        </div>

        <a class="btn btn-default" href="{{ back }}">{{ 'main.back'|trans }}</a>
        <input class="btn btn-primary" type="submit" value="{{ 'main.save'|trans }}" />

        {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock %}