{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <p>Trabalhos enviados: {{ pagination.getTotalItemCount }}</p>
        </div>
        <div class="col-lg-6">
            {{ form_start(form) }}

            <div class="row right">
                <div class="col-lg-6">{{ form_widget(form.area) }}</div>
                <div class="col-lg-6">{{ form_widget(form.filter) }}</div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                {% if row.area is defined %}<td><strong>Área</strong></td>{% endif %}
                <td><strong>Título</strong></td>
                <td><strong>Ações</strong></td>
            </tr>
        </thead>
        {% for row in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                {% if row.area is defined %}<td><strong>{{ row.area }}</strong></td>{% endif %}
                <td>{{ row.titulo }}</td>

                <td>
                    {% if admin %}
                        <a href="{{ path('questionario_inscricao_resposta_new', {
                            'evento' : row.evento_id,
                            'eventoAtividade' : row.evento_atividade_id,
                            'id' : row.inscricao_id,
                        }) }}" class="btn btn-xs btn-primary">visualizar</a>
                    {% endif %}

                    {% if row.status == 0 and not admin %}
                    <a class="btn btn-xs btn-primary" href="{{ path('questionario_inscricao_resposta_new',{
                            'questionario' : questionario.id,
                            'inscricao' : row.inscricao_id,
                        }) }}">avaliar</a>
                    {% endif %}

                    {% if row.status == 1 %}
                    <div class="btn btn-xs btn-success" disabled="disabled" >já avaliado</div>
                    {% endif %}

                    {% if row.status == 2 %}
                    <div class="btn btn-xs btn-success" disabled="disabled" >máx avaliado</div>
                    {% endif %}
                </td>



            </tr>
        {% endfor %}
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}