{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{# Exibe o trabalho e as avaliacoes recebidas #}
{% block content %}

    <div class="row">
        <div class="col-lg-12"><h2>Título: <i>{{ titulo }}</i></h2></div>
    </div>

    <h3>Avaliações</h3>
    {% for avaliacao in inscricao.avaliacoes %}
        <p>{{ avaliacao.avaliador.usuario.nome }}: {{ avaliacao.nota }}</p>
    {% endfor %}

    <div class="row">
        <div class="col-lg-12"><h3>Autor: <i>{{ autor }}</i></h3></div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {{ trabalho }}
        </div>
    </div>

    <a class="btn btn-default" href="{{ back }}">{{ 'main.back'|trans }}</a>
{% endblock %}