{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block stylesheets_cutom %}
    {# Slick #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" integrity="sha256-jySGIHdxeqZZvJ9SHgPNjbsBP8roij7/WjgkoGTJICk=" crossorigin="anonymous" />

    {# Slick theme #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" integrity="sha256-WmhCJ8Hu9ZnPRdh14PkGpz4PskespJwN5wwaFOfvgY8=" crossorigin="anonymous" />

    {{ parent() }}
    <style type="text/css">
    .slick-next:before, .slick-prev:before {
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: #00bcd4;
    }
    .slick-dots {
        /*display: flex !important;*/
    }
    
    blockquote.styled {
      display:block;
      background: #fff;
      padding: 15px 20px 15px 45px;
      margin: 0 0 20px;
      position: relative;

      /*Font*/
      
  }

  blockquote.styled::before{
      content: "\201C"; /*Unicode for Left Double Quote*/

      /*Font*/
      font-family: Georgia, serif;
      font-size: 60px;
      font-weight: bold;
      color: #999;

      /*Positioning*/
      position: absolute;
      left: 10px;
      top:5px;
  }

  blockquote.styled::after{
      /*Reset to make sure*/
      content: "";
  }

  blockquote.styled a:hover{
   color: #666;
}

blockquote.styled em{
  font-style: italic;
}
</style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
                
            {% for pergunta in perguntas %}
                {# Verifica se o tipo da pergunta é Symfony\Component\Form\Extension\Core\Type\TextType #}
                {% if 'TextType' in pergunta.getType() %}
                    {% include 'FCMQuestionBundle:Feedback:text.html.twig'  %}
                {% endif %}

                {# Verifica se o tipo da pergunta é Symfony\Component\Form\Extension\Core\Type\TextareaType #}
                {% if 'TextareaType' in pergunta.getType() %}
                    {% include 'FCMQuestionBundle:Feedback:textarea.html.twig'  %}
                {% endif %}

                {# Verifica se o tipo da pergunta é Symfony\Component\Form\Extension\Core\Type\ChoiceType #}
                {% if 'ChoiceType' in pergunta.getType() %}
                    {% include 'FCMQuestionBundle:Feedback:choice.html.twig'  %}
                {% endif %}

                {# Verifica se o tipo da pergunta é Symfony\Component\Form\Extension\Core\Type\CheckBoxType #}
                {% if 'CheckBoxType' in pergunta.getType() %}
                    {% include 'FCMQuestionBundle:Feedback:multiplechoice.html.twig'  %}
                {% endif %}

                {# Verifica se o tipo da pergunta é Symfony\Component\Form\Extension\Core\Type\NumberType #}
                {% if 'NumberType' in pergunta.getType() %}
                    {% include 'FCMQuestionBundle:Feedback:number.html.twig'  %}
                {% endif %}

                {# Verifica se o tipo da pergunta é Vich\UploaderBundle\Form\Type\VichFileType #}
                {% if 'VichFileType' in pergunta.getType() %}
                    {% include 'FCMQuestionBundle:Feedback:upload.html.twig'  %}
                {% endif %}
            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block jscustom %}
{# Chart #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.11/highcharts.js" integrity="sha256-kdXa+87js6pBxdWeNwFj0+gBFdNW8fbk0jWIHL9jWl8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highchartTable/2.0.0/jquery.highchartTable.min.js" integrity="sha256-j4pXcjEAHApZeVWq1JhNVg7a8wWj1vKNNF0ZzTszRJk=" crossorigin="anonymous"></script>

{# Slick #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js" integrity="sha256-4Cr335oZDYg4Di3OwgUOyqSTri0jUm2+7Gf2kH3zp1I=" crossorigin="anonymous"></script>

<script type="text/javascript">
    $('.text-carousel').slick({
        dots: true,
        infinite: false,
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1,
        customPaging : function(slider, i) {
            var thumb = $(slider.$slides[i]).data();
            return i;
            // return '<span class="btn btn-default btn-icon waves-effect waves-circle waves-float">'+ i +'</span>'
        },
    });
    $('.slick-dots').slick({
        slidesToShow: 30,
        slidesToScroll: 30,
        arrows: true,
        responsive: [
            {
                breakpoint: 900,
                settings: {
                    arrows: true,
                    slidesToScroll: 15,
                    slidesToShow: 15,
                }
            },
            {
                breakpoint: 480,
                settings: {
                    arrows: true,
                    slidesToScroll: 10,
                    slidesToShow: 10,
                }
            }
        ]
    });

    $(document).ready(function() {
        $('table.highchart').highchartTable();
    });
</script>
{% endblock %}