<div class="card">
    <div class="card-header">
        <h2> {{ pergunta.getNome() }} <br><small>Os valores do gráfico não correspondem ao número de pessoas, já que cada usuário pode assinalar mais de uma opção</small></h2>
    </div>

    <div class="card-body">
        <div class="card-padding">
            {% set respostas = pergunta.getSameAnswers() %}
            <table class="highchart" data-graph-container-before="1" data-graph-type="column" style="display: none">
                <thead>
                    <tr>
                        {% for resposta, quantidade in respostas %}
                            {% if loop.first %} <th></th> {% endif %}
                            <th>{{ resposta }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for resposta, quantidade in respostas %}
                            {% if loop.first %} <td>Frequência</td> {% endif %}
                            <td>{{ quantidade|length }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>
</div>
