<div class="card">
    <div class="card-header">
        <h2> {{ pergunta.getNome() }} <br><small>Quantidade de pessoas que responderam o número</small></h2>
    </div>

    <div class="card-body">
        <div class="card-padding">
        {% set respostas = pergunta.getSameAnswers() %}

        {% for resposta, username in respostas %}
            {% set quantidade = username|length %}
            {% set font_size = pergunta.setSizeScale(username|length, respostas) %}
            {# {% set font_size = 12 %} #}

            <button data-toggle="tooltip" title="{{ username|join(', ') }}" type="button" style="font-size: {{ font_size }}px" class="btn btn-primary">
                <span class="badge" style="font-size: {{ font_size }}px">{{ resposta }}</span>
                {{ quantidade }} <small>{{ quantidade != 1 ? 'pessoas' : 'pessoa' }}</small>
            </button>

        {% endfor %}
        </div>
        <br>
    </div>
</div>