<div class="card">
    <div class="card-header">
        <h2> {{ pergunta.getNome() }} <br><small>Clique na pergunta desejada para visualizar todas as respostas</small></h2>
    </div>

    <div class="card-body">
        <div class="card-padding">
            <div class="panel panel-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ pergunta.id }}" aria-expanded="false" aria-controls="collapse{{ pergunta.id }}">
                <div role="tab" id="heading{{ pergunta.id }}">
                    <h4 class="panel-title">
                        <span>
                            <small><i class="collapse-icon fa fa-plus" aria-hidden="true"></i></small> {{ pergunta.getNome() }}
                        </span>
                    </h4>
                </div>
                <div id="collapse{{ pergunta.id }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ pergunta.id }}">
                    <div class="panel-body">
                        {% set respostas = pergunta.getRespostaItens().getValues() %}
                        {% set qtd_respostas = pergunta.getRespostaItens().getValues()|length %}

                        <p>Mostrando um total de {{ qtd_respostas }} respostas</p>
                        {% for resposta in respostas %}
                            <blockquote>
                                {% set nome = resposta.getResposta().getCreatedBy().getParticipante().getNome() %}
                                {% set email = resposta.getResposta().getCreatedBy().getParticipante().getEmail() %}
                                {% set documento = resposta.getResposta().getCreatedBy().getParticipante().getDocumento() %}

                                <p>"{{ resposta.getText() }}"</p>
                                <footer>
                                    {% if resposta.isAnonimo() %}
                                        Resposta anonima
                                    {% else %}
                                        {{ nome }}, {{ documento }} | <a href="mailto:{{ email }}">{{ email }}</a>
                                    {% endif %}
                                </footer>

                            </blockquote>
                        {% endfor %}
                    </div>
                </div>

                <h4 class="more_details">
                    <small>{{ qtd_respostas }} {{ qtd_respostas == 1 ? 'resposta' : 'respostas' }}, clique para ver mais detalhes</small>
                </h4>
            </div>
            {# <a class="view-more" href="">Ver todos</a> #}
        </div>
        <br>
    </div>
</div>