<div class="card">
    <div class="card-header">
        <h2> {{ pergunta.getNome() }} <br><small>Clique nas setas ou nos números (se houver) para ver mais</small></h2>
    </div>

    <div class="card-body">
        <div class="card-padding">
            <div class="text-carousel">
                {% set respostas = pergunta.getRespostaItens().getValues() %}
                {% set qtd_respostas = pergunta.getRespostaItens().getValues()|length %}

                {% for resposta in respostas %}
                    {% set nome = resposta.getResposta().getCreatedBy().getParticipante().getNome() %}
                    {% set email = resposta.getResposta().getCreatedBy().getParticipante().getEmail() %}
                    {% set documento = resposta.getResposta().getCreatedBy().getParticipante().getDocumento() %}

                    <div class="">
                        <blockquote class="styled">
                            <p>{{ resposta.getText() }}</p>
                            <footer>
                                {% if resposta.isAnonimo() %}
                                    Resposta anonima
                                {% else %}
                                    {{ nome }}, {{ documento }} | <a href="mailto:{{ email }}">{{ email }}</a>
                                {% endif %}
                            </footer>
                        </blockquote>
                    </div>

                {% endfor %}
            </div>
            {# <a class="view-more" href="">Ver todos</a> #}
        </div>
        <br>
    </div>
</div>
