<div class="card">
    <div class="card-header">
        <h2> {{ pergunta.getNome() }} <br><small>Arquivos enviados pelos usuários</small></h2>
    </div>

    <div class="card-body">
        <div class="card-padding list-group">
            {% set respostas = pergunta.getRespostaItens().getValues() %}
            {% set qtd_respostas = pergunta.getRespostaItens().getValues()|length %}

            {% for resposta in respostas %}
                {% set nome = resposta.getResposta().getCreatedBy().getParticipante().getNome() %}
                {% set email = resposta.getResposta().getCreatedBy().getParticipante().getEmail() %}
                {% set documento = resposta.getResposta().getCreatedBy().getParticipante().getDocumento() %}
                {% set limit = 4 %}

                <span class="list-group-item media" style="{{ loop.index > limit ? 'display: none' : '' }}">
                    <div class="pull-left">
                        {# <a href="{{ path('download_questionario_file', { 'file' : resposta.getFile(), 'eventoAtividade' : questionario.getEventoAtividade() }) }}"> #}
                            <button class="btn btn-primary btn-icon waves-effect waves-circle waves-float"><i class="fa fa-download"></i></button>
                        {# </a> #}
                    </div>
                    <div class="media-body">
                        <div class="lgi-heading">Arquivo: {{ resposta.getFileName() }} por 
                            {% if resposta.isAnonimo() %}
                                <strong>Anonimo</strong>
                                {% else %}
                                    {{ nome }}
                                {% endif %}
                        </div>
                        {% if not resposta.isAnonimo() %}
                            <small class="lgi-text">
                                {{ documento }} | {{ email }}
                            </small>
                        {% endif %}
                    </div>
                </span>

            {% endfor %}
        </div>
        {% if qtd_respostas > 4 %}
            <a class="view-more" href="">Ver mais arquivos</a>
        {% endif %}
    </div>
</div>