<div class="ui card fluid">
    <div class="content">
        <div class="ui divided items">
            <div class="item">
                <div class="ui tiny image">
                    <img src="{{ asset('bundles/fcmevento/images/icons8-micro-100.png')}}">
                </div>
                <div class="middle aligned content">
                    <div class="header">Sobre o gerenciador de eventos</div>
                </div>
            </div>
        </div>
        <p>Ferramenta destinada a comunidade para gerenciamento de eventos, workshops, aulas, etc.</p>
        <p>
            <strong>Funcionalidades</strong>
            <ul class="pl-4">
                <li>Controle de inscrições, atividades e participantes</li>
                <li>Emissão de certificados</li>
                <li>Coleta de trabalhos para workshops</li>
            </ul>
        </p>
        <p>Para criar seu evento entre em contato com o <a href="{{ path('help') }}">DTI - IA</a></p>
    </div>
</div>