<div class="ui card fluid red">
    <div class="content">
        <div class="header">
            <i class="fas fa-user-circle"></i> {{ app.user.participante.nome }}
        </div>
    </div>
    <div class="content">
        <div class="description">
            <p><label>Documento </label><br/> {{ app.user.participante.documento }}</p>
            <p><label>E-mail </label><br/> {{ app.user.participante.email }}</p>
        </div>
    </div>

    <div class="content">
        <div class="menu ui vertical text">
        <a class="item" href="{{ path('home') }}">Eventos disponíveis</a>
        <a class="item" href="{{ path('dashboard') }}">Meus eventos</a>
        <a class="item" href="{{ path('participante_edit', {'id' : app.user.participante.id}) }}">Alterar dados</a>
        <a class="item" href="{{ path('logout') }}">Sair</a>
        </div>
    </div>
</div>