{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block body %}
    <div class="ui items">
        <div class="item">
            <div class="image">
                <img class="" src="{{ asset('bundles/fcmevento/images/logo.png') }}">
            </div>
            <div class="content">

                <br/>
                <br/>
                <h3>Em caso de dúvidas entre em contato conosco</h3>
                <p>Instituto de Artes - Diretoria Técnica de Informática</p>
                <p><a href="mailto:dti@iar.unicamp.br">intraia@unicamp.br</a></p>
                <p>+55 (19) 3521-6571 e 3521-6564</p>
                <p>Rua Elis Regina, 50 – Prédio da Pós-Graduação – 1º piso</p>
                <br/>
                <br/>
                <a class="ui button primary" href="{{ path('home') }}">Ir para a home</a>
                <br/>
                <br/>


            </div>
        </div>
    </div>

    <div class="ui ">

    </div>


    <h2>

    </h2>
    <br />
    <br />

{% endblock %}

