{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block sidebar_inner %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="row">
        {% if eventos is not empty %}
            {% for evento in eventos[0] %}
                <div class="col-lg-4 col-md-6">
                    {% include 'FCMEventoBundle:Evento:card.home.html.twig' with {'evento' : evento }%}
                </div>
            {% endfor %}

            <div class="col-lg-4 col-md-6">
                {% if eventos[1] is defined %}
                    {% for evento in eventos[1] %}
                        {% include 'FCMEventoBundle:Evento:card.home.html.twig' with {'evento' : evento }%}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="col-lg-4 col-md-6">
                {% if eventos[2] is defined %}
                    {% for evento in eventos[2] %}
                        {% include 'FCMEventoBundle:Evento:card.home.html.twig' with {'evento' : evento }%}
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block jscustom %}
    <script>
        $(document).ready(function() {
            console.log('dimmer');
            $('.card .image').dimmer({
                on: 'hover'
            });
        })
    </script>


{% endblock %}

{% block css_custom %}
    {% stylesheets
        '@FCMThemeBundle/Resources/public/css/semantic-ui/accordion.min.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}