{% extends '@FCMLabel/default.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.eventoNome) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.atividadeNome) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.qrcode) }}
        </div>
    </div>

    {{ form_row(form.body) }}
    <table class="ui table">
    {% for pergunta in perguntas %}
        <tr>
            <td>[pergunta.{{ pergunta.id }}]</td>
            <td>{{ pergunta.nome }}</td>
        </tr>
    {% endfor %}
    </table>

    <br/>


    {% include ':default:button.submit.html.twig' %}
    {% include ':default:button.html.twig' with {'href' : back, 'text' : 'Voltar'}%}
    {{ form_end(form) }}


{% endblock %}

{% block jscustom %}

{% endblock %}