<td class="cell{% if index is odd %} cell-left{% else %} cell-right{% endif %}">
    <table>
        <tr>
            {% if etiqueta.qrcode %}
                <td>
                    <img src="{{ image_path }}" style="margin-top: 2cm">
                </td>
            {% endif %}
            <td style="">
                {% if etiqueta.eventoNome %}
                    {{ inscricao.eventoAtividade.evento.nome }}
                {% endif %}
                {{ corpo|raw }}
            </td>
        </tr>
    </table>
</td>
