<head>
    <meta HTTP-EQUIV='Content-Type' CONTENT='text/html; charset=utf-8' />
</head>

<style>
    @page {

        /* 'em' 'ex' and % are not allowed; length values are width height */
        margin: 0; /* <any of the usual CSS values for margins> */
        /*(% of page-box width for LR, of height for TB) */
        margin-header: 8mm; /* <any of the usual CSS values for margins> */
        margin-footer: 8mm;

    }
    .container {
        font-size: 12px;
        margin-left: 7mm;
        margin-right: 3mm;
    }

    .cell {
        height: 50mm;
        width: 50%;
    }
    .cell-right{
        padding-left: 5mm;
    }

    .row {
        width: 100%;
        margin-top: 300px;
    }

    table {
        width: 100%;
    }

</style>

<body>

<div class="container">
    <table>
        <tbody>
    {% for inscricao in inscricoes %}

        {% if loop.index is odd %}
            <tr class="row">
        {% endif %}

        {% if inscricao is not empty %}
        {{ render(controller('FCMLabelBundle:Etiqueta:printItem', { 'id': inscricao.id, 'index' : loop.index} )) }}
        {% else %}
            <td class="cell{% if loop.index is odd %} cell-left{% else %} cell-right{% endif %}">
                <table>
                    <tr>
                        <td style=""></td>
                        <td style=""></td>
                    </tr>
                </table>
            </td>

        {% endif %}

        {% if loop.index is even %}
            </tr>
        {% endif %}

    {% endfor %}
        </tbody>
    </table>
</div>

</body>



