{% set label = '' %}

{# y #}
{% if ini|date('Y') != fim|date('Y')%}
    {% set label =  ini|date('d/m/Y')  ~ ' até ' ~ fim|date('d/m/Y') %}
{% endif %}

{# y m #}
{% if ini|date('Y') == fim|date('Y')  and ini|date('m') != fim|date('m') %}
    {% set label =  ini|date('d/m')  ~ ' até ' ~ fim|date('d/m/Y') %}
{% endif %}

{# y m #}
{% if ini|date('Y') == fim|date('Y') and ini|date('m') == fim|date('m') and ini|date('d') != fim|date('d') %}
    {% set label =  ini|date('d')  ~ ' até ' ~ fim|date('d/m/Y') %}
{% endif %}


{% if ini|date('d/m/Y') == fim|date('d/m/Y') %}
    {% set label = '' %}

    {% if ini|date('Y') == fim|date('Y') and ini|date('m') == fim|date('m') and ini|date('d') != fim|date('d') %}
        {% set label =  ini|date('d')  ~ 'até' ~ fim|date('d/m/Y') %}
    {% endif %}
{% endif %}

{{ label }}
