{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block content %}
    <p><i class="material-icons">help_outline</i> Crie uma lista com as informações dos seus participantes e exporte
        para acessarem o wifi Unicamp-Visitante. Siga os passos abaixo:</p>

    <h2>Passo 1</h2>
    <p>Clique abaixo para baixar a lista dos participantes</p>
    <br/>
    <a class="btn btn-primary" href="{{ path('admin_evento_atividade_wifi_list', {
        'evento' : evento.id
    }) }}">Gerar lista</a>

    <h2>Passo 2</h2>
    <p>Acesse o site <a href="https://redesemfio.unicamp.br/visitante/logar.php" target="_blank">
            Rede Sem Fio para Visitantes</a> realize o login com sua <strong>conta Unicamp (usuario@unicamp.br)</strong></p>
    <p> Selecione <strong>Cadastro coletivo e clique em confirmar</strong></p>
    {% image '@FCMEventoBundle/Resources/public/images/step1.jpg' %}<img src="{{ asset_url }}" >{% endimage %}

    <h2>Passo 3</h2>
    <p> Clique em <strong>Browse </strong> realize o upload do arquivo gerado e então em <strong>Importar</strong></p>
    {% image '@FCMEventoBundle/Resources/public/images/step2.jpg' %}<img src="{{ asset_url }}" >{% endimage %}

    <h2>Passo 4</h2>
    <p> Clique em <strong>selecionar todos</strong> e <strong>Imprimir selecionado(s)</strong></p>
    {% image '@FCMEventoBundle/Resources/public/images/step3.jpg' %}<img src="{{ asset_url }}" >{% endimage %}


{% endblock %}