{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block sidebar %}
{% endblock %}
{% block body %}
    <div class="col-md-offset-5">
        <div class="row">
            <div class="col-md-8">
            <div class="card ui fluid">
                <div class="content">
                {% include 'FCMEventoBundle:Default:base.pagetitle.html.twig' %}
                </div>
                <div class="content">
                    <h3>Informe seu e-mail ou CPF</h3>


                    {{ form_start(form) }}

                    {{ form_row(form.email) }}

                    {{ form_row(form.documento) }}

                    {% include ':default:button.submit.html.twig' with {
                        'text' : 'proceed'|trans, 'type' : 'primary'
                    } %}


                    {{ form_end(form) }}
                </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}