{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block sidebar %}
{% endblock %}
{% block body %}
    <div class="col-md-offset-5">
        <div class="row">
            <div class="col-md-8">
                <div class="card ui fluid">
                    <div class="content">
                        {% include 'FCMEventoBundle:Default:base.pagetitle.html.twig' %}
                    </div>
                    <div class="content">
                        <label>Nome</label>
                        <p>{{ participante.nome }}</p>

                        <label>CPF</label>
                        <p>{{ participante.documento }}</p>

                        <label>E-mail</label>
                        <p>{{ participante.email }}</p>
                    </div>
                    <div class="content">
                        {{ form_start(form) }}
                        {% include ':default:button.submit.html.twig' with {
                            'text' : 'Meu e-mail está correto, enviar link de recuperação',
                            'type' : 'positive',
                            'class' : 'fluid',
                        } %}
                        {{ form_end(form) }}
                    </div>
                    <div class="content">
                        {% include ':default:button.html.twig' with {
                            'text' : 'Meu e-mail está incorreto',
                            'type' : 'negative',
                            'class' : 'fluid',
                            'href' : path('resetpass_request_show_step2', { 'id' : participante.id })

                        } %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}