{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block sidebar %}
{% endblock %}
{% block body %}
    <div class="col-md-offset-5">
        <div class="row">
            <div class="col-md-8">
                <div class="card ui fluid">

                    <div class="content">
                        {% include 'FCMEventoBundle:Default:base.pagetitle.html.twig' %}
                    </div>

                    <div class="content">
                        {{ form_start(form) }}
                        <label>Nome</label>
                        <p>{{ participante.nome }}</p>

                        <label>CPF</label>
                        <p>{{ participante.documento }}</p>

                        {{ form_row(form.email) }}

                        {% include ':default:button.submit.html.twig' with {
                            'text' : 'Enviar link de recuperação',
                            'type' : 'positive',
                            'class' : 'fluid',
                        } %}
                        {{ form_row(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}