{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block sidebar %}
{% endblock %}
{% block body %}
    <div class="col-md-offset-5">
        <div class="row">
            <div class="col-md-8">
                <div class="card ui fluid">
                    <div class="content">
                        {% include 'FCMEventoBundle:Default:base.pagetitle.html.twig' %}
                    </div>

                    <div class="content">
                        <label>Nome</label>
                        <p>{{ participante.nome }}</p>

                        <label>CPF</label>
                        <p>{{ participante.documento }}</p>

                        {{ form_start(form) }}

                        {{ form_row(form.email) }}

                        {{ form_row(form.pass) }}

                        <strong>Sua senha deve conter:
                            <p id="length"><i class="material-icons">close</i>Ao menos 8 caracteres</p>
                            <p id="number"><i class="material-icons">close</i>Ao menos um número</p>
                            <p id="capital"><i class="material-icons">close</i>Ao menos uma letra</p>
                        </strong>
                        <br/>
                        {% include ':default:button.submit.html.twig' with {
                            'text' : 'Redefinir'
                        } %}


                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jscustom %}
    <script>
        $('#form_pass_first').keyup(function(){

                var valid = true;
                var pswd = $(this).val();

                //validate the length
                if (pswd.length < 8) {
                    $('#length').removeClass('c-green500').addClass('c-red500');
                    $('#length i').text('close'); valid = false;
                } else {
                    $('#length').removeClass('c-red500').addClass('c-green500');
                    $('#length i').text('check');
                }

                //validate capital letter
                if (pswd.match(/[a-zA-Z]/)) {
                    $('#capital').removeClass('c-red500').addClass('c-green500');
                    $('#capital i').text('check');
                } else {
                    $('#capital i').text('close'); valid = false;
                    $('#capital').removeClass('c-green500').addClass('c-red500');
                }

                //validate number
                if (pswd.match(/\d/) ) {
                    $('#number').removeClass('c-red500').addClass('c-green500');
                    $('#number i').text('check');
                } else {
                    $('#number').removeClass('c-green500').addClass('c-red500');
                    $('#number i').text('close'); valid = false;
                }

                if(valid) $('#form_submit').prop('disabled',false);
                else $('#form_submit').prop('disabled',true);

            }
        );

        function checkpass(pwd){

        }

    </script>
{% endblock %}