
h1 {
    font-family: 'Open Sans', sans-serif;
}

html body h1 {
    font-size: 40px;
}

.programacao td {
    vertical-align: top;
}

.programacao td {
    padding-left: 10px  ;
}

.programacao .c-green { font-weight: bold; }


div.ignite-cta {
    background: url('../img/keyboard-bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    padding: 120px 0 140px;
}

.logos img {
    margin-left: 15px;
}

/* =========
 Navabar
============ */
.nav a{
    color: #fff;
}

/* ==========================================================================
Hero
========================================================================== */
.hero h1 { font-size: 40px; letter-spacing: 12px; color: #fff; }
.hero h1 span { color: #CFD8DC; display: inline-block; }
.hero p { letter-spacing: 1px; }
.hero .btn-margin {
    margin: 40px 0 40px;
}

.learn-more-btn {
    background: rgba(61, 201, 179, 1); padding: 20px 40px; border-radius: 5px;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; color: #fff;
    text-transform: uppercase; letter-spacing: 1px; display: inline-block; -webkit-box-shadow: 0px 3px 0px 0px #309383;
    -moz-box-shadow: 0px 3px 0px 0px #309383; box-shadow: 0px 3px 0px 0px #309383;
     font-weight: bold; }
.learn-more-btn:hover, .learn-more-btn:focus { background: rgba(61, 201, 179, 0.6); color: #fff; }
.hero img {
    max-height: 350px;
    display: inline-block;
}

#navbar-cpem {
    background: rgba(2, 119, 189, 0.5);
}

.parallax .inner {
    background: rgba(2, 119, 189, 0.5);
}

/* =======================
 Investimento
 */

.dark-bg {
    background: rgba(61, 201, 179, 1);
}

.dark-bg h1.arrow {
    color: #fff
}

#sobre, #programacao {
    color: #fff;
}

h1.arrow-sub {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

#investimento .active {
    background: #FFFDE7;

}

#realizacao .block img{
    padding: 30px 0;
    max-height: 220px;
}
