@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700');

body {
    font-size: 16px;
    line-height: 1.5;
}

/* ----------------  THE FONTS */

h1 {
    font-size: 2rem;
    margin-bottom: .5em;
}

p {

    font-size: .8rem;
}

/* ----------------  LAYOUT */

   .container {
       max-width: 1024px;
       width: 90%;
       margin: 0 auto;
   }

/* ----------------  THE FONTS */



.timeline-item {
    padding: 3em 2em 2em;
    position: relative;
    color: rgba(0, 0, 0, .7);
    border-left: 2px solid rgba(0, 0, 0, .3);
}
.timeline-item p {
    font-size: 1rem;
}

.timeline-item::before {
     content: attr(date-is);
     position: absolute;
     left: 2em;
     font-weight: bold;
     top: 1em;
     display: block;
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     font-size: .785rem;
 }

.timeline-item::after {
     width: 10px;
     height: 10px;
     display: block;
     top: 1em;
     position: absolute;
     left: -7px;
     border-radius: 10px;
     content: '';
     border: 2px solid rgba(0, 0, 0, .3);
     background: white;
 }

.timeline-item:last-child {
     border-image: linear-gradient(
     to bottom,
     rgba(0, 0, 0, .3) 60%,
     rgba(0,0,0, 0)) 1 100%;
 }