{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block content %}
    {{ form_start(form) }}
    {% if boleto is defined %}

        <div class="row">
            <div class="form-group col-md-4">
                <label>Última verificação: </label>
                {{ boleto.lastUpdate|date('d/m/Y H:i') }}
            </div>
            <div class="form-group col-md-4">
                <label>Criado em: </label>
                {{ boleto.created|date('d/m/Y H:i') }}
            </div>
        </div>

    {% endif %}

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.status) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.valor) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.dataVencimento) }}
        </div>
    </div>

    {{ include(':default:button.submit.html.twig') }}

    {% if boleto is defined %}
        {% if boleto.urlBoleto is not empty %}
            <a class="ui basic secondary button" target="_blank" href="{{ boleto.urlBoleto }}">Visualizar boleto</a>
            <a class="ui basic secondary button" href="{{ path('admin_inscricao_boleto_new', {
                'inscricao' : boleto.inscricao.id}) }}">Gerar novo boleto</a>

        {% endif %}

    {% endif %}


    {% if delete is defined %}
        <a class="ui basic danger button" href="{{ delete }}">{{ 'main.delete'|trans }}</a>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}

