{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block content %}
    <div class="form-group">
        <p><i class="material-icons">help_outline</i> Utilize para emitir boletos FUNCAMP,
        você deve solicitar previamente á FUNCAMP a emissão de boletos. Procure a informática para maiores detalhes.</p>
    </div>

    <div class="form-group">
        <label>Descrição</label>
        <div class="block">{{ eventoAtividadeBoleto.descricao }}</div>
    </div>

    <div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label>Vencimento</label>
            <div class="block">{{ eventoAtividadeBoleto.vencimento|date('d M Y') }}</div>
        </div>
        <div class="col-md-6">
            <label>Valor padrão</label>
            <div class="block">R$ {{ eventoAtividadeBoleto.valorPadrao|number_format(2,',','.') }}</div>
        </div>
    </div>
    </div>

    <div class="form-group">
    <label>Reimpressão</label>
    <div class="block"><a href="{{ eventoAtividadeBoleto.reimpressao }}">{{ eventoAtividadeBoleto.reimpressao }}</a></div>
    </div>

    <div class="form-group">
    <label>Gerar boleto</label>
    <div class="block"><a href="{{ eventoAtividadeBoleto.envio }}">{{ eventoAtividadeBoleto.envio }}</a></div>
    </div>



{% endblock %}