{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block content %}
    <div class="form-group">
        <label>Status do boleto: </label>
        {% if boleto.status == 0 %}
            <span class="tag c-red500"> Boleto em preparação</span>
        {% endif %}
        {% if boleto.status == 1 %}
            <span class="tag c-orange500 bo-orange500"> Aguardando pagamento</span>
        {% endif %}
        {% if boleto.status == 2 %}
            <span class="tag c-red500 bo-red500"> Boleto pago</span>
        {% endif %}
        {% if boleto.status == 9 %}
            <span class="tag bgm-green500"> Isento</span>
        {% endif %}
    </div>
    <div class="form-group">
        <label>Última verificação: </label>
        {{ boleto.lastUpdate|date('d M Y H:i') }}
    </div>

    {% if boleto.urlBoleto is not empty %}
        <a class="ui button primary" target="_blank" href="{{ boleto.urlBoleto }}">Visualizar boleto</a>
    {% endif %}

{% endblock %}