{% extends 'FCMEventoBundle:Default:base.html.twig' %}

{% block content %}
    <h1>Incluir</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br />
    <a class="btn btn-default" href="{{ back }}">{{ 'main.back'|trans }}</a>
    <input class="btn btn-primary" type="submit" value="{{ 'main.save'|trans }}" />
    {{ form_end(form) }}
    <br />

    <h1>Administradores Cadastrados</h1>
    {% if eas is empty %}Não há administradores cadastrados{% endif %}
    {% for ea in eas %}
        <p>
            <a href="{{ path('admin_evento_admin_delete', { 'id' : ea.id, 'evento' : ea.evento.id }) }}">
                <i class="c-red500 material-icons">clear</i>
            </a>
            {{ ea.user.nome }}
        </p>
    {% endfor %}
{% endblock %}