{% block PerguntaType_label %}{% endblock %}

{% block PerguntaType_widget %}
    <div class="content">
        <div class="row">
            <div class="col-md-9">
                {{ form_row(form.nome) }}
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.type) }}</div>
                    <div class="col-md-6">{{ form_row(form.delta) }}</div>
                </div>
                {{ form_row(form.placeholder) }}
            </div>

            <div class="col-md-3">
                {{ form_row(form.required) }}
                {{ form_row(form.checkApp) }}

                {%if form.anonimo is defined %}{{ form_row(form.anonimo) }}{% endif %}
                {%if form.showAvaliacao is defined %}{{ form_row(form.showAvaliacao) }}{% endif %}
                {%if form.showAvaliacaoLista is defined %}{{ form_row(form.showAvaliacaoLista) }}{% endif %}
            </div>

            <div class="col-md-12 form-group-options hidden">{{ form_row(form.options) }}</div>

        </div>
    </div>
    {{ form_widget(form) }}
    <div class="content">
        {% include ':default:button.submit.html.twig' %}
    </div>
{% endblock %}

{% block PerguntaItemType_label %}{% endblock %}
{% block PerguntaItemType_widget %}
    <div class="card-action">
        <div class="row form-group-perguntaitem">
            <div class="col-md-3">{{ form_row(form.textInscricao) }}</div>
            <div class="col-md-3">{{ form_row(form.textCertificado) }}</div>
            <div class="col-md-3">{{ form_row(form.valor) }}</div>
            <div class="col-md-3">{{ form_row(form.limEscolha) }}</div>
            <div class="col-md-3">{{ form_row(form.dataIniExibicao) }}</div>
            <div class="col-md-3">{{ form_row(form.dataFimExibicao) }}</div>
            <div class="col-md-3">{{ form_row(form.dataLimDeposito) }}</div>
<script>startDates()</script>
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}

{% block jscustom %}

{% endblock %}