{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% form_theme form _self %}

{% block body %}
{{ form_start(form) }}
<div class="question-form" id="questions-form">

    <div class="card ui fluid">
        <div class="content">
            <div class="header">
                {% if back is defined %}<a href="{{ back }}"><i class="material-icons">arrow_back</i></a>{% endif %}
                {{ page_title }}
            </div>
            {% if page_title_desc is defined %}{{ page_title_desc }}{% endif %}
        </div>

        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.type) }}
                </div>

                {%  if questionario.type == 2 %}
                    <div class="col-md-6">
                        {{ form_row(form.feedback) }}
                    </div>
                {% endif %}

                <div class="col-md-6">
                    {% if form.max is defined %}
                        {{ form_row(form.max) }}
                    {% endif %}
                </div>

                {% if questionario.type == 0%}
                    <div class="col-md-6">
                        {{ form_row(form.deposito) }}
                    </div>
                {% endif %}
            </div>

            <div class="row">
                {% if form.dataIniAvaliacao is defined %}<div class="col-md-6">{{ form_row(form.dataIniAvaliacao) }}</div>{% endif %}
                {% if form.dataFimAvaliacao is defined %}<div class="col-md-6">{{ form_row(form.dataFimAvaliacao) }}</div>{% endif %}
                {% if form.aproveRequired is defined %}<div class="col-md-6">{{ form_row(form.aproveRequired) }}</div>{% endif %}
            </div>

            {# TIPO 1: Aos avaliadores, possibilita aprovar ou recursar um trabalho #}
            {% if questionario.type == 1 and form.orientacaoAprovado is defined %}
                {{ form_row(form.orientacaoAprovado) }}
            {% endif %}

        </div>
    </div>
    <div class="card ui fluid">
        <div class="content">
            <div class="header">Modelo</div>
            {# Insere questionario #}
            {% if formQuestionario is defined and eventoAtividade is defined %}
                {% for respostaItem in formQuestionario.respostaItens %}
                    <div class="card-action">
                        {{ form_widget(respostaItem) }}
                        <a class="ui button basic tiny"
                                href="{{ path('admin_evento_atividade_questionario_pergunta_edit', {
                            'eventoAtividade' : eventoAtividade.id,
                            'questionario' : questionario.id,
                            'id' : respostaItem.vars.value.pergunta.id
                        }) }}">
                            editar pergunta
                        </a>
                        <a class="ui button basic tiny"
                                href="{{ path('admin_evento_atividade_questionario_pergunta_delete', {
                            'eventoAtividade' : eventoAtividade.id,
                            'questionario' : questionario.id,
                            'id' : respostaItem.vars.value.pergunta.id
                        }) }}">
                            Excluir pergunta
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="content">
            <a class="ui button basic primary tiny"
                    href="{{ path('admin_evento_atividade_questionario_pergunta_new', {
                'eventoAtividade' : questionario.eventoAtividade.id,
                'questionario' : questionario.id,
            }) }}">
                Incluir pergunta
            </a>
        </div>
    </div>


    {# TIPO 0: Ao se inscrever #}
    {% if questionario.type == 0 %}
        <div class="card ui fluid">
            <div class="content">
            <div class="header" data-toggle="collapse" data-target="#content-descricao">
                <i class="fa fa-chevron-down"></i>
                Instruções durante a inscrição
            </div>
            </div>
            <div id="content-descricao" class="collapse">
            {% if form.descricao is defined %}{{ form_widget(form.descricao) }}{% endif %}
            </div>
        </div>

        {# Deposito bancario #}
        {% if form.orientacao_confirmacao is defined %}
            <div class="card ui fluid">
                <div class="content">
                    <div class="header" data-toggle="collapse" data-target="#content-confirmacao">
                        <i class="fa fa-chevron-down"></i> Instrução enviada com a confirmação da inscrição. Para depósitos, insira os dados bancários
                    </div>
                </div>
                <div id="content-confirmacao" class="collapse">
                    {{ form_widget(form.orientacao_confirmacao) }}
                </div>
            </div>
        {% endif %}

        {% if form.orientacao_pagamento is defined %}
            <div class="card ui fluid">
                <div class="content">
                    <div class="header" data-toggle="collapse" data-target="#content-pagamento">
                        <i class="fa fa-chevron-down"></i>
                        Instrução enviada com a confirmação do depósito
                    </div>
                </div>
                <div id="content-pagamento" class="collapse">
                    {{ form_widget(form.orientacao_pagamento) }}
                </div>
            </div>
        {% endif %}
    {% endif %}


    <br/>
    <a class="btn btn-default" href="{{ back }}">{{ 'voltar'|trans }}</a>
    <input class="btn btn-primary" type="submit" value="Salvar" />

</div>
{{ form_row(form._token) }}
{{ form_row(form) }}
{{ form_end(form) }}



{% endblock %}



{% block jscustom %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script>
        $(document).ready(function() {
            $('.help').on('click', function(event) {
                event.preventDefault();

                $('.instructions').toggle('slow');
                $('.question-form').toggle('slow');

                $('html,body').animate({ scrollTop: 0 }, 'slow');
            });

            $('.help-question').on('click', function(event) {
                event.preventDefault();

                $('.instructions').toggle('slow');
                $('.question-form').toggle('slow');

                $('html,body').animate({scrollTop: $('html,body').height()}, 'slow');
            });
        });
    </script>

    <script type="text/javascript">
        $('.my-selector').collection({
            up: '<a href="#" class=""><i class="material-icons">keyboard_arrow_up</i></a>',
            down: '<a href="#" class=""><i class="material-icons">keyboard_arrow_down</i></a>',
            add: '<a href="#" class=""><i class="material-icons">add</i> incluir pergunta</a>',
            remove: '<a href="#" class=""><i class="material-icons">clear</i> excluir pergunta</a>',
            prefix: 'parent',
            allow_duplicate: false,
            children: [{
                selector: '.perguntaitem-collection',
                up: '<a href="#" class=""><i class="material-icons">keyboard_arrow_up</i></a>',
                down: '<a href="#" class=""><i class="material-icons">keyboard_arrow_down</i></a>',
                add: '<a href="#" class=""><i class="material-icons">add</i> incluir opção</a>',
                remove: '<a href="#" class=""><i class="material-icons">clear</i> excluir opção</a>',
                allow_duplicate: false
            }]
        });
    </script>



{% endblock %}
