<section class="instructions" style="display: none;" id="help-questions-interactive">

	<div class="card notice notice-info question-form help-question" style="display: none">
	    <strong><h2>
	    	<i class="fa fa-arrow-left" aria-hidden="true"></i>
			Clique aqui para voltar
		</h2></strong>Clique para voltar a preencher as perguntas
	</div>
	
	{% include 'FCMQuestionBundle:Questionario:Helpcards/text.html.twig' %}

    {% include 'FCMQuestionBundle:Questionario:Helpcards/textarea.html.twig' %}

    {% include 'FCMQuestionBundle:Questionario:Helpcards/choice.html.twig' %}

    {% include 'FCMQuestionBundle:Questionario:Helpcards/multiplechoice.html.twig' %}

    {# {% include 'FCMQuestionBundle:Questionario:Helpcards/upload.html.twig' %} #}

    <div class="card notice notice-info question-form help-question" style="display: none">
	    <strong><h2>
	    	<i class="fa fa-arrow-left" aria-hidden="true"></i>
			Clique aqui para voltar
		</h2></strong>Clique para voltar a preencher as perguntas
	</div>

</section>