{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block content %}
<div class="form-group">
    <p><i class="material-icons">help_outline</i> Utilize questionários para:</p>
    <p><strong>Questionário no ato da inscrição:</strong> Colete informações quando o participante se inscreve na atividade e insira no certifcado. Ex. Instituição, título do trabalho, co-autores.</p>
    <p><strong>Questionário para avaliação de projetos:</strong> Utilize para avaliações dos trabalhos. Ex. Notas.</p>
    <p><strong>Questionário após o evento:</strong> Feedback do evento. Ex. Você gostou do evento?</p>
</div>
<table class="table">
    <thead>
    <td><strong>Nome</strong></td>
    <td><strong>Perguntas</strong></td>
    <td><strong>Tipo</strong></td>
    <td><strong>Ações</strong></td>
    </thead>
    <tbody>
    {% for q in questionarios %}
    <tr>
        <td>
            {% if q.nome is empty %}<span class="tag">não definido</span>{% else %}{{ q.nome }}{% endif %}
        </td>
        <td>{{ q.perguntas|length }}</td>
        <td><span class="tag">{{ q.getTypeLabel }}</span></td>
        <td>
            <a class="btn btn-default" href="{{ path('admin_evento_atividade_questionario_show', {
                'eventoAtividade' : q.eventoAtividade.id, 'id' : q.id
            }) }}"><i class="material-icons">visibility</i></a>
            <a class="btn btn-default" href="{{ path('admin_evento_atividade_questionario_edit', {
                'eventoAtividade' : q.eventoAtividade.id, 'id' : q.id
            }) }}"><i class="material-icons">edit</i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}