<div class="card ui yellow">
    <div class="content">
        <div class="header">Masquerade</div>
        <div class="description">
        <form action="" method="get" class="">
            <div class="form-group">

                <input class="form-control" type="_switch_user" name="_switch_user" placeholder="Impersonation">
            </div>
            {% include ':default:button.submit.html.twig' with {'text' : 'Alterar usuário', 'type' : 'secondary'}%}
        </form>
        </div>
    </div>
</div>