<div class="row">
    <div class="col-lg-offset-4 col-lg-4 col-md-offset-2 col-md-8 form">
        <div class="card">
            <div class="card-content">
                <form action="{{ path('participante_login') }}" method="post" >
                    <h1><i class="material-icons">face</i> {{ 'usuarios'|trans }}<br />
                        <small>{{ 'msguser'|trans }}</small>
                    </h1>

                    {% for error in error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endfor %}

                    <div class="input-group username">
                        <span class="input-group-addon" id="basic-addon1"><i class="fas fa-user"></i></span>
                        <input id="documento" name="documento" type="text" class="form-control" placeholder="Documento" aria-describedby="basic-addon1" value="{{ documento|default('') }}">
                    </div>
                    <div class="input-group pass">
                        <span class="input-group-addon" id="basic-addon1"><i class="material-icons">lock</i></span>
                        <input name="pass" type="password" id="pass" class="form-control" placeholder="Senha" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group col-md-12">
                        <button class="btn btn-primary col-md-12" type="submit">{{ 'entrar'|trans }}</button>
                        <div class="recover ">
                            <a href="{{ path('resetpass_request') }}">{{ 'esqueceu'|trans }}</a>
                        </div>
                    </div>
                    <input type="hidden" name="_target_path" value="{{ target }}" />
                    <input type="hidden" name="_login" value="{{ login }}" />
                </form>
            </div>
        </div>
    </div>
</div>