<form action="{{ path('participante_login') }}" method="post" >
<div class="card ui fluid">
    <div class="content">
    <div class="ui divided items">
        <div class="item">
            <div class="ui tiny image">
                <img src="{{ asset('bundles/fcmevento/images/icons8-lock-male-user-100.png')}}">
            </div>
            <div class="middle aligned content pl-0">
                <div class="header">
                    {{ 'entrar-participante'|trans }}
                </div>
            </div>
        </div>
    </div>

        <div class="ui form large">

            <div class="field">
                <span>CPF or passport (foreigners only)</span>
                <input type="text" placeholder="" name="documento" autocomplete="off" value="{{ documento|default('') }}">

            </div>
            <div class="field">
                <span>Senha</span>
                <input id="pass" type="password" placeholder="" name="pass" value="{{ documento|default('') }}">
            </div>
            <input type="hidden" name="_target_path" value="{{ target|default(path('home')) }}" />
            <input type="hidden" name="_origin" value="{{ app.request.requestUri }}" />
            <input type="hidden" name="_login" value="{{ login|default('') }}" />
            <a href="{{ path('resetpass_request') }}">{{ 'esqueceu'|trans }}</a>

        </div>
    </div>

    <div class="extra content">
        <div class="ui two buttons">
            {% include ':default:button.submit.html.twig' with {
                'text' : 'Entrar', 'type' : 'primary'
            } %}
            {% include ':default:button.html.twig' with {
                'text' : 'Criar conta', 'class' : 'ui basic',
                'href' : path('participante_new', {
                    'goto' : app.request.requestUri, 'documento' : documento|default('')})
            } %}

        </div>
    </div>



</div>
</form>