{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block sidebar %}{% endblock %}
{% block flash %}{% endblock %}

{% block body %}

<div class="d-flex justify-content-center">

        {% include 'FCMEventoBundle:Auth:card.participante.html.twig' %}

</div>
{% endblock %}
