{% extends "FCMEventoBundle:Default:base.html.twig" %}

{% block sidebar %}
{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center">
    <form action="{{ path('auth_admin') }}" method="post">
    <div class="ui card">
        <div class="content">
            <div class="header">
                Colaboradores
            </div>
        </div>
        <div class="content">
            <p>Informe seu usuário IA e senha</p>

            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="input-group username">
                <span class="input-group-addon" id="basic-addon1"><i class="fas fa-user"></i></span>
                <input id="username" name="_username" type="text" class="form-control" placeholder="Usuário IA" aria-describedby="basic-addon1" value="{{ last_username }}">
            </div>
            <br/>
            <div class="input-group pass">
                <span class="input-group-addon" id="basic-addon1"><i class="fas fa-key"></i></span>
                <input name="_password" type="password" id="password" class="form-control" placeholder="Senha" aria-describedby="basic-addon1">
            </div>

            <br/>
            {% include ':default:button.submit.html.twig' with {'text' : 'Entrar', 'class' : 'fluid'} %}
            <br/>

            <div class="description">
                Acesso permitido somente a docentes e funcionários com usuário IA, demais usuários podem solicitar
                    liberação para criar seu evento através do e-mail: dtiia@unicamp.br
            </div>

            {% if target is not empty %}
            <input type="hidden" name="_target_path" value="{{ target }}" />
            {% endif %}
            <input type="hidden" name="_login" value="{{ login }}" />
        </div>


    </div>
    </form>
    </div>
{% endblock %}
